In [1]:
import requests

pip install pandas

In [2]:
import pandas as pd

In [3]:
import json

In [4]:
import numpy as np

In [5]:
from sodapy import Socrata

In [6]:
client = Socrata("data.cityofnewyork.us", "1vscl5xBtxiCI6ReKRmVwa0zt")

In [7]:
client

In [8]:
results = client.get("k397-673e")

In [9]:
len(results)

1000

In [10]:
results = client.get("k397-673e", limit=50000)

In [11]:
len(results)

50000

In [12]:
df = pd.DataFrame()

In [13]:
for i in range(10):
    results = client.get("k397-673e", limit=50000, offset=50000*i)
    df.append(results)

In [14]:
len(results)

50000

In [15]:
final_results = []
loops = 24 
records = 50000
identified = "k397-673e"
for i in range(loops):
    results = client.get(identified, limit=records, offset=records*i)
    final_results.append(pd.DataFrame(results))

In [16]:
final_results[1]

,fiscal_year,payroll_number,agency_name,last_name,first_name,agency_start_date,work_location_borough,title_description,leave_status_as_of_july_31,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay,mid_init
0,2019,3,BOARD OF ELECTION,SEMIDAY,JONATHAN,2012-09-30T00:00:00.000,MANHATTAN,TRAINER ASSISTANT,ACTIVE,56500.00,per Annum,1825.00,57459.52,573.75,24794.39,6.23,NaN
1,2019,3,BOARD OF ELECTION,DAY,ROBERT,2006-03-12T00:00:00.000,MANHATTAN,SENIOR COMPUTER PROGRAMMER,ACTIVE,80101.00,per Annum,1825.00,81462.93,0.00,0.00,849.68,J
2,2019,3,BOARD OF ELECTION,HARPER-CASTLE,CONSTANCE,2010-10-31T00:00:00.000,MANHATTAN,TRAINER ASSISTANT,ACTIVE,56500.00,per Annum,1825.00,57459.97,575.25,24409.24,636.26,NaN
3,2019,3,BOARD OF ELECTION,SLATER,ROBERT,2011-06-19T00:00:00.000,BROOKLYN,SENIOR VOTING MACHINE TECHNICIAN,ACTIVE,38463.00,per Annum,1825.00,46616.70,1156.50,35299.64,760.34,N
4,2019,3,BOARD OF ELECTION,ROBINSON,BLAINE,2014-07-28T00:00:00.000,BROOKLYN,TRAINER ASSISTANT,ACTIVE,57302.00,per Annum,1825.00,58308.62,549.00,24070.66,465.08,NaN
5,2019,3,BOARD OF ELECTION,HUMMEL,RAYMOND,2002-01-13T00:00:00.000,MANHATTAN,DIRECTOR OF EQUIPMENT,ACTIVE,68347.00,per Annum,1825.00,69448.83,242.00,12003.35,1599.57,K
6,2019,3,BOARD OF ELECTION,ELLABY,DONNA,2012-11-11T00:00:00.000,MANHATTAN,ADMINISTRATIVE ASSOCIATE,ACTIVE,64519.00,per Annum,1825.00,65497.58,357.25,18053.95,659.25,G
7,2019,3,BOARD OF ELECTION,DEAHN,RYAN,2008-12-15T00:00:00.000,MANHATTAN,ASSISTANCE FINANCE OFFICER,ACTIVE,73729.00,per Annum,1825.00,74899.33,164.50,9019.71,839.63,T
8,2018,3,BOARD OF ELECTION,SAMUELS,ALVIN,1993-09-05T00:00:00.000,MANHATTAN,ADMINISTRATIVE ASSOCIATE,ACTIVE,100007.00,per Annum,1790.00,104297.25,950.75,74696.41,1819.87,NaN
9,2018,3,BOARD OF ELECTION,PARASCANDOLO,VINCENT,2011-08-22T00:00:00.000,MANHATTAN,PROJECT COORDINATOR,ACTIVE,89865.00,per Annum,1790.00,94111.87,917.75,65090.48,810.73,NaN
10,2018,3,BOARD OF ELECTION,CAICEDO,SUSAN,2014-11-16T00:00:00.000,MANHATTAN,ASSOCIATE STAFF ANALYST,ACTIVE,81625.00,per Annum,1790.00,84401.32,926.25,60152.46,0.00,M
11,2018,3,BOARD OF ELECTION,SPILLER,GERALD,2013-06-17T00:00:00.000,MANHATTAN,ADMINISTRATIVE ASSOCIATE,ACTIVE,80000.00,per Annum,1790.00,79780.74,973.00,60120.59,459.77,D
12,2018,3,BOARD OF ELECTION,SQUICCIARINI,NICHOLAS,2000-12-25T00:00:00.000,MANHATTAN,ASSOCIATE STAFF ANALYST,ACTIVE,88407.00,per Annum,1790.00,90174.71,859.25,60015.04,1777.92,NaN
13,2018,3,BOARD OF ELECTION,CARDONA,WILLIAM,2002-06-30T00:00:00.000,MANHATTAN,ASSOCIATE STAFF ANALYST,ACTIVE,81497.00,per Annum,1790.00,81273.67,882.50,56378.94,1730.67,NaN
14,2018,3,BOARD OF ELECTION,PATEL,RAJEN,2005-07-03T00:00:00.000,MANHATTAN,COMPUTER SPECIALIST,ACTIVE,128752.00,per Annum,1790.00,128399.18,643.50,49601.66,2009.79,A
15,2018,3,BOARD OF ELECTION,OGUNWALE,ABIODUN,2005-07-03T00:00:00.000,MANHATTAN,COMPUTER SPECIALIST,ACTIVE,109397.00,per Annum,1790.00,109097.30,1051.25,48502.03,1686.56,O
16,2018,3,BOARD OF ELECTION,WORRELL,TREVOR,2004-08-22T00:00:00.000,MANHATTAN,ADMINISTRATIVE ASSOCIATE,ACTIVE,85136.00,per Annum,1790.00,82975.66,765.00,46692.21,1160.66,A
17,2018,3,BOARD OF ELECTION,CHOWDHURY,KHORSHED,2001-07-08T00:00:00.000,BROOKLYN,ADMINISTRATIVE ASSOCIATE,ACTIVE,62539.00,per Annum,1790.00,64867.76,914.50,46688.21,1629.24,A
18,2018,3,BOARD OF ELECTION,ORTIZ,DANIEL,2004-10-03T00:00:00.000,BROOKLYN,DEPUTY CHIEF CLERK,ACTIVE,125641.00,per Annum,1790.00,121708.55,513.25,45768.18,1274.60,F
19,2018,3,BOARD OF ELECTION,DIAZ III,RUBEN,2017-06-05T00:00:00.000,MANHATTAN,SENIOR COMPUTER PROGRAMMER,ACTIVE,89448.00,per Annum,1790.00,89202.88,683.50,45519.65,514.07,NaN
20,2018,3,BOARD OF ELECTION,MARTINEZ,ARTURO,2011-06-19T00:00:00.000,MANHATTAN,SENIOR COMPUTER PROGRAMMER,ACTIVE,69836.00,per Annum,1789.27,69616.58,848.25,45298.36,1047.17,NaN
21,2018,3,BOARD OF ELECTION,GAITOR,ANTHONY,2012-02-12T00:00:00.000,BRONX,VOTING MACHINE TECHNICIAN,ACTIVE,36482.00,per Annum,1790.00,43882.06,1376.50,40993.12,705.18,T
22,2018,3,BOARD OF ELECTION,"HOLT, JR",ROBERT,1981-10-05T00:00:00.000,BROOKLYN,ADMINISTRATIVE ASSOCIATE,ACTIVE,59265.00,per Annum,1790.00,68602.68,685.00,34580.90,1610.44,E
23,2018,3,BOARD OF ELECTION,JOHNSON,TROY,2004-06-10T00:00:00.000,MANHATTAN,PROJECT COORDINATOR,ACTIVE,120182.00,per Annum,1790.00,122377.72,389.50,34275.12,763.88,NaN
24,2018,3,BOARD OF ELECTION,MCGLOSTER,ABIGAIL,2012-03-25T00:00:00.000,MANHATTAN,SENIOR ADMINISTRATIVE ASSISTANT,ACTIVE,72500.00,per Annum,1790.00,71255.57,590.25,30005.08,961.05,NaN
25,2018,3,BOARD OF ELECTION,PULIZOTTO,ELISSA,2012-03-19T00:00:00.000,MANHATTAN,FINANCIAL CLERK,ACTIVE,46156.00,per Annum,1790.00,48342.32,817.25,29434.84,590.99,NaN
26,2018,3,BOARD OF ELECTION,DIXON,KEVIN,2001-10-14T00:00:00.000,BRONX,ADMINISTRATIVE ASSISTANT,ACTIVE,53098.00,per Annum,1790.00,60452.63,698.75,29272.31,1574.99,D
27,2018,3,BOARD OF ELECTION,GUGLIELMI,STEVEN,2014-09-22T00:00:00.000,MANHATTAN,SENIOR ADMINISRATOR,ACTIVE,103870.00,per Annum,1790.00,98922.95,450.25,28318.15,0.00,NaN
28,2018,3,BOARD OF ELECTION,WILLIAMS,SELINA,1998-08-09T00:00:00.000,MANHATTAN,ADMINISTRATIVE ASSOCIATE,ACTIVE,65048.00,per Annum,1790.00,65814.99,587.75,28050.71,1262.56,NaN
29,2018,3,BOARD OF ELECTION,WILLIAMS,HAROLD,2001-01-21T00:00:00.000,BRONX,ADMINISTRATIVE ASSOCIATE,ACTIVE,60406.00,per Annum,1790.00,62740.45,590.50,27975.29,1587.46,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUFFY,KEVIN,2010-01-01T00:00:00.000,MANHATTAN,ELECTION TRAINER ...,ACTIVE,1.00,per Hour,0.00,450.00,0.00,0.00,0.00,F
49971,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUGGAN,SHAMMAR,2015-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,303.00,0.00,0.00,0.00,K
49972,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUGGAN,SHARON,2013-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,225.00,0.00,0.00,0.00,NaN
49973,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUGGAN SHEEHAN,MARY,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,825.00,0.00,0.00,0.00,A
49974,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUGGINS,KENNETH,2012-01-02T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,303.00,0.00,0.00,0.00,E
49975,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUJON,DENNIS,2015-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,303.00,0.00,0.00,0.00,A
49976,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUKE,FREDERIC,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,575.00,0.00,0.00,0.00,M
49977,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUKE,TRENNY,2010-09-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,978.00,0.00,0.00,0.00,NaN
49978,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUKELSKAYA,RITA,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,575.00,0.00,0.00,0.00,NaN
49979,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUKHRAM,CHATTERPAUL,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,7850.80,0.00,0.00,0.00,NaN
49980,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUKHRAM,NALINI,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,1125.00,0.00,0.00,0.00,NaN
49981,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUKULY,VICTORIA,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,783.00,0.00,0.00,0.00,E
49982,2016,NaN,BOARD OF ELECTION POLL WORKERS,DULING,SUSAN,2013-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,784.00,0.00,0.00,0.00,C
49983,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUMAS,BARBARA,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,575.00,0.00,0.00,0.00,M
49984,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUMAS,JACQUELINE,2014-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,300.00,0.00,0.00,0.00,NaN
49985,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUMOY,DIOR,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,775.00,0.00,0.00,0.00,K
49986,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNAISKY-EISENM,FRANCINE,2014-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,305.00,0.00,0.00,0.00,E
49987,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNBAR,ANITA,2013-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,581.00,0.00,0.00,0.00,P
49988,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNBAR,CAROL,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,305.00,0.00,0.00,0.00,NaN
49989,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNBAR,DIANA,2013-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,575.00,0.00,0.00,0.00,NaN
49990,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNBAR,SHIRLEY,2010-09-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,585.00,0.00,0.00,0.00,A
49991,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,ADRIEN,2014-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,578.00,0.00,0.00,0.00,NaN
49992,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,AGATHA,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,754.96,0.00,0.00,0.00,NaN
49993,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,ALEXANDER,2012-01-02T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,778.00,0.00,0.00,0.00,D
49994,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,APRIL,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,578.00,0.00,0.00,0.00,NaN
49995,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,CARLENE,2014-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,584.97,0.00,0.00,0.00,NaN
49996,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,CORA,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,775.00,0.00,0.00,0.00,NaN
49997,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,DASEAN,2015-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,300.00,0.00,0.00,0.00,A
49998,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,DIANE,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,300.00,0.00,0.00,0.00,L
49999,2016,NaN,BOARD OF ELECTION POLL WORKERS,DUNCAN,DIANNA,2010-01-01T00:00:00.000,MANHATTAN,ELECTION WORKER ...,ACTIVE,1.00,per Hour,0.00,300.00,0.00,0.00,0.00,E

In [17]:
result = pd.concat(final_results, sort=True)

In [18]:
result.reset_index()

,index,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,0,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43731.00,DONALD,2019,SIMMONS,CEASED,NaN,0.00,per Annum,67,0.00,0.00,SPECIAL OFFICER,-0.31,1.30,MANHATTAN
1,1,ADMIN FOR CHILDREN'S SVCS,2011-10-24T00:00:00.000,57070.00,KATHIE,2019,MOHAMMED,ON LEAVE,S,0.00,per Annum,67,32.87,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-30.48,MANHATTAN
2,2,ADMIN FOR CHILDREN'S SVCS,2017-09-11T00:00:00.000,31192.00,TANESIA,2019,MCRAE,CEASED,M,0.00,per Annum,67,4.69,0.00,CLERICAL ASSOCIATE,0.00,0.00,BROOKLYN
3,3,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,GINNETTE,2019,ROZON,CEASED,NaN,0.00,per Annum,67,7.24,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
4,4,ADMIN FOR CHILDREN'S SVCS,2012-01-17T00:00:00.000,63436.00,RAFAEL,2019,LOPEZ,CEASED,NaN,0.00,per Annum,67,9.03,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
5,5,ADMIN FOR CHILDREN'S SVCS,2013-12-02T00:00:00.000,63436.00,ANDREA,2019,GONZALEZ-SHERID,CEASED,M,0.00,per Annum,67,9.79,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
6,6,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,63045.00,GWENDOLYN,2019,WASHINGTON,CEASED,NaN,0.00,per Annum,67,-0.03,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,10.84,QUEENS
7,7,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,STEPHANIE,2019,RENAUD,CEASED,K,0.00,per Annum,67,10.86,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,QUEENS
8,8,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,39972.00,HYSEN,2019,SPAHIJA,CEASED,NaN,0.00,per Annum,67,10.94,0.00,CITY CUSTODIAL ASSISTANT,0.00,0.93,MANHATTAN
9,9,ADMIN FOR CHILDREN'S SVCS,2016-09-26T00:00:00.000,34680.00,JOSHUA,2019,BLASS,CEASED,L,0.00,per Annum,67,11.92,0.00,INSTITUTIONAL AIDE,0.00,0.00,BROOKLYN
10,10,ADMIN FOR CHILDREN'S SVCS,1997-04-07T00:00:00.000,39818.00,GLADYS,2019,SOTO,CEASED,NaN,0.00,per Annum,67,10.91,0.00,CLERICAL ASSOCIATE,0.00,1.11,MANHATTAN
11,11,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.00,DANIELLE,2019,WILLIAMS,CEASED,C,0.00,per Annum,67,14.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN
12,12,ADMIN FOR CHILDREN'S SVCS,2004-06-21T00:00:00.000,35911.00,ANDON,2019,DEDE,CEASED,NaN,0.00,per Annum,67,13.61,0.00,CLERICAL ASSOCIATE,0.00,1.19,MANHATTAN
13,13,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.00,JAVIER,2019,IRIZARRY,CEASED,NaN,0.00,per Annum,67,12.94,0.00,CHILD PROTECTIVE SPECIALIST,5.42,0.00,MANHATTAN
14,14,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.00,JASMINE,2019,FRYE,CEASED,A,0.00,per Annum,67,622.05,0.00,CHILD PROTECTIVE SPECIALIST,-604.17,2.30,MANHATTAN
15,15,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,36368.00,ANN,2019,SIMON,CEASED,I,0.00,per Annum,67,46.34,0.00,CLERICAL ASSOCIATE,0.00,-25.53,BROOKLYN
16,16,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.00,PIERRE,2019,REGIS,CEASED,G,0.00,per Annum,67,368.20,0.00,CHILD PROTECTIVE SPECIALIST,-349.06,1.78,BROOKLYN
17,17,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,86001.00,DORA,2019,AKHAZETA,CEASED,NaN,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,21.92,MANHATTAN
18,18,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.00,ANDRE,2019,DAVIS,CEASED,L,0.00,per Annum,67,23.36,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
19,19,ADMIN FOR CHILDREN'S SVCS,2006-11-20T00:00:00.000,87271.00,ALFRED,2019,MURPHY,CEASED,J,0.00,per Annum,67,23.44,0.00,PROTECTION AGENT,0.00,0.14,MANHATTAN
20,20,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,53519.00,JULIE,2019,PERSAUD,ON LEAVE,M,0.00,per Annum,67,23.88,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
21,21,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,57070.00,DANIKA,2019,SHEA,ON LEAVE,B,0.00,per Annum,67,38.40,-14.00,CHILD PROTECTIVE SPECIALIST,8.28,-22.12,MANHATTAN
22,22,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,48605.00,CAONABO,2019,CASTILLO,CEASED,J,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,BROOKLYN
23,23,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43136.00,AUBREY,2019,MARTIN,CEASED,C,0.00,per Annum,67,29.26,0.00,JUVENILE COUNSELOR,0.00,-0.02,BRONX
24,24,ADMIN FOR CHILDREN'S SVCS,2014-04-28T00:00:00.000,63436.00,THOMAS,2019,RIZZO,CEASED,V,0.00,per Annum,67,31.35,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
25,25,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,57070.00,NISAA,2019,GREENLEY,CEASED,N,0.00,per Annum,67,68.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-34.70,BROOKLYN
26,26,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,JEAN,2019,SERVIUS,CEASED,W,0.00,per Annum,67,34.67,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
27,27,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.00,SYDOWNIE,2019,THOMPSON,CEASED,K,0.00,per Annum,67,33.70,0.00,CHILD PROTECTIVE SPECIALIST,1.40,0.00,QUEENS
28,28,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.00,ARIEL,2019,GAYLE,CEASED,S,0.00,per Annum,67,31.04,0.00,CHILD PROTECTIVE SPECIALIST,6.58,0.00,QUEENS
29,29,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,57070.00,MARIE,2019,TALUY,ON LEAVE,R,0.00,per Annum,67,38.74,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199970,49970,DEPT OF ED PEDAGOGICAL,2007-08-30T00:00:00.000,96083.00,TIFFANY,2019,TAYLOR,ACTIVE,NaN,0.00,per Annum,742,103622.71,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199971,49971,DEPT OF ED PEDAGOGICAL,2011-09-06T00:00:00.000,92322.00,MICHELLE,2019,AMALFITANO,ACTIVE,K,0.00,per Annum,742,103622.86,0.00,TEACHER,0.00,0.00,MANHATTAN
1199972,49972,DEPT OF ED PEDAGOGICAL,1997-04-02T00:00:00.000,96083.00,CRYSTAL,2019,LAUREN,ACTIVE,M,0.00,per Annum,742,103622.86,0.00,TEACHER,0.00,0.00,MANHATTAN
1199973,49973,DEPT OF ED PEDAGOGICAL,2000-09-05T00:00:00.000,96083.00,MELISSA,2019,ROCHA,ACTIVE,NaN,0.00,per Annum,742,103623.26,0.00,TEACHER,0.00,0.00,MANHATTAN
1199974,49974,DEPT OF ED PEDAGOGICAL,1999-06-08T00:00:00.000,96083.00,HILDA,2019,GYAMFI,ACTIVE,NaN,0.00,per Annum,742,103623.32,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199975,49975,DEPT OF ED PEDAGOGICAL,2008-08-28T00:00:00.000,96083.00,KRISTINA,2019,KELLEY,ACTIVE,N,0.00,per Annum,742,103623.50,0.00,TEACHER ASSIGNED B,0.00,0.00,MANHATTAN
1199976,49976,DEPT OF ED PEDAGOGICAL,2012-09-04T00:00:00.000,99852.00,VARINIA,2019,TORRES,ACTIVE,E,0.00,per Annum,742,103623.84,0.00,SCHOOL SOCIAL WORKER,0.00,0.00,MANHATTAN
1199977,49977,DEPT OF ED PEDAGOGICAL,1983-09-22T00:00:00.000,119472.00,TED,2019,LEWIS,CEASED,T,0.00,per Annum,742,102975.36,0.00,TEACHER SPECIAL EDUCATION,0.00,648.62,MANHATTAN
1199978,49978,DEPT OF ED PEDAGOGICAL,2005-09-06T00:00:00.000,98644.00,MICHELLE,2019,PERALTA,ACTIVE,NaN,0.00,per Annum,742,103624.31,0.00,TEACHER,0.00,0.00,MANHATTAN
1199979,49979,DEPT OF ED PEDAGOGICAL,2004-09-07T00:00:00.000,95051.00,MARIA,2019,DURAN,ACTIVE,NaN,0.00,per Annum,742,103624.37,0.00,TEACHER,0.00,0.00,MANHATTAN
1199980,49980,DEPT OF ED PEDAGOGICAL,2007-11-13T00:00:00.000,96083.00,SEAN,2019,NICHOLSON,ACTIVE,A,0.00,per Annum,742,103624.54,0.00,TEACHER,0.00,0.00,MANHATTAN
1199981,49981,DEPT OF ED PEDAGOGICAL,2007-08-30T00:00:00.000,96083.00,SANDIYA,2019,SINGH,ACTIVE,S,0.00,per Annum,742,103624.57,0.00,TEACHER,0.00,0.00,MANHATTAN
1199982,49982,DEPT OF ED PEDAGOGICAL,2006-08-31T00:00:00.000,96083.00,NANCY,2019,PIRON,ACTIVE,NaN,0.00,per Annum,742,103624.70,0.00,TEACHER,0.00,0.00,MANHATTAN
1199983,49983,DEPT OF ED PEDAGOGICAL,2006-08-31T00:00:00.000,95272.00,SELACY,2019,CHIMILIO,ACTIVE,NaN,0.00,per Annum,742,103624.70,0.00,GUIDANCE COUNSELOR,0.00,0.00,MANHATTAN
1199984,49984,DEPT OF ED PEDAGOGICAL,2010-09-07T00:00:00.000,96083.00,THERESA,2019,TEPEDINO,ACTIVE,M,0.00,per Annum,742,103626.24,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199985,49985,DEPT OF ED PEDAGOGICAL,2007-08-30T00:00:00.000,96083.00,ANTHONY,2019,COOPER,ACTIVE,NaN,0.00,per Annum,742,103627.13,0.00,TEACHER,0.00,0.00,MANHATTAN
1199986,49986,DEPT OF ED PEDAGOGICAL,2007-08-30T00:00:00.000,96083.00,DANIEL,2019,PERKOWSKI,ACTIVE,L,0.00,per Annum,742,103628.82,0.00,TEACHER,0.00,0.00,MANHATTAN
1199987,49987,DEPT OF ED PEDAGOGICAL,2009-09-08T00:00:00.000,92322.00,KRISTINA,2019,SCOLARI,ACTIVE,M,0.00,per Annum,742,103629.35,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199988,49988,DEPT OF ED PEDAGOGICAL,2005-02-28T00:00:00.000,96083.00,CHERYL,2019,RIZZO,ACTIVE,L,0.00,per Annum,742,103629.44,0.00,TEACHER,0.00,0.00,MANHATTAN
1199989,49989,DEPT OF ED PEDAGOGICAL,2000-06-21T00:00:00.000,98644.00,MARY,2019,CONDON,ON LEAVE,A,0.00,per Annum,742,103631.75,0.00,TEACHER,0.00,0.00,MANHATTAN
1199990,49990,DEPT OF ED PEDAGOGICAL,1996-10-31T00:00:00.000,96083.00,ELIZABETH,2019,MCGOVERN,ACTIVE,NaN,0.00,per Annum,742,103632.02,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199991,49991,DEPT OF ED PEDAGOGICAL,2004-09-07T00:00:00.000,95051.00,KATHRYN,2019,CLEARY,ACTIVE,A,0.00,per Annum,742,103632.45,0.00,TEACHER,0.00,0.00,MANHATTAN
1199992,49992,DEPT OF ED PEDAGOGICAL,2007-08-30T00:00:00.000,96083.00,BRITTANY,2019,GARLAND,ACTIVE,NaN,0.00,per Annum,742,103632.59,0.00,TEACHER,0.00,0.00,MANHATTAN
1199993,49993,DEPT OF ED PEDAGOGICAL,2003-09-02T00:00:00.000,96871.00,AAISHA,2019,SULTANA,ACTIVE,NaN,0.00,per Annum,742,103632.74,0.00,TEACHER,0.00,0.00,MANHATTAN
1199994,49994,DEPT OF ED PEDAGOGICAL,2000-08-09T00:00:00.000,96871.00,ELKANAH,2019,ADELMAN,ACTIVE,NaN,0.00,per Annum,742,103634.62,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199995,49995,DEPT OF ED PEDAGOGICAL,2007-07-01T00:00:00.000,96083.00,JENNIFER,2019,ADDEO,ACTIVE,L,0.00,per Annum,742,103254.21,0.00,TEACHER,0.00,0.00,MANHATTAN
1199996,49996,DEPT OF ED PEDAGOGICAL,1992-10-05T00:00:00.000,96083.00,ANGELA,2019,BESIGNANO,ACTIVE,G,0.00,per Annum,742,103254.76,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199997,49997,DEPT OF ED PEDAGOGICAL,2008-08-28T00:00:00.000,96083.00,ROXSAND,2019,TUCKER,ACTIVE,M,0.00,per Annum,742,103256.49,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199998,49998,DEPT OF ED PEDAGOGICAL,2011-02-14T00:00:00.000,91103.00,ALEXANDRIA,2019,DETOTA,ACTIVE,NaN,0.00,per Annum,742,103257.06,0.00,TEACHER SPECIAL EDUCATION,0.00,0.00,MANHATTAN
1199999,49999,DEPT OF ED PEDAGOGICAL,2003-09-02T00:00:00.000,96871.00,JORGE,2019,HERNANDEZ,ACTIVE,E,0.00,per Annum,742,103257.53,0.00,TEACHER,0.00,0.00,MANHATTAN

In [19]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200000 entries, 0 to 49999
Data columns (total 17 columns):
agency_name                   1200000 non-null object
agency_start_date             1200000 non-null object
base_salary                   1200000 non-null object
first_name                    1199871 non-null object
fiscal_year                   1200000 non-null object
last_name                     1199873 non-null object
leave_status_as_of_july_31    1200000 non-null object
mid_init                      628212 non-null object
ot_hours                      1200000 non-null object
pay_basis                     1200000 non-null object
payroll_number                624713 non-null object
regular_gross_paid            1200000 non-null object
regular_hours                 1200000 non-null object
title_description             1199968 non-null object
total_ot_paid                 1200000 non-null object
total_other_pay               1200000 non-null object
work_location_borough         1030972 non-null object
dtypes: object(17)
memory usage: 164.8+ MB

In [20]:
result['fiscal_year'] == "2016"

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Name: fiscal_year, Length: 1200000, dtype: bool

In [21]:
result[:1]

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43731.00,DONALD,2019,SIMMONS,CEASED,NaN,0.00,per Annum,67,0.00,0.00,SPECIAL OFFICER,-0.31,1.30,MANHATTAN

In [32]:
result[:20000]

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43731.00,DONALD,2019,SIMMONS,CEASED,NaN,0.00,per Annum,67,0.00,0.00,SPECIAL OFFICER,-0.31,1.30,MANHATTAN
1,ADMIN FOR CHILDREN'S SVCS,2011-10-24T00:00:00.000,57070.00,KATHIE,2019,MOHAMMED,ON LEAVE,S,0.00,per Annum,67,32.87,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-30.48,MANHATTAN
2,ADMIN FOR CHILDREN'S SVCS,2017-09-11T00:00:00.000,31192.00,TANESIA,2019,MCRAE,CEASED,M,0.00,per Annum,67,4.69,0.00,CLERICAL ASSOCIATE,0.00,0.00,BROOKLYN
3,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,GINNETTE,2019,ROZON,CEASED,NaN,0.00,per Annum,67,7.24,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
4,ADMIN FOR CHILDREN'S SVCS,2012-01-17T00:00:00.000,63436.00,RAFAEL,2019,LOPEZ,CEASED,NaN,0.00,per Annum,67,9.03,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
5,ADMIN FOR CHILDREN'S SVCS,2013-12-02T00:00:00.000,63436.00,ANDREA,2019,GONZALEZ-SHERID,CEASED,M,0.00,per Annum,67,9.79,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
6,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,63045.00,GWENDOLYN,2019,WASHINGTON,CEASED,NaN,0.00,per Annum,67,-0.03,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,10.84,QUEENS
7,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,STEPHANIE,2019,RENAUD,CEASED,K,0.00,per Annum,67,10.86,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,QUEENS
8,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,39972.00,HYSEN,2019,SPAHIJA,CEASED,NaN,0.00,per Annum,67,10.94,0.00,CITY CUSTODIAL ASSISTANT,0.00,0.93,MANHATTAN
9,ADMIN FOR CHILDREN'S SVCS,2016-09-26T00:00:00.000,34680.00,JOSHUA,2019,BLASS,CEASED,L,0.00,per Annum,67,11.92,0.00,INSTITUTIONAL AIDE,0.00,0.00,BROOKLYN
10,ADMIN FOR CHILDREN'S SVCS,1997-04-07T00:00:00.000,39818.00,GLADYS,2019,SOTO,CEASED,NaN,0.00,per Annum,67,10.91,0.00,CLERICAL ASSOCIATE,0.00,1.11,MANHATTAN
11,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.00,DANIELLE,2019,WILLIAMS,CEASED,C,0.00,per Annum,67,14.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN
12,ADMIN FOR CHILDREN'S SVCS,2004-06-21T00:00:00.000,35911.00,ANDON,2019,DEDE,CEASED,NaN,0.00,per Annum,67,13.61,0.00,CLERICAL ASSOCIATE,0.00,1.19,MANHATTAN
13,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.00,JAVIER,2019,IRIZARRY,CEASED,NaN,0.00,per Annum,67,12.94,0.00,CHILD PROTECTIVE SPECIALIST,5.42,0.00,MANHATTAN
14,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.00,JASMINE,2019,FRYE,CEASED,A,0.00,per Annum,67,622.05,0.00,CHILD PROTECTIVE SPECIALIST,-604.17,2.30,MANHATTAN
15,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,36368.00,ANN,2019,SIMON,CEASED,I,0.00,per Annum,67,46.34,0.00,CLERICAL ASSOCIATE,0.00,-25.53,BROOKLYN
16,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.00,PIERRE,2019,REGIS,CEASED,G,0.00,per Annum,67,368.20,0.00,CHILD PROTECTIVE SPECIALIST,-349.06,1.78,BROOKLYN
17,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,86001.00,DORA,2019,AKHAZETA,CEASED,NaN,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,21.92,MANHATTAN
18,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.00,ANDRE,2019,DAVIS,CEASED,L,0.00,per Annum,67,23.36,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
19,ADMIN FOR CHILDREN'S SVCS,2006-11-20T00:00:00.000,87271.00,ALFRED,2019,MURPHY,CEASED,J,0.00,per Annum,67,23.44,0.00,PROTECTION AGENT,0.00,0.14,MANHATTAN
20,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,53519.00,JULIE,2019,PERSAUD,ON LEAVE,M,0.00,per Annum,67,23.88,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
21,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,57070.00,DANIKA,2019,SHEA,ON LEAVE,B,0.00,per Annum,67,38.40,-14.00,CHILD PROTECTIVE SPECIALIST,8.28,-22.12,MANHATTAN
22,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,48605.00,CAONABO,2019,CASTILLO,CEASED,J,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,BROOKLYN
23,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43136.00,AUBREY,2019,MARTIN,CEASED,C,0.00,per Annum,67,29.26,0.00,JUVENILE COUNSELOR,0.00,-0.02,BRONX
24,ADMIN FOR CHILDREN'S SVCS,2014-04-28T00:00:00.000,63436.00,THOMAS,2019,RIZZO,CEASED,V,0.00,per Annum,67,31.35,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
25,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,57070.00,NISAA,2019,GREENLEY,CEASED,N,0.00,per Annum,67,68.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-34.70,BROOKLYN
26,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,JEAN,2019,SERVIUS,CEASED,W,0.00,per Annum,67,34.67,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
27,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.00,SYDOWNIE,2019,THOMPSON,CEASED,K,0.00,per Annum,67,33.70,0.00,CHILD PROTECTIVE SPECIALIST,1.40,0.00,QUEENS
28,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.00,ARIEL,2019,GAYLE,CEASED,S,0.00,per Annum,67,31.04,0.00,CHILD PROTECTIVE SPECIALIST,6.58,0.00,QUEENS
29,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,57070.00,MARIE,2019,TALUY,ON LEAVE,R,0.00,per Annum,67,38.74,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,ADMIN FOR CHILDREN'S SVCS,2013-07-22T00:00:00.000,43116.00,DALMA,2016,MATOS,ON LEAVE,S,125.25,per Annum,NaN,41727.79,1795.75,JUVENILE COUNSELOR ...,3768.82,904.07,BRONX
19971,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,52359.00,JOSE,2016,MATOS,ACTIVE,NaN,309.25,per Annum,NaN,51792.27,2091.42,CONGREG CARE SPEC- DJJ ...,9313.34,2967.46,MANHATTAN
19972,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,101011.00,LISETTE,2016,MATOS,ACTIVE,NaN,0.00,per Annum,NaN,99943.79,1830.00,DIRECTOR OF FIELD OPERATIONS ...,0.00,0.00,BRONX
19973,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43116.00,ESTHER,2016,MATOS MIRANDA,ACTIVE,L,258.50,per Annum,NaN,42653.02,1830.00,JUVENILE COUNSELOR ...,8296.53,6105.82,BRONX
19974,ADMIN FOR CHILDREN'S SVCS,2004-11-29T00:00:00.000,73389.00,IRINA,2016,MATSUGINA,ACTIVE,NaN,0.00,per Annum,NaN,76819.09,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3093.92,MANHATTAN
19975,ADMIN FOR CHILDREN'S SVCS,2011-04-04T00:00:00.000,60381.00,ROBERT,2016,MATTERA,ACTIVE,E,0.00,per Annum,NaN,59732.64,2091.42,PROTECTION AGENT ...,0.00,8.25,QUEENS
19976,ADMIN FOR CHILDREN'S SVCS,2000-06-05T00:00:00.000,60907.00,ALISON,2016,MATTHEW,ACTIVE,E,726.25,per Annum,NaN,60252.93,1830.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR ...,33662.23,4666.27,BROOKLYN
19977,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,53310.00,CHIDIEBERE,2016,MATTHEW,ACTIVE,NaN,331.00,per Annum,NaN,47915.11,1665.00,CHILD PROTECTIVE SPECIALIST ...,10572.33,3876.49,BRONX
19978,ADMIN FOR CHILDREN'S SVCS,1999-05-03T00:00:00.000,70773.00,FABIAN,2016,MATTHEW,ACTIVE,C,0.00,per Annum,NaN,71695.96,1830.00,ADMINISTRATIVE STAFF ANALYST ...,0.00,2663.39,MANHATTAN
19979,ADMIN FOR CHILDREN'S SVCS,2005-08-01T00:00:00.000,53126.00,SHERISE,2016,MATTHEW,ON LEAVE,Y,0.00,per Annum,NaN,25607.26,736.75,CHILD PROTECTIVE SPECIALIST ...,0.00,1635.71,MANHATTAN
19980,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,113182.00,BEVERLY,2016,MATTHEWS,ACTIVE,G,0.00,per Annum,NaN,116582.38,1830.00,ADMINISTRATIVE STAFF ANALYST ...,0.00,1000.00,MANHATTAN
19981,ADMIN FOR CHILDREN'S SVCS,2001-04-16T00:00:00.000,53126.00,MAXINE,2016,MATTHEWS,ACTIVE,A,333.00,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,12907.60,4146.75,BRONX
19982,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,55524.00,TAMARA,2016,MATTHEWS,ACTIVE,L,132.75,per Annum,NaN,54110.14,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,4225.64,3950.67,MANHATTAN
19983,ADMIN FOR CHILDREN'S SVCS,2016-05-16T00:00:00.000,45874.00,CASETA,2016,MATTHEWS PLUMME,ACTIVE,I,3.00,per Annum,NaN,3509.48,234.67,CHILD PROTECTIVE SPECIALIST ...,75.32,0.00,MANHATTAN
19984,ADMIN FOR CHILDREN'S SVCS,1997-05-12T00:00:00.000,79463.00,DENISE,2016,MATTHEWS-BUSH,ACTIVE,A,0.00,per Annum,NaN,78609.78,1830.00,CHILD AND FAMILY SPECIALIST ...,0.00,149.50,QUEENS
19985,ADMIN FOR CHILDREN'S SVCS,2007-04-16T00:00:00.000,53126.00,BESSY,2016,MATUTE,ACTIVE,M,300.00,per Annum,NaN,68280.02,1830.00,CHILD PROTECTIVE SPECIALIST ...,14454.29,4292.08,MANHATTAN
19986,ADMIN FOR CHILDREN'S SVCS,2002-06-03T00:00:00.000,71322.00,NATHALIE,2016,MAURICE,ACTIVE,T,0.00,per Annum,NaN,70555.97,1830.00,PROGRAM EVALUATOR ...,0.00,16.50,MANHATTAN
19987,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,77938.00,SHARON,2016,MAXWELL,ACTIVE,NaN,333.25,per Annum,NaN,77096.76,1830.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR ...,15591.82,4874.00,MANHATTAN
19988,ADMIN FOR CHILDREN'S SVCS,2011-06-20T00:00:00.000,53126.00,SHERIE,2016,MAXWELL,ACTIVE,M,206.50,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,7359.06,2147.94,RICHMOND
19989,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,34325.00,SONIA,2016,MAYBANK,ACTIVE,NaN,0.00,per Annum,NaN,18498.53,1018.00,CLERICAL ASSOCIATE,0.00,3077.58,QUEENS
19990,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,65623.00,DEBORAH,2016,MAYBANK-HUGGINS,ACTIVE,E,67.75,per Annum,NaN,66817.58,1830.00,ADMINISTRATIVE STAFF ANALYST ...,2866.89,4370.81,MANHATTAN
19991,ADMIN FOR CHILDREN'S SVCS,1997-03-17T00:00:00.000,58944.00,GARY,2016,MAYBER,ACTIVE,NaN,0.00,per Annum,NaN,58306.81,1830.00,CHILD WELFARE SPECIALIST ...,0.00,4133.74,MANHATTAN
19992,ADMIN FOR CHILDREN'S SVCS,1997-08-25T00:00:00.000,90000.00,MICHELE,2016,MAYE,ACTIVE,A,0.00,per Annum,NaN,85512.58,1827.25,ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES ...,0.00,1266.04,MANHATTAN
19993,ADMIN FOR CHILDREN'S SVCS,1996-08-19T00:00:00.000,104530.00,WILLIE,2016,MAYE JR,ACTIVE,NaN,0.00,per Annum,NaN,103822.01,1830.00,ADMINISTRATIVE STAFF ANALYST ...,0.00,1115.50,MANHATTAN
19994,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,77812.00,MERLYN,2016,MAYERS-JOHN,ACTIVE,C,193.50,per Annum,NaN,74000.07,1760.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR ...,12040.89,3688.94,QUEENS
19995,ADMIN FOR CHILDREN'S SVCS,2011-01-31T00:00:00.000,67928.00,KRISTIN,2016,MAYES,ACTIVE,L,0.00,per Annum,NaN,67210.33,1830.00,ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES ...,0.00,0.00,MANHATTAN
19996,ADMIN FOR CHILDREN'S SVCS,2007-12-03T00:00:00.000,53126.00,BHOJRANIE,2016,MAYGOO,ACTIVE,NaN,299.00,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,11032.21,3778.66,BRONX
19997,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43136.00,JENNIFER,2016,MAYNARD,ACTIVE,C,320.00,per Annum,NaN,42668.38,1830.00,JUVENILE COUNSELOR ...,9829.00,7410.70,BROOKLYN
19998,ADMIN FOR CHILDREN'S SVCS,2007-11-19T00:00:00.000,53126.00,TRACY,2016,MAYNARD,CEASED,L,0.00,per Annum,NaN,1967.19,0.00,CHILD PROTECTIVE SPECIALIST ...,0.00,0.00,MANHATTAN
19999,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,66728.00,TRACY,2016,MAYNES,ACTIVE,A,0.00,per Annum,NaN,69989.09,1830.00,ADMINISTRATIVE STAFF ANALYST ...,17.28,4370.81,MANHATTAN

In [22]:
result[result['fiscal_year'] == "2016"]

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
16058,ADMIN FOR CHILDREN'S SVCS,2007-02-18T00:00:00.000,49350.00,RHONDA,2016,DUNN,CEASED,NaN,0.00,per Annum,NaN,41299.67,1466.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3214.70,MANHATTAN
16059,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,69838.00,PHYLLIS,2016,EVANS,CEASED,NaN,0.00,per Annum,NaN,40086.17,930.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,2125.78,MANHATTAN
16060,ADMIN FOR CHILDREN'S SVCS,1998-06-01T00:00:00.000,49321.00,JEANINE,2016,RAY,ACTIVE,NaN,0.00,per Annum,NaN,48062.77,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1604.55,QUEENS
16061,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49389.00,DENISE,2016,SMITH,ACTIVE,M,0.00,per Annum,NaN,48129.53,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3849.47,MANHATTAN
16062,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49576.00,DAWN,2016,TRACEY,ACTIVE,M,7.00,per Annum,NaN,48034.05,1819.50,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3802.73,MANHATTAN
16063,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49508.00,AUDREY,2016,BARRENTINE,ACTIVE,NaN,0.00,per Annum,NaN,46886.11,1684.75,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3717.47,MANHATTAN
16064,ADMIN FOR CHILDREN'S SVCS,2002-10-21T00:00:00.000,55144.00,CHERYL,2016,BRATHWAITE,ACTIVE,E,0.00,per Annum,NaN,53758.15,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,678.42,MANHATTAN
16065,ADMIN FOR CHILDREN'S SVCS,2004-07-26T00:00:00.000,49321.00,CALVIN,2016,BUNCH,ACTIVE,NaN,0.00,per Annum,NaN,48062.77,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1598.42,MANHATTAN
16066,ADMIN FOR CHILDREN'S SVCS,2016-03-21T00:00:00.000,45874.00,TERESA,2016,AARON,ACTIVE,NaN,31.75,per Annum,NaN,10528.44,515.00,CHILD PROTECTIVE SPECIALIST ...,257.37,43.54,BRONX
16067,ADMIN FOR CHILDREN'S SVCS,2008-02-11T00:00:00.000,53126.00,MODUPE,2016,ABDUL,ACTIVE,NaN,36.50,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,2006.23,3723.20,BROOKLYN
16068,ADMIN FOR CHILDREN'S SVCS,2009-08-10T00:00:00.000,54858.00,KHADIJA,2016,ABDUL MAJID,CEASED,A,0.00,per Annum,NaN,58.07,0.00,COMMUNITY COORDINATOR ...,24.57,178.77,BRONX
16069,ADMIN FOR CHILDREN'S SVCS,2014-10-20T00:00:00.000,53126.00,ABDUL AZIZ,2016,ABDUL RAHMAN,ACTIVE,I,208.75,per Annum,NaN,46525.88,1711.00,CHILD PROTECTIVE SPECIALIST ...,6721.58,637.98,MANHATTAN
16070,ADMIN FOR CHILDREN'S SVCS,2013-02-04T00:00:00.000,43116.00,MONSURAT,2016,ABDULGANIYU,ACTIVE,A,293.50,per Annum,NaN,41993.34,1802.00,JUVENILE COUNSELOR ...,9168.39,953.13,BRONX
16071,ADMIN FOR CHILDREN'S SVCS,2015-10-19T00:00:00.000,66000.00,NADIYAH,2016,ABDULLAH,ACTIVE,S,1.25,per Annum,NaN,42043.44,1260.75,CHILD AND FAMILY SPECIALIST ...,45.15,107.25,MANHATTAN
16072,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43116.00,AZIZA,2016,ABDUL-WAHHAB,ON LEAVE,S,135.00,per Annum,NaN,41588.50,1689.75,JUVENILE COUNSELOR ...,5115.59,4040.53,BROOKLYN
16073,ADMIN FOR CHILDREN'S SVCS,1998-12-14T00:00:00.000,53126.00,KHALIL,2016,ABDUS-SHAHID,ACTIVE,NaN,281.50,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,9908.27,7332.36,MANHATTAN
16074,ADMIN FOR CHILDREN'S SVCS,2001-04-30T00:00:00.000,65896.00,KERLINE,2016,ABELLARD-ROSEAU,ACTIVE,NaN,0.00,per Annum,NaN,69255.96,1830.00,STAFF ANALYST ...,0.00,6394.31,MANHATTAN
16075,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,80823.00,COMFORT,2016,ABENGOWE,ACTIVE,U,130.75,per Annum,NaN,79955.18,1830.00,CHILD AND FAMILY SPECIALIST ...,6382.19,346.54,QUEENS
16076,ADMIN FOR CHILDREN'S SVCS,1997-02-02T00:00:00.000,95173.00,JEANINE,2016,ABERNATHY,ACTIVE,E,0.00,per Annum,NaN,94167.63,1830.00,DIRECTOR OF FIELD OPERATIONS ...,0.00,0.00,BRONX
16077,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56900.00,NARRESH,2016,ABICHANDANI,ACTIVE,NaN,85.00,per Annum,NaN,56284.69,1830.00,CHILD PROTECTIVE SPECIALIST ...,3457.86,4296.48,QUEENS
16078,ADMIN FOR CHILDREN'S SVCS,2016-04-25T00:00:00.000,100116.00,KEREN,2016,ABINA,ACTIVE,NaN,0.00,per Annum,NaN,13403.50,340.00,ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES ...,0.00,0.00,MANHATTAN
16079,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,53714.00,VICENTE,2016,ABOLENCIA,ACTIVE,NaN,0.00,per Annum,NaN,53132.72,1830.00,CHILD WELFARE SPECIALIST ...,30.95,4133.74,MANHATTAN
16080,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,72041.00,ABRAHAM,2016,ABRAHAM,ACTIVE,T,114.50,per Annum,NaN,71263.06,1830.00,CHILD WELFARE SPECIALIST ...,4220.59,4133.74,QUEENS
16081,ADMIN FOR CHILDREN'S SVCS,2007-06-04T00:00:00.000,53126.00,FENISE,2016,ABRAHAM,ACTIVE,NaN,85.25,per Annum,NaN,40841.08,1502.00,CHILD PROTECTIVE SPECIALIST ...,3383.83,2533.71,BRONX
16082,ADMIN FOR CHILDREN'S SVCS,2014-12-01T00:00:00.000,57005.00,VAYOLA,2016,ABRAHAM,ACTIVE,K,0.00,per Annum,NaN,56184.66,1830.00,AGENCY ATTORNEY ...,0.00,1130.91,BROOKLYN
16083,ADMIN FOR CHILDREN'S SVCS,2009-05-18T00:00:00.000,53126.00,ZULY,2016,ABRAHAM,ACTIVE,E,39.00,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,1200.36,2420.76,BRONX
16084,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,80823.00,ALTHEA,2016,ABRAHAMS,ACTIVE,NaN,0.00,per Annum,NaN,79955.18,1830.00,CHILD AND FAMILY SPECIALIST ...,0.00,116.00,QUEENS
16085,ADMIN FOR CHILDREN'S SVCS,2015-02-09T00:00:00.000,49820.00,BRANDON,2016,ABREU,ACTIVE,J,444.25,per Annum,NaN,48695.44,1830.00,CHILD PROTECTIVE SPECIALIST ...,15820.93,440.43,RICHMOND
16086,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,53126.00,MELISSA,2016,ABSALON,ACTIVE,NaN,179.50,per Annum,NaN,52555.43,1829.77,CHILD PROTECTIVE SPECIALIST ...,5362.52,2240.85,MANHATTAN
16087,ADMIN FOR CHILDREN'S SVCS,2007-06-04T00:00:00.000,53126.00,MAHA,2016,ABULABAN,ACTIVE,A,211.75,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,6822.07,3707.20,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38049,DEPT OF ED PARA PROFESSIONALS,2012-03-28T00:00:00.000,28650.00,KELLY,2016,ZITO,ACTIVE,A,0.00,per Annum,NaN,21360.43,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38050,DEPT OF ED PARA PROFESSIONALS,1989-01-03T00:00:00.000,36127.00,NOREEN,2016,ZITO,CEASED,P,0.00,per Annum,NaN,2456.93,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38051,DEPT OF ED PARA PROFESSIONALS,1999-12-06T00:00:00.000,24157.00,NICOLE ANN,2016,ZITTEL,ACTIVE,A,0.00,per Annum,NaN,29324.25,0.00,TEACHER AIDE ...,53.94,0.00,MANHATTAN
38052,DEPT OF ED PARA PROFESSIONALS,1997-03-12T00:00:00.000,30376.00,TRINA,2016,ZOGLIO,ACTIVE,NaN,0.00,per Annum,NaN,29522.68,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38053,DEPT OF ED PARA PROFESSIONALS,2015-09-09T00:00:00.000,23614.00,EVITA,2016,ZOGU,ACTIVE,NaN,0.00,per Annum,NaN,17560.34,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38054,DEPT OF ED PARA PROFESSIONALS,2011-02-07T00:00:00.000,140.96,DEBORAH,2016,ZOLLO,ACTIVE,NaN,0.00,per Day,NaN,5096.43,0.00,SUBSTITUTE ED PARA ...,0.00,0.00,MANHATTAN
38055,DEPT OF ED PARA PROFESSIONALS,2015-03-18T00:00:00.000,28650.00,YANARY,2016,ZOQUIER,ACTIVE,NaN,0.00,per Annum,NaN,21294.25,0.00,ANNUAL ED PARA ...,0.00,539.59,MANHATTAN
38056,DEPT OF ED PARA PROFESSIONALS,2014-01-07T00:00:00.000,37565.00,SENIZ,2016,ZORALI,ACTIVE,NaN,0.00,per Annum,NaN,32498.06,0.00,ANNUAL ED PARA ...,0.00,0.61,MANHATTAN
38057,DEPT OF ED PARA PROFESSIONALS,2016-02-26T00:00:00.000,140.96,ANA,2016,ZORRILLA,ACTIVE,F,0.00,per Day,NaN,9564.74,0.00,SUBSTITUTE ED PARA ...,0.00,0.00,MANHATTAN
38058,DEPT OF ED PARA PROFESSIONALS,1999-05-14T00:00:00.000,39291.00,CARMEN,2016,ZORRILLA,ACTIVE,NaN,0.00,per Annum,NaN,53034.48,0.00,ANNUAL ED PARA ...,757.58,0.01,MANHATTAN
38059,DEPT OF ED PARA PROFESSIONALS,2004-02-13T00:00:00.000,38108.00,TERESA,2016,ZUARDO,ACTIVE,NaN,0.00,per Annum,NaN,43528.02,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38060,DEPT OF ED PARA PROFESSIONALS,1999-09-08T00:00:00.000,39291.00,GRIGORI,2016,ZUBKIN,ACTIVE,M,0.00,per Annum,NaN,44883.42,0.00,ANNUAL ED PARA ...,19.64,0.00,MANHATTAN
38061,DEPT OF ED PARA PROFESSIONALS,2012-01-24T00:00:00.000,140.96,CYNTHIA,2016,ZUCAL,ACTIVE,NaN,0.00,per Day,NaN,3256.91,0.00,SUBSTITUTE ED PARA ...,0.00,0.00,MANHATTAN
38062,DEPT OF ED PARA PROFESSIONALS,2008-11-17T00:00:00.000,38108.00,JOSHUA,2016,ZUCKERBERG,ACTIVE,D,0.00,per Annum,NaN,36741.14,0.00,ANNUAL ED PARA ...,0.00,0.01,MANHATTAN
38063,DEPT OF ED PARA PROFESSIONALS,1986-11-10T00:00:00.000,35915.00,RANDI,2016,ZUCKERBERG,CEASED,B,0.00,per Annum,NaN,9640.33,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38064,DEPT OF ED PARA PROFESSIONALS,1992-06-05T00:00:00.000,34862.00,MADELINE,2016,ZUCKERBROW,CEASED,M,0.00,per Annum,NaN,22.99,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38065,DEPT OF ED PARA PROFESSIONALS,2011-12-15T00:00:00.000,16.59,YVETTE,2016,ZUCKERMAN,CEASED,NaN,0.00,per Hour,NaN,1509.69,0.00,PRE-SES ED PARA ...,0.00,0.00,MANHATTAN
38066,DEPT OF ED PARA PROFESSIONALS,2000-01-19T00:00:00.000,39291.00,JULIE,2016,ZUKOFF,ACTIVE,NaN,0.00,per Annum,NaN,37936.06,0.00,ANNUAL ED PARA ...,0.00,0.04,MANHATTAN
38067,DEPT OF ED PARA PROFESSIONALS,2005-03-09T00:00:00.000,33309.00,LINA,2016,ZULLO,ACTIVE,NaN,0.00,per Annum,NaN,32373.12,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38068,DEPT OF ED PARA PROFESSIONALS,1991-09-11T00:00:00.000,39291.00,MARY,2016,ZUMMO,ACTIVE,NaN,0.00,per Annum,NaN,38139.02,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38069,DEPT OF ED PARA PROFESSIONALS,2015-02-25T00:00:00.000,140.96,CARMEN,2016,ZUNIGA,ACTIVE,NaN,0.00,per Day,NaN,21683.80,0.00,SUBSTITUTE ED PARA ...,0.00,0.00,MANHATTAN
38070,DEPT OF ED PARA PROFESSIONALS,2010-07-01T00:00:00.000,32766.00,CHRISTINE,2016,ZUNNO,ACTIVE,NaN,0.00,per Annum,NaN,31845.20,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38071,DEPT OF ED PARA PROFESSIONALS,2012-04-03T00:00:00.000,32766.00,NICHOLAS,2016,ZUVIC,ACTIVE,A,0.00,per Annum,NaN,33426.91,0.00,ANNUAL ED PARA ...,76.41,0.00,MANHATTAN
38072,DEPT OF ED PARA PROFESSIONALS,2013-05-06T00:00:00.000,23614.00,DANIELLE,2016,ZUVICH,ACTIVE,D,0.00,per Annum,NaN,22927.66,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38073,DEPT OF ED PARA PROFESSIONALS,2005-01-12T00:00:00.000,33309.00,VINKA,2016,ZUZIC,ACTIVE,NaN,0.00,per Annum,NaN,35918.52,0.00,ANNUAL ED PARA ...,8.68,0.00,MANHATTAN
38074,DEPT OF ED PARA PROFESSIONALS,2008-05-22T00:00:00.000,37565.00,INESSA,2016,ZVEROVICH,ACTIVE,I,0.00,per Annum,NaN,36509.24,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38075,DEPT OF ED PARA PROFESSIONALS,2013-12-28T00:00:00.000,37565.00,MOHAMED,2016,ZYADA,ACTIVE,NaN,0.00,per Annum,NaN,37681.23,0.00,ANNUAL ED PARA ...,98.35,0.00,MANHATTAN
38076,DEPT OF ED PARA PROFESSIONALS,2005-03-17T00:00:00.000,38108.00,KEZE,2016,ZYLO,ACTIVE,NaN,0.00,per Annum,NaN,37037.12,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38077,DEPT OF ED PARA PROFESSIONALS,2013-12-30T00:00:00.000,28650.00,ANNA,2016,ZYSK,ACTIVE,M,0.00,per Annum,NaN,24163.95,0.00,ANNUAL ED PARA ...,0.00,16.30,MANHATTAN
38078,DEPT OF ED PARA PROFESSIONALS,2007-05-30T00:00:00.000,32766.00,NASIMA,2016,ZZAMAN,ACTIVE,NaN,0.00,per Annum,NaN,31845.20,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN

In [23]:
current_year_result = result[result['fiscal_year'] == "2016"]

In [24]:
current_year_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
16058,ADMIN FOR CHILDREN'S SVCS,2007-02-18T00:00:00.000,49350.00,RHONDA,2016,DUNN,CEASED,NaN,0.00,per Annum,NaN,41299.67,1466.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3214.70,MANHATTAN
16059,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,69838.00,PHYLLIS,2016,EVANS,CEASED,NaN,0.00,per Annum,NaN,40086.17,930.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,2125.78,MANHATTAN
16060,ADMIN FOR CHILDREN'S SVCS,1998-06-01T00:00:00.000,49321.00,JEANINE,2016,RAY,ACTIVE,NaN,0.00,per Annum,NaN,48062.77,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1604.55,QUEENS
16061,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49389.00,DENISE,2016,SMITH,ACTIVE,M,0.00,per Annum,NaN,48129.53,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3849.47,MANHATTAN
16062,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49576.00,DAWN,2016,TRACEY,ACTIVE,M,7.00,per Annum,NaN,48034.05,1819.50,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3802.73,MANHATTAN
16063,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49508.00,AUDREY,2016,BARRENTINE,ACTIVE,NaN,0.00,per Annum,NaN,46886.11,1684.75,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3717.47,MANHATTAN
16064,ADMIN FOR CHILDREN'S SVCS,2002-10-21T00:00:00.000,55144.00,CHERYL,2016,BRATHWAITE,ACTIVE,E,0.00,per Annum,NaN,53758.15,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,678.42,MANHATTAN
16065,ADMIN FOR CHILDREN'S SVCS,2004-07-26T00:00:00.000,49321.00,CALVIN,2016,BUNCH,ACTIVE,NaN,0.00,per Annum,NaN,48062.77,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1598.42,MANHATTAN
16066,ADMIN FOR CHILDREN'S SVCS,2016-03-21T00:00:00.000,45874.00,TERESA,2016,AARON,ACTIVE,NaN,31.75,per Annum,NaN,10528.44,515.00,CHILD PROTECTIVE SPECIALIST ...,257.37,43.54,BRONX
16067,ADMIN FOR CHILDREN'S SVCS,2008-02-11T00:00:00.000,53126.00,MODUPE,2016,ABDUL,ACTIVE,NaN,36.50,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,2006.23,3723.20,BROOKLYN
16068,ADMIN FOR CHILDREN'S SVCS,2009-08-10T00:00:00.000,54858.00,KHADIJA,2016,ABDUL MAJID,CEASED,A,0.00,per Annum,NaN,58.07,0.00,COMMUNITY COORDINATOR ...,24.57,178.77,BRONX
16069,ADMIN FOR CHILDREN'S SVCS,2014-10-20T00:00:00.000,53126.00,ABDUL AZIZ,2016,ABDUL RAHMAN,ACTIVE,I,208.75,per Annum,NaN,46525.88,1711.00,CHILD PROTECTIVE SPECIALIST ...,6721.58,637.98,MANHATTAN
16070,ADMIN FOR CHILDREN'S SVCS,2013-02-04T00:00:00.000,43116.00,MONSURAT,2016,ABDULGANIYU,ACTIVE,A,293.50,per Annum,NaN,41993.34,1802.00,JUVENILE COUNSELOR ...,9168.39,953.13,BRONX
16071,ADMIN FOR CHILDREN'S SVCS,2015-10-19T00:00:00.000,66000.00,NADIYAH,2016,ABDULLAH,ACTIVE,S,1.25,per Annum,NaN,42043.44,1260.75,CHILD AND FAMILY SPECIALIST ...,45.15,107.25,MANHATTAN
16072,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43116.00,AZIZA,2016,ABDUL-WAHHAB,ON LEAVE,S,135.00,per Annum,NaN,41588.50,1689.75,JUVENILE COUNSELOR ...,5115.59,4040.53,BROOKLYN
16073,ADMIN FOR CHILDREN'S SVCS,1998-12-14T00:00:00.000,53126.00,KHALIL,2016,ABDUS-SHAHID,ACTIVE,NaN,281.50,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,9908.27,7332.36,MANHATTAN
16074,ADMIN FOR CHILDREN'S SVCS,2001-04-30T00:00:00.000,65896.00,KERLINE,2016,ABELLARD-ROSEAU,ACTIVE,NaN,0.00,per Annum,NaN,69255.96,1830.00,STAFF ANALYST ...,0.00,6394.31,MANHATTAN
16075,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,80823.00,COMFORT,2016,ABENGOWE,ACTIVE,U,130.75,per Annum,NaN,79955.18,1830.00,CHILD AND FAMILY SPECIALIST ...,6382.19,346.54,QUEENS
16076,ADMIN FOR CHILDREN'S SVCS,1997-02-02T00:00:00.000,95173.00,JEANINE,2016,ABERNATHY,ACTIVE,E,0.00,per Annum,NaN,94167.63,1830.00,DIRECTOR OF FIELD OPERATIONS ...,0.00,0.00,BRONX
16077,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56900.00,NARRESH,2016,ABICHANDANI,ACTIVE,NaN,85.00,per Annum,NaN,56284.69,1830.00,CHILD PROTECTIVE SPECIALIST ...,3457.86,4296.48,QUEENS
16078,ADMIN FOR CHILDREN'S SVCS,2016-04-25T00:00:00.000,100116.00,KEREN,2016,ABINA,ACTIVE,NaN,0.00,per Annum,NaN,13403.50,340.00,ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES ...,0.00,0.00,MANHATTAN
16079,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,53714.00,VICENTE,2016,ABOLENCIA,ACTIVE,NaN,0.00,per Annum,NaN,53132.72,1830.00,CHILD WELFARE SPECIALIST ...,30.95,4133.74,MANHATTAN
16080,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,72041.00,ABRAHAM,2016,ABRAHAM,ACTIVE,T,114.50,per Annum,NaN,71263.06,1830.00,CHILD WELFARE SPECIALIST ...,4220.59,4133.74,QUEENS
16081,ADMIN FOR CHILDREN'S SVCS,2007-06-04T00:00:00.000,53126.00,FENISE,2016,ABRAHAM,ACTIVE,NaN,85.25,per Annum,NaN,40841.08,1502.00,CHILD PROTECTIVE SPECIALIST ...,3383.83,2533.71,BRONX
16082,ADMIN FOR CHILDREN'S SVCS,2014-12-01T00:00:00.000,57005.00,VAYOLA,2016,ABRAHAM,ACTIVE,K,0.00,per Annum,NaN,56184.66,1830.00,AGENCY ATTORNEY ...,0.00,1130.91,BROOKLYN
16083,ADMIN FOR CHILDREN'S SVCS,2009-05-18T00:00:00.000,53126.00,ZULY,2016,ABRAHAM,ACTIVE,E,39.00,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,1200.36,2420.76,BRONX
16084,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,80823.00,ALTHEA,2016,ABRAHAMS,ACTIVE,NaN,0.00,per Annum,NaN,79955.18,1830.00,CHILD AND FAMILY SPECIALIST ...,0.00,116.00,QUEENS
16085,ADMIN FOR CHILDREN'S SVCS,2015-02-09T00:00:00.000,49820.00,BRANDON,2016,ABREU,ACTIVE,J,444.25,per Annum,NaN,48695.44,1830.00,CHILD PROTECTIVE SPECIALIST ...,15820.93,440.43,RICHMOND
16086,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,53126.00,MELISSA,2016,ABSALON,ACTIVE,NaN,179.50,per Annum,NaN,52555.43,1829.77,CHILD PROTECTIVE SPECIALIST ...,5362.52,2240.85,MANHATTAN
16087,ADMIN FOR CHILDREN'S SVCS,2007-06-04T00:00:00.000,53126.00,MAHA,2016,ABULABAN,ACTIVE,A,211.75,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,6822.07,3707.20,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38049,DEPT OF ED PARA PROFESSIONALS,2012-03-28T00:00:00.000,28650.00,KELLY,2016,ZITO,ACTIVE,A,0.00,per Annum,NaN,21360.43,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38050,DEPT OF ED PARA PROFESSIONALS,1989-01-03T00:00:00.000,36127.00,NOREEN,2016,ZITO,CEASED,P,0.00,per Annum,NaN,2456.93,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38051,DEPT OF ED PARA PROFESSIONALS,1999-12-06T00:00:00.000,24157.00,NICOLE ANN,2016,ZITTEL,ACTIVE,A,0.00,per Annum,NaN,29324.25,0.00,TEACHER AIDE ...,53.94,0.00,MANHATTAN
38052,DEPT OF ED PARA PROFESSIONALS,1997-03-12T00:00:00.000,30376.00,TRINA,2016,ZOGLIO,ACTIVE,NaN,0.00,per Annum,NaN,29522.68,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38053,DEPT OF ED PARA PROFESSIONALS,2015-09-09T00:00:00.000,23614.00,EVITA,2016,ZOGU,ACTIVE,NaN,0.00,per Annum,NaN,17560.34,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38054,DEPT OF ED PARA PROFESSIONALS,2011-02-07T00:00:00.000,140.96,DEBORAH,2016,ZOLLO,ACTIVE,NaN,0.00,per Day,NaN,5096.43,0.00,SUBSTITUTE ED PARA ...,0.00,0.00,MANHATTAN
38055,DEPT OF ED PARA PROFESSIONALS,2015-03-18T00:00:00.000,28650.00,YANARY,2016,ZOQUIER,ACTIVE,NaN,0.00,per Annum,NaN,21294.25,0.00,ANNUAL ED PARA ...,0.00,539.59,MANHATTAN
38056,DEPT OF ED PARA PROFESSIONALS,2014-01-07T00:00:00.000,37565.00,SENIZ,2016,ZORALI,ACTIVE,NaN,0.00,per Annum,NaN,32498.06,0.00,ANNUAL ED PARA ...,0.00,0.61,MANHATTAN
38057,DEPT OF ED PARA PROFESSIONALS,2016-02-26T00:00:00.000,140.96,ANA,2016,ZORRILLA,ACTIVE,F,0.00,per Day,NaN,9564.74,0.00,SUBSTITUTE ED PARA ...,0.00,0.00,MANHATTAN
38058,DEPT OF ED PARA PROFESSIONALS,1999-05-14T00:00:00.000,39291.00,CARMEN,2016,ZORRILLA,ACTIVE,NaN,0.00,per Annum,NaN,53034.48,0.00,ANNUAL ED PARA ...,757.58,0.01,MANHATTAN
38059,DEPT OF ED PARA PROFESSIONALS,2004-02-13T00:00:00.000,38108.00,TERESA,2016,ZUARDO,ACTIVE,NaN,0.00,per Annum,NaN,43528.02,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38060,DEPT OF ED PARA PROFESSIONALS,1999-09-08T00:00:00.000,39291.00,GRIGORI,2016,ZUBKIN,ACTIVE,M,0.00,per Annum,NaN,44883.42,0.00,ANNUAL ED PARA ...,19.64,0.00,MANHATTAN
38061,DEPT OF ED PARA PROFESSIONALS,2012-01-24T00:00:00.000,140.96,CYNTHIA,2016,ZUCAL,ACTIVE,NaN,0.00,per Day,NaN,3256.91,0.00,SUBSTITUTE ED PARA ...,0.00,0.00,MANHATTAN
38062,DEPT OF ED PARA PROFESSIONALS,2008-11-17T00:00:00.000,38108.00,JOSHUA,2016,ZUCKERBERG,ACTIVE,D,0.00,per Annum,NaN,36741.14,0.00,ANNUAL ED PARA ...,0.00,0.01,MANHATTAN
38063,DEPT OF ED PARA PROFESSIONALS,1986-11-10T00:00:00.000,35915.00,RANDI,2016,ZUCKERBERG,CEASED,B,0.00,per Annum,NaN,9640.33,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38064,DEPT OF ED PARA PROFESSIONALS,1992-06-05T00:00:00.000,34862.00,MADELINE,2016,ZUCKERBROW,CEASED,M,0.00,per Annum,NaN,22.99,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38065,DEPT OF ED PARA PROFESSIONALS,2011-12-15T00:00:00.000,16.59,YVETTE,2016,ZUCKERMAN,CEASED,NaN,0.00,per Hour,NaN,1509.69,0.00,PRE-SES ED PARA ...,0.00,0.00,MANHATTAN
38066,DEPT OF ED PARA PROFESSIONALS,2000-01-19T00:00:00.000,39291.00,JULIE,2016,ZUKOFF,ACTIVE,NaN,0.00,per Annum,NaN,37936.06,0.00,ANNUAL ED PARA ...,0.00,0.04,MANHATTAN
38067,DEPT OF ED PARA PROFESSIONALS,2005-03-09T00:00:00.000,33309.00,LINA,2016,ZULLO,ACTIVE,NaN,0.00,per Annum,NaN,32373.12,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38068,DEPT OF ED PARA PROFESSIONALS,1991-09-11T00:00:00.000,39291.00,MARY,2016,ZUMMO,ACTIVE,NaN,0.00,per Annum,NaN,38139.02,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38069,DEPT OF ED PARA PROFESSIONALS,2015-02-25T00:00:00.000,140.96,CARMEN,2016,ZUNIGA,ACTIVE,NaN,0.00,per Day,NaN,21683.80,0.00,SUBSTITUTE ED PARA ...,0.00,0.00,MANHATTAN
38070,DEPT OF ED PARA PROFESSIONALS,2010-07-01T00:00:00.000,32766.00,CHRISTINE,2016,ZUNNO,ACTIVE,NaN,0.00,per Annum,NaN,31845.20,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38071,DEPT OF ED PARA PROFESSIONALS,2012-04-03T00:00:00.000,32766.00,NICHOLAS,2016,ZUVIC,ACTIVE,A,0.00,per Annum,NaN,33426.91,0.00,ANNUAL ED PARA ...,76.41,0.00,MANHATTAN
38072,DEPT OF ED PARA PROFESSIONALS,2013-05-06T00:00:00.000,23614.00,DANIELLE,2016,ZUVICH,ACTIVE,D,0.00,per Annum,NaN,22927.66,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38073,DEPT OF ED PARA PROFESSIONALS,2005-01-12T00:00:00.000,33309.00,VINKA,2016,ZUZIC,ACTIVE,NaN,0.00,per Annum,NaN,35918.52,0.00,ANNUAL ED PARA ...,8.68,0.00,MANHATTAN
38074,DEPT OF ED PARA PROFESSIONALS,2008-05-22T00:00:00.000,37565.00,INESSA,2016,ZVEROVICH,ACTIVE,I,0.00,per Annum,NaN,36509.24,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38075,DEPT OF ED PARA PROFESSIONALS,2013-12-28T00:00:00.000,37565.00,MOHAMED,2016,ZYADA,ACTIVE,NaN,0.00,per Annum,NaN,37681.23,0.00,ANNUAL ED PARA ...,98.35,0.00,MANHATTAN
38076,DEPT OF ED PARA PROFESSIONALS,2005-03-17T00:00:00.000,38108.00,KEZE,2016,ZYLO,ACTIVE,NaN,0.00,per Annum,NaN,37037.12,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38077,DEPT OF ED PARA PROFESSIONALS,2013-12-30T00:00:00.000,28650.00,ANNA,2016,ZYSK,ACTIVE,M,0.00,per Annum,NaN,24163.95,0.00,ANNUAL ED PARA ...,0.00,16.30,MANHATTAN
38078,DEPT OF ED PARA PROFESSIONALS,2007-05-30T00:00:00.000,32766.00,NASIMA,2016,ZZAMAN,ACTIVE,NaN,0.00,per Annum,NaN,31845.20,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN

In [25]:
per_annum_result = current_year_result[current_year_result['pay_basis'] == "per Annum"]

In [26]:
per_annum_result

Empty DataFrame
Columns: [agency_name, agency_start_date, base_salary, first_name, fiscal_year, last_name, leave_status_as_of_july_31, mid_init, ot_hours, pay_basis, payroll_number, regular_gross_paid, regular_hours, title_description, total_ot_paid, total_other_pay, work_location_borough]
Index: []

In [27]:
# convert base salary to number column

In [28]:
per_annum_result['base_salary'].astype(float)

Series([], Name: base_salary, dtype: float64)

In [29]:
per_annum_result

Empty DataFrame
Columns: [agency_name, agency_start_date, base_salary, first_name, fiscal_year, last_name, leave_status_as_of_july_31, mid_init, ot_hours, pay_basis, payroll_number, regular_gross_paid, regular_hours, title_description, total_ot_paid, total_other_pay, work_location_borough]
Index: []

In [30]:
per_annum_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 17 columns):
agency_name                   0 non-null object
agency_start_date             0 non-null object
base_salary                   0 non-null object
first_name                    0 non-null object
fiscal_year                   0 non-null object
last_name                     0 non-null object
leave_status_as_of_july_31    0 non-null object
mid_init                      0 non-null object
ot_hours                      0 non-null object
pay_basis                     0 non-null object
payroll_number                0 non-null object
regular_gross_paid            0 non-null object
regular_hours                 0 non-null object
title_description             0 non-null object
total_ot_paid                 0 non-null object
total_other_pay               0 non-null object
work_location_borough         0 non-null object
dtypes: object(17)
memory usage: 0.0+ bytes

In [31]:
per_annum_result['first_name'].value_counts()

Series([], Name: first_name, dtype: int64)

In [68]:
mean_count = per_annum_result.groupby(['first_name']).agg({'base_salary': np.mean})

In [76]:
per_annum_result['name_count'].map(per_annum_result['first_name'].value_counts())

101     NaN
453     NaN
479     NaN
505     NaN
531     NaN
         ..
14933   NaN
14934   NaN
14935   NaN
14936   NaN
14937   NaN
Name: name_count, Length: 56772, dtype: float64

In [77]:
per_annum_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
101,POLICE DEPARTMENT,2014-07-09T00:00:00.000,44521.0,MARGARET,2016,ABREU,ACTIVE,NaN,366.70,per Annum,NaN,44097.46,2091.42,POLICE OFFICER,11627.59,6760.00,MANHATTAN,41
453,POLICE DEPARTMENT,2005-04-25T00:00:00.000,37307.0,MAYRA,2016,ABREU,CEASED,I,0.00,per Annum,NaN,739.88,0.00,TRAFFIC ENFORCEMENT AGENT,81.07,27.17,MANHATTAN,14
479,POLICE DEPARTMENT,1997-12-08T00:00:00.000,90822.0,JOHN,2016,ACCONI,ACTIVE,NaN,450.50,per Annum,NaN,89919.65,2091.42,P.O. DA DET GR3,33510.92,17532.71,QUEENS,1227
505,POLICE DEPARTMENT,2007-07-18T00:00:00.000,78026.0,DANNY,2016,ACOSTA,ACTIVE,M,304.58,per Annum,NaN,83453.96,2091.42,POLICE OFFICER,21301.30,17879.42,BRONX,67
531,POLICE DEPARTMENT,2000-03-01T00:00:00.000,84652.0,TOMAS,2016,ACOSTA JR,ACTIVE,NaN,42.75,per Annum,NaN,88667.72,2091.42,SERGEANT,5871.65,17316.94,MANHATTAN,12
632,POLICE DEPARTMENT,1999-07-07T00:00:00.000,78026.0,VICTOR,2016,ADAMES,ACTIVE,NaN,187.35,per Annum,NaN,84324.25,2091.42,POLICE OFFICER,12941.59,20471.56,QUEENS,146
760,POLICE DEPARTMENT,1998-12-20T00:00:00.000,39929.0,ELLA,2016,ADAMS,ACTIVE,M,68.50,per Annum,NaN,46117.00,2091.42,SCHOOL SAFETY AGENT,2313.66,1533.08,MANHATTAN,5
838,POLICE DEPARTMENT,1993-08-30T00:00:00.000,88151.0,PAUL,2016,ADAMS JR,CEASED,E,0.00,per Annum,NaN,0.00,0.00,P.O. DA DET GR3,0.00,97.79,MANHATTAN,359
864,POLICE DEPARTMENT,1991-10-24T00:00:00.000,48566.0,EMMANUEL,2016,ADEDOKUN,ACTIVE,NaN,0.00,per Annum,NaN,48042.47,1830.00,BOOKKEEPER,0.00,4747.86,BROOKLYN,36
940,POLICE DEPARTMENT,2000-03-01T00:00:00.000,103585.0,BORIS,2016,ADLER,ACTIVE,NaN,148.02,per Annum,NaN,103257.15,2091.42,SERGEANT,15389.70,21884.59,BROOKLYN,9
991,POLICE DEPARTMENT,2015-07-08T00:00:00.000,42819.0,CRAIG,2016,ADLER,ACTIVE,P,56.95,per Annum,NaN,39777.33,2028.57,POLICE OFFICER,1375.15,3326.03,BROOKLYN,88
1117,POLICE DEPARTMENT,2015-06-01T00:00:00.000,133250.0,JEFF,2016,ADLER,ACTIVE,S,0.00,per Annum,NaN,131836.81,1830.00,ASSISTANT DEPUTY COMMISSIONER,0.00,0.00,MANHATTAN,15
1143,POLICE DEPARTMENT,1998-07-01T00:00:00.000,78026.0,MICAH,2016,ADLER,CEASED,J,0.00,per Annum,NaN,2817.17,0.00,POLICE OFFICER,52.96,534.23,MANHATTAN,1
1169,POLICE DEPARTMENT,1995-04-30T00:00:00.000,118902.0,MICHAEL,2016,ADLER,ACTIVE,NaN,642.42,per Annum,NaN,116553.46,2091.42,LIEUTENANT,62296.54,14757.13,BRONX,2026
1297,POLICE DEPARTMENT,2005-01-10T00:00:00.000,103585.0,NICOT,2016,ADME,ACTIVE,NaN,330.77,per Annum,NaN,90639.84,2091.42,SERGEANT,22381.82,13749.69,MANHATTAN,1
1323,POLICE DEPARTMENT,1999-08-27T00:00:00.000,39882.0,UDDIN,2016,AFSAR,ACTIVE,NaN,56.50,per Annum,NaN,46071.15,2091.42,SCHOOL SAFETY AGENT,1607.15,1608.45,BROOKLYN,1
1349,POLICE DEPARTMENT,2003-07-01T00:00:00.000,78026.0,MOHSIN,2016,AFTAB,CEASED,NaN,0.00,per Annum,NaN,3110.54,0.00,POLICE OFFICER,53.56,600.54,MANHATTAN,4
1375,POLICE DEPARTMENT,2006-01-09T00:00:00.000,118902.0,ASHRAF,2016,AHMED,ACTIVE,K,387.00,per Annum,NaN,108209.99,2091.42,LIEUTENANT,32023.73,21590.53,BROOKLYN,2
1501,POLICE DEPARTMENT,2007-03-26T00:00:00.000,37867.0,ASIF,2016,AHMED,CEASED,NaN,0.00,per Annum,NaN,2808.86,0.00,TRAFFIC ENFORCEMENT AGENT,659.60,1742.56,MANHATTAN,4
1788,POLICE DEPARTMENT,2000-09-29T00:00:00.000,118902.0,THOMAS,2016,AILMAN,ACTIVE,W,50.75,per Annum,NaN,116553.46,2091.42,LIEUTENANT,4662.49,25278.57,BROOKLYN,746
2307,POLICE DEPARTMENT,1995-06-30T00:00:00.000,78026.0,FRANK,2016,AIMONE,ACTIVE,NaN,85.92,per Annum,NaN,84324.25,2091.42,POLICE OFFICER,8946.31,16754.76,MANHATTAN,292
3632,POLICE DEPARTMENT,2012-01-09T00:00:00.000,54341.0,TASLIMA,2016,AKHTER,ACTIVE,NaN,105.25,per Annum,NaN,56904.15,2091.42,POLICE OFFICER,5673.94,3680.02,BROOKLYN,2
3684,POLICE DEPARTMENT,2005-01-10T00:00:00.000,119647.0,WAHEED,2016,AKHTER,ACTIVE,NaN,81.33,per Annum,NaN,114477.95,2091.42,CAPTAIN,6628.06,18344.88,MANHATTAN,1
3840,POLICE DEPARTMENT,1993-08-30T00:00:00.000,90822.0,KEVIN,2016,ALANIS,ACTIVE,NaN,283.58,per Annum,NaN,92083.72,2091.42,P.O. DET SPEC,20400.12,17220.46,MANHATTAN,543
3968,POLICE DEPARTMENT,2013-07-09T00:00:00.000,49760.0,AMAR,2016,ABBAS,ACTIVE,NaN,291.17,per Annum,NaN,48146.21,2091.42,POLICE OFFICER,12268.05,7553.83,BROOKLYN,3
3994,POLICE DEPARTMENT,1999-06-07T00:00:00.000,48127.0,IRIS,2016,AADIL,ACTIVE,D,11.25,per Annum,NaN,31789.04,1311.17,POLICE COMMUNICATIONS TECHNICIAN,327.78,7005.08,BROOKLYN,28
4020,POLICE DEPARTMENT,2004-02-23T00:00:00.000,35676.0,MILAGROS,2016,ALANIS,CEASED,NaN,0.00,per Annum,NaN,1725.00,0.00,SCHOOL SAFETY AGENT,0.00,0.00,MANHATTAN,10
4072,POLICE DEPARTMENT,2004-01-20T00:00:00.000,90822.0,LORI,2016,AANONSEN,ACTIVE,L,552.58,per Annum,NaN,89919.65,2091.42,P.O. DA DET GR3,39617.22,11397.66,MANHATTAN,18
4098,POLICE DEPARTMENT,1981-01-26T00:00:00.000,114837.0,WALTER,2016,AANONSEN,CEASED,J,0.00,per Annum,NaN,0.00,0.00,LIEUTENANT,0.00,262.78,MANHATTAN,46
4174,POLICE DEPARTMENT,2015-10-07T00:00:00.000,42819.0,ABDELHADI,2016,AANOUZ,ACTIVE,NaN,40.50,per Annum,NaN,29131.04,1468.57,POLICE OFFICER,1096.43,2192.58,BRONX,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14905,POLICE DEPARTMENT,2007-01-10T00:00:00.000,78026.0,CHUNG,2016,TONG,ACTIVE,Y,67.25,per Annum,NaN,83718.54,2091.42,POLICE OFFICER,7778.80,11228.13,BROOKLYN,4
14906,POLICE DEPARTMENT,2013-07-08T00:00:00.000,45443.0,KIN HANG,2016,TONG,ACTIVE,NaN,4.00,per Annum,NaN,44069.67,1830.00,PHOTOGRAPHER,74.62,3062.96,MANHATTAN,1
14907,POLICE DEPARTMENT,2001-07-02T00:00:00.000,103585.0,SAMMY,2016,TONG,ACTIVE,K,47.75,per Annum,NaN,102802.37,2091.42,SERGEANT,4467.20,17420.55,BROOKLYN,12
14908,POLICE DEPARTMENT,2010-01-11T00:00:00.000,84248.0,YAN LOK TIMOTH,2016,TONG,ON LEAVE,NaN,0.67,per Annum,NaN,27360.18,2091.42,SERGEANT,322.27,14630.91,MANHATTAN,1
14909,POLICE DEPARTMENT,2016-01-06T00:00:00.000,42819.0,DILLON,2016,TONNE,ACTIVE,NaN,0.00,per Annum,NaN,18484.76,988.57,POLICE OFFICER,0.00,0.00,MANHATTAN,4
14911,POLICE DEPARTMENT,1990-10-15T00:00:00.000,78026.0,DANIEL,2016,TONNESSEN,CEASED,L,63.90,per Annum,NaN,73878.24,1702.87,POLICE OFFICER,5746.77,20193.92,MANHATTAN,681
14912,POLICE DEPARTMENT,2001-07-02T00:00:00.000,78026.0,ROBERT,2016,TONRY,CEASED,V,0.00,per Annum,NaN,4049.63,0.00,POLICE OFFICER,5.06,366.49,MANHATTAN,905
14913,POLICE DEPARTMENT,2003-07-01T00:00:00.000,90822.0,SUK,2016,TOO,ACTIVE,H,261.77,per Annum,NaN,93255.15,2091.42,P.O. DET SPEC,19027.08,13879.42,MANHATTAN,2
14914,POLICE DEPARTMENT,2005-06-13T00:00:00.000,39868.0,NICOLE,2016,TOODLE,ACTIVE,NaN,680.00,per Annum,NaN,45198.39,2027.42,SCHOOL SAFETY AGENT,19742.92,1020.77,MANHATTAN,123
14915,POLICE DEPARTMENT,1981-07-13T00:00:00.000,115985.0,ROBERT,2016,TOOHEY,CEASED,J,0.00,per Annum,NaN,1076.67,0.00,SERGEANT D/A SPECIAL ASSIGNMENT,0.00,467.30,MANHATTAN,905
14916,POLICE DEPARTMENT,2015-01-07T00:00:00.000,42819.0,DANIEL,2016,TOOMA,ACTIVE,J,144.75,per Annum,NaN,42955.90,2091.42,POLICE OFFICER,4948.28,5186.15,BRONX,681
14917,POLICE DEPARTMENT,1982-06-24T00:00:00.000,46021.0,SHARON,2016,TOOMER,ACTIVE,NaN,409.75,per Annum,NaN,45522.56,1830.00,SENIOR POLICE ADMINISTRATIVE AIDE,13183.14,4889.50,MANHATTAN,86
14918,POLICE DEPARTMENT,1995-04-02T00:00:00.000,78026.0,MICHAEL,2016,TOOMEY,CEASED,A,0.00,per Annum,NaN,3914.98,0.00,POLICE OFFICER,1256.57,776.65,MANHATTAN,2026
14919,POLICE DEPARTMENT,1995-06-30T00:00:00.000,78026.0,KARL,2016,TOONE,ACTIVE,R,47.83,per Annum,NaN,84223.28,2091.42,POLICE OFFICER,3545.10,16499.74,BRONX,18
14920,POLICE DEPARTMENT,1994-01-18T00:00:00.000,115985.0,MICHAEL,2016,TOONE,CEASED,A,0.00,per Annum,NaN,29579.47,0.00,POLICE OFFICER D/A DETECTIVE 1ST GR,0.00,3229.70,MANHATTAN,2026
14921,POLICE DEPARTMENT,2005-07-11T00:00:00.000,84480.0,SUKHDEEP,2016,TOOR,ACTIVE,S,141.40,per Annum,NaN,89464.89,2091.42,SERGEANT,10843.25,20299.71,BRONX,1
14922,POLICE DEPARTMENT,2015-07-08T00:00:00.000,42819.0,RIGERS,2016,TOPI,ACTIVE,NaN,66.83,per Annum,NaN,39777.33,2028.57,POLICE OFFICER,2237.84,2830.92,BROOKLYN,1
14923,POLICE DEPARTMENT,2015-07-08T00:00:00.000,42819.0,TENZIN,2016,TOPJOR,ACTIVE,NaN,94.25,per Annum,NaN,44371.20,2091.42,POLICE OFFICER,2798.94,3651.97,MANHATTAN,3
14924,POLICE DEPARTMENT,2015-12-22T00:00:00.000,33400.0,JANET,2016,TOPPIN,ACTIVE,M,0.00,per Annum,NaN,15359.30,1070.00,TRAFFIC ENFORCEMENT AGENT,0.00,1203.22,MANHATTAN,47
14925,POLICE DEPARTMENT,2007-07-18T00:00:00.000,87791.0,BRETT,2016,TOPPING,ACTIVE,R,317.73,per Annum,NaN,91835.98,2091.42,P.O. DA DET GR3,24526.32,12345.70,QUEENS,31
14926,POLICE DEPARTMENT,2007-07-09T00:00:00.000,87204.0,MICHAEL,2016,TOPPING,ACTIVE,NaN,64.80,per Annum,NaN,88740.35,2091.42,P.O. DA DET GR3,7610.90,14254.06,BROOKLYN,2026
14927,POLICE DEPARTMENT,2016-01-06T00:00:00.000,42819.0,PIOTR,2016,TORBA,ACTIVE,K,0.00,per Annum,NaN,18484.76,988.57,POLICE OFFICER,0.00,0.00,MANHATTAN,4
14928,POLICE DEPARTMENT,2012-01-09T00:00:00.000,49760.0,JAMES,2016,TORBORG,CEASED,D,0.00,per Annum,NaN,5915.58,0.00,POLICE OFFICER,253.23,402.17,MANHATTAN,868
14929,POLICE DEPARTMENT,1995-04-30T00:00:00.000,118902.0,JAMES,2016,TORCHI,ACTIVE,NaN,263.95,per Annum,NaN,116553.46,2091.42,LIEUTENANT,22429.36,19315.56,MANHATTAN,868
14931,POLICE DEPARTMENT,2003-07-01T00:00:00.000,90822.0,WAYNE,2016,TORELLI,ACTIVE,J,144.65,per Annum,NaN,89919.65,2091.42,P.O. DA DET GR3,9880.55,13605.57,MANHATTAN,56
14933,POLICE DEPARTMENT,2012-02-28T00:00:00.000,36115.0,AHIANA,2016,TORIBIO,ACTIVE,NaN,196.00,per Annum,NaN,26466.53,1380.42,TRAFFIC ENFORCEMENT AGENT,6633.03,1734.72,MANHATTAN,1
14934,POLICE DEPARTMENT,2007-07-09T00:00:00.000,78026.0,ANDRES,2016,TORIBIO,ACTIVE,H,261.47,per Annum,NaN,83466.58,2091.42,POLICE OFFICER,22505.09,8946.71,BROOKLYN,25
14935,POLICE DEPARTMENT,2015-01-07T00:00:00.000,42819.0,BARTY,2016,TORIBIO,ACTIVE,Y,169.30,per Annum,NaN,42955.90,2091.42,POLICE OFFICER,5368.71,5780.48,BROOKLYN,1
14936,POLICE DEPARTMENT,2002-07-22T00:00:00.000,78026.0,JOSE,2016,TORIBIO,ACTIVE,M,125.75,per Annum,NaN,84324.25,2091.42,POLICE OFFICER,10398.84,11701.59,MANHATTAN,391
14937,POLICE DEPARTMENT,2009-01-14T00:00:00.000,87204.0,ROBERTO,2016,TORIBIO,ACTIVE,NaN,354.17,per Annum,NaN,88465.91,2091.42,P.O. DA DET GR3,24347.57,13621.51,BROOKLYN,63

In [79]:
per_annum_result[per_annum_result['name_count'] > 100].groupby('first_name').agg({'base_salary': np.mean})

             base_salary
first_name
ADAM        75698.702290
ALEXANDER   70018.183206
ANDREW      75596.163077
ANGEL       73327.287879
ANTHONY     74938.023018
...                  ...
THOMAS      83184.541555
TIMOTHY     83030.957364
VICTOR      76558.746575
VINCENT     81412.836502
WILLIAM     82768.525620

[68 rows x 1 columns]

In [81]:
one_hundred_names = per_annum_result[per_annum_result['name_count'] > 100].groupby('first_name').agg({'base_salary': np.mean})

In [88]:
one_hundred_names = one_hundred_names.reset_index()

In [90]:
one_hundred_names.sort_values('base_salary', ascending=False)

   first_name   base_salary
26       JOHN  86474.392828
12     DENNIS  85329.483051
58      SCOTT  84731.308458
14     EDWARD  83915.837758
13     DONALD  83534.731092
..        ...           ...
38      MARIA  57929.642424
48   PATRICIA  55866.417476
47     NICOLE  55604.439024
60  STEPHANIE  54406.612613
41         MD  39274.549550

[68 rows x 2 columns]

In [93]:
sorted_names = one_hundred_names.sort_values('base_salary', ascending=False)

In [94]:
sorted_names

   first_name   base_salary
26       JOHN  86474.392828
12     DENNIS  85329.483051
58      SCOTT  84731.308458
14     EDWARD  83915.837758
13     DONALD  83534.731092
..        ...           ...
38      MARIA  57929.642424
48   PATRICIA  55866.417476
47     NICOLE  55604.439024
60  STEPHANIE  54406.612613
41         MD  39274.549550

[68 rows x 2 columns]

In [96]:
pd.set_option('display.max_rows', 70)

In [97]:
sorted_names

     first_name   base_salary
26         JOHN  86474.392828
12       DENNIS  85329.483051
58        SCOTT  84731.308458
14       EDWARD  83915.837758
13       DONALD  83534.731092
63       THOMAS  83184.541555
51        PETER  83134.871720
64      TIMOTHY  83030.957364
21        JAMES  82976.608295
67      WILLIAM  82768.525620
49      PATRICK  82352.745455
33      KENNETH  81771.609244
39         MARK  81708.791165
50         PAUL  81698.752089
55       ROBERT  81677.518232
52       PHILIP  81638.687500
18        FRANK  81593.952055
66      VINCENT  81412.836502
54      RICHARD  81330.996416
19       GEORGE  81298.047619
5         BRIAN  81233.026502
53      RAYMOND  81117.613065
7       CHARLES  80943.653333
32        KEITH  80735.493902
62       STEVEN  80544.506203
34        KEVIN  80299.502762
61      STEPHEN  79855.007273
36        LOUIS  79291.021277
43      MICHAEL  79116.077986
29       JOSEPH  79048.246994
56       RONALD  78180.416667
10        DAVID  78104.915773
9        DANIEL  76661.280470
23      JEFFREY  76582.180952
65       VICTOR  76558.746575
20      GREGORY  76166.297414
17         ERIC  75832.738971
0          ADAM  75698.702290
28         JOSE  75653.670077
2        ANDREW  75596.163077
59         SEAN  75516.637324
4       ANTHONY  74938.023018
8   CHRISTOPHER  74862.832808
22        JASON  74556.945402
30         JUAN  74259.085227
6        CARLOS  73991.457143
37         LUIS  73868.128000
3         ANGEL  73327.287879
15        EDWIN  72159.171053
40      MATTHEW  72109.046092
45       MIGUEL  71976.526786
1     ALEXANDER  70018.183206
27     JONATHAN  66893.160156
46     NICHOLAS  66661.490385
31       JUSTIN  64464.738255
16    ELIZABETH  64156.854839
42      MELISSA  62938.240741
24     JENNIFER  62763.043210
57         RYAN  62694.371429
25      JESSICA  62468.312977
44     MICHELLE  62359.917241
11       DENISE  62143.256000
35         LISA  61114.725926
38        MARIA  57929.642424
48     PATRICIA  55866.417476
47       NICOLE  55604.439024
60    STEPHANIE  54406.612613
41           MD  39274.549550

In [98]:
per_annum_result['first_name'].value_counts()

MICHAEL        2026
JOHN           1227
JOSEPH         1081
CHRISTOPHER     951
ROBERT          905
               ...
YONNIE            1
MOULAYE           1
JILLION           1
TAHMEIKA          1
DELAYNE           1
Name: first_name, Length: 10508, dtype: int64

In [99]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(per_annum_result['first_name'].value_counts())

MICHAEL           2026
JOHN              1227
JOSEPH            1081
CHRISTOPHER        951
ROBERT             905
JAMES              868
ANTHONY            782
THOMAS             746
DANIEL             681
DAVID              653
WILLIAM            605
BRIAN              566
RICHARD            558
KEVIN              543
MATTHEW            499
STEVEN             403
JOSE               391
PAUL               359
JASON              348
PETER              343
EDWARD             339
PATRICK            330
ANDREW             325
NICHOLAS           312
FRANK              292
SEAN               284
STEPHEN            275
ERIC               272
VINCENT            263
TIMOTHY            258
JONATHAN           256
LUIS               250
MARK               249
KENNETH            238
GREGORY            232
CHARLES            225
JEFFREY            210
RYAN               210
CARLOS             210
SCOTT              201
RAYMOND            199
GEORGE             189
JUAN               176
MARIA              165
KEITH              164
JENNIFER           162
RONALD             156
EDWIN              152
JUSTIN             149
VICTOR             146
MICHELLE           145
LOUIS              141
LISA               135
ANGEL              132
ADAM               131
JESSICA            131
ALEXANDER          131
DENISE             125
ELIZABETH          124
NICOLE             123
DONALD             119
DENNIS             118
PHILIP             112
MIGUEL             112
STEPHANIE          111
MD                 111
MELISSA            108
PATRICIA           103
CHRISTIAN          100
MOHAMMAD           100
JACQUELINE          98
KAREN               97
BRENDAN             97
SANDRA              97
SALVATORE           93
TIFFANY             93
GARY                93
MANUEL              91
JORGE               90
CRAIG               88
DONNA               88
MARY                88
BRYAN               87
MOHAMMED            87
RAFAEL              86
MARTIN              86
SHARON              86
CHRISTINE           85
LAWRENCE            85
DOUGLAS             85
LINDA               82
BARBARA             82
JOSHUA              81
FRANCISCO           81
FRANCIS             80
NANCY               78
CARMEN              78
JULIO               78
ALEX                77
DIANA               77
CYNTHIA             75
HECTOR              73
ANTONIO             73
NELSON              73
ANGELA              73
RAMON               72
JEAN                71
PEDRO               71
VALERIE             71
MARC                71
CRYSTAL             70
DANIELLE            68
RALPH               68
JOEL                68
DEBORAH             68
VANESSA             68
ALBERT              68
KYLE                68
GERARD              67
DANNY               67
SUSAN               66
CHRISTINA           66
HENRY               66
KATHLEEN            66
SHAWN               66
THERESA             65
SAMUEL              64
ROBERTO             63
ANDREA              63
CARL                63
ERIK                62
MARIO               62
BRENDA              60
LAURA               60
PAMELA              60
KIMBERLY            60
ARTHUR              60
YVETTE              59
DAWN                59
WANDA               59
LAUREN              58
ROGER               58
DIANE               58
YOLANDA             58
DOMINICK            58
ANDRE               57
MARIE               57
CHERYL              57
RICARDO             57
FELIX               57
MONIQUE             57
EVELYN              56
ROBIN               56
WAYNE               56
JOHNNY              55
BENJAMIN            54
TANYA               54
OMAR                53
ANGELO              53
ANA                 53
DEREK               52
EUGENE              51
DEBRA               51
ANNETTE             50
KIM                 50
ERICA               50
ASHLEY              50
ALAN                49
LATOYA              49
MICHELE             49
AMANDA              49
FERNANDO            48
SAMANTHA            48
GABRIEL             48
BRANDON             48
KELLY               48
KATHERINE           48
JANET               47
RUBEN               47
ALEXIS              46
OSCAR               46
WALTER              46
CATHERINE           46
TRACY               46
RENEE               45
ALBERTO             45
NATASHA             45
GERALD              45
JANICE              45
IVAN                44
VERONICA            44
CAROL               44
JESUS               44
SHEILA              43
GINA                42
RAUL                42
SABRINA             42
GLORIA              42
GLENN               42
JIMMY               42
MARGARET            41
STEVE               41
ADRIAN              41
DERRICK             41
WENDY               41
LESLIE              41
ALFRED              40
VICTORIA            40
STACEY              40
YVONNE              40
MARILYN             40
REGINA              39
TODD                39
ANNA                39
GWENDOLYN           38
EDGAR               38
CHRIS               38
COREY               38
TARA                37
RACHEL              37
JEREMY              37
RUSSELL             37
LEONARD             36
MONICA              36
TYRONE              36
EMMANUEL            36
STANLEY             36
DARRYL              36
CAROLYN             36
ROSA                36
WILSON              36
CESAR               36
TERENCE             35
MARISOL             35
RODNEY              35
DARREN              35
BEVERLY             35
REGINALD            34
KELVIN              34
HAROLD              34
ISRAEL              34
RANDY               34
JENNY               34
IAN                 34
JESSE               33
FREDERICK           33
NOEL                33
JASMINE             32
EDUARDO             32
JOANNE              32
JAIME               32
JACK                32
LARRY               32
ALICIA              32
EILEEN              32
JERRY               32
AARON               32
SHIRLEY             31
PHILLIP             31
BRETT               31
ORLANDO             31
JOYCE               31
DWAYNE              31
LORRAINE            31
SHAUN               30
DEAN                30
ANN                 30
CHARLENE            30
HOWARD              30
TAMARA              30
SHANE               29
ALVIN               29
TERRENCE            29
NEIL                29
LATISHA             29
ARLENE              29
EVAN                29
TRACEY              28
ELAINE              28
MAUREEN             28
MUHAMMAD            28
NATALIE             28
RUTH                28
HARRY               28
IRIS                28
BRUCE               28
REBECCA             28
EBONY               28
JOAN                28
DESIREE             28
MARCO               28
ANDY                28
TROY                28
ARIEL               27
BRITTANY            27
DANA                27
WILFREDO            27
TRAVIS              27
CHRISTOPHE          27
JEROME              27
SERGIO              27
WILLIE              27
TERESA              27
SYLVIA              26
COLLEEN             26
VIVIAN              26
HELEN               26
MAURICE             26
SARAH               26
MARVIN              26
PAULA               25
FELICIA             25
SHANNON             25
LEON                25
MARCUS              25
ERIKA               25
SONIA               25
IRENE               25
TANISHA             25
DARLENE             25
ANDRES              25
TERRY               25
ALEJANDRO           25
EFRAIN              25
DOMINIC             25
ROSE                24
JOSEPHINE           24
COLIN               24
ALLISON             24
JAMIE               24
SYED                24
ERNEST              24
JORDAN              24
MELVIN              24
PABLO               24
BERNARD             24
ISAAC               24
LUZ                 24
GAIL                23
JAVIER              23
BETTY               23
MARTHA              23
DENIS               23
BARRY               23
ERIN                23
ALICE               23
GIUSEPPE            23
FRANCES             23
CLAUDIA             23
STACY               23
TONY                23
KATRINA             23
MARIBEL             23
FRANKLIN            23
TONYA               23
DOROTHY             23
DORIS               23
CALVIN              22
MILTON              22
KURT                22
JARED               22
LEONARDO            22
JUDY                22
TYLER               22
ELVIS               22
ALFREDO             22
MIRIAM              22
EMILY               22
MARCOS              22
GLADYS              22
LEE                 22
DARRELL             22
SOPHIA              22
APRIL               22
JEANETTE            22
ALEXANDRA           22
JOANN               22
VITO                22
TINA                22
MARITZA             21
SUZANNE             21
KEISHA              21
SANDY               21
NORMAN              21
ERICK               21
ERNESTO             21
AMY                 21
JULIA               21
LILLIAN             21
EDDIE               21
ROSEMARY            21
JOANNA              21
THEODORE            21
GIOVANNI            21
ANITA               20
CLIFFORD            20
FRANCESCO           20
TREVOR              20
DAMIAN              20
MARCIA              20
SIMONE              20
KRISTEN             20
ALLAN               20
CORY                20
RHONDA              20
JULIE               20
GUSTAVO             20
ANTOINETTE          20
JOE                 20
OLGA                19
DUANE               19
RAY                 19
KRYSTAL             19
TERRANCE            19
JUDITH              19
ALLEN               19
WARREN              19
COURTNEY            19
NORMA               19
JUANITA             19
RICKY               19
MARLON              19
FRED                19
HERBERT             19
CINDY               19
DESMOND             19
CHRISTOP            19
GERALDINE           18
KARL                18
TASHA               18
CAROLINE            18
CARLA               18
DELORES             18
JACOB               18
KENNY               18
MILDRED             18
RENE                18
ROY                 18
LORI                18
CLARENCE            18
JOSUE               17
VLADIMIR            17
ZACHARY             17
HEATHER             17
FREDDY              17
EARL                17
RAQUEL              17
RONNIE              17
JAMAL               17
ARMANDO             17
GILBERT             17
MADELINE            17
MALCOLM             17
XAVIER              17
VIRGINIA            17
SEBASTIAN           17
HERIBERTO           17
CARMINE             17
SHERRY              16
AHMED               16
MARYANN             16
DEVIN               16
OLIVER              16
PAULETTE            16
CHAD                16
KERRY               16
DEVON               16
ALI                 16
KATHY               16
NADINE              16
PIERRE              16
ADRIENNE            16
MARLENE             16
TAMIKA              16
CASEY               16
MOHAMED             16
WINSTON             15
RITA                15
GRACE               15
JERMAINE            15
JULIAN              15
BRADLEY             15
TAMMY               15
JEFF                15
MATHEW              15
JANELLE             15
VINCENZO            15
HUGH                15
ROMAN               15
ALISA               15
DOMINIQUE           15
GUILLERMO           15
JASMIN              15
ELLEN               15
DAISY               15
MARGARITA           15
ENRIQUE             15
HUGO                15
DAMIEN              15
JAY                 15
CURTIS              15
NATHANIEL           15
BERNADETTE          15
CARMELO             15
BELINDA             15
JON                 15
BERNICE             15
CRISTINA            14
ROLAND              14
SARA                14
TANIA               14
LORETTA             14
SHAQUANA            14
MAYRA               14
BOBBY               14
SETH                14
NICK                14
DOREEN              14
WILFRED             14
BILLY               14
LAURIE              14
DEANNA              14
GLEN                14
DARYL               14
ABRAHAM             14
LIAM                14
KATHRYN             13
ELVIN               13
LYNN                13
CASSANDRA           13
GREGG               13
PRISCILLA           13
REINALDO            13
ROCHELLE            13
TRICIA              13
CHARMAINE           13
DAMARIS             13
LAMONT              13
GERARDO             13
OLIVIA              13
WESLEY              13
SHELDON             13
NESTOR              13
MERCEDES            13
FRANKIE             13
DAMON               13
REYNALDO            13
LATASHA             13
LUIGI               13
NAOMI               13
EMANUEL             13
JANINE              13
PAULINE             13
FRANKLYN            13
DINA                13
AIDA                13
LISSETTE            13
ALYSSA              13
NATALIA             13
RAPHAEL             12
KRISTINA            12
GENE                12
CARLO               12
ROCCO               12
DYLAN               12
PHYLLIS             12
PASQUALE            12
KRISTOPHER          12
AUDREY              12
NICOLA              12
JEANNETTE           12
RUDY                12
CRISTIAN            12
KIRK                12
KRISTIN             12
MEGAN               12
NICOLAS             12
TOMAS               12
CLAUDE              12
SAMMY               12
CATHY               12
JILLIAN             12
ARNOLD              12
MIKE                12
TAWANA              12
DARNELL             12
ROXANNE             12
LOURDES             12
KARA                12
CLARA               12
TOMASZ              12
MYRNA               12
PATRICE             12
ALFONSO             11
KIERAN              11
CANDICE             11
MELINDA             11
WENDELL             11
MOISES              11
EMILIO              11
ISMAEL              11
CHARLIE             11
OSVALDO             11
ANGELICA            11
ROSEMARIE           11
ROSLYN              11
STEFANIE            11
FRANCINE            11
KAREEM              11
LANCE               11
DON                 11
DIEGO               11
MARISSA             11
EDMUND              11
HASSAN              11
EDUARD              11
GERMAN              11
MAX                 11
MAXINE              11
GUY                 11
JEREMIAH            11
IRVING              11
IGOR                11
OWEN                11
WILBERT             11
ELEANOR             11
IVETTE              11
LYDIA               11
CLAUDIO             11
ANNMARIE            11
EDGARDO             11
SANTIAGO            11
YEVGENIY            11
DEBBIE              11
ELIAS               11
AHMAD               11
BEATRICE            11
DALE                11
DIANNE              11
DWIGHT              11
JULISSA             11
RANDOLPH            11
NADIA               11
BETH                10
DEIDRE              10
YESENIA             10
HORACE              10
CLINT               10
LEO                 10
DOLORES             10
LAURENCE            10
MELANIE             10
TOMMY               10
NILSA               10
ARTURO              10
ROSALIND            10
TAMEKA              10
ISABEL              10
NINA                10
BRIANNA             10
BRYANT              10
SUZETTE             10
MITCHELL            10
INGRID              10
VICENTE             10
SIMON               10
NOREEN              10
GREG                10
BRIDGET             10
JEFFERY             10
JULIUS              10
TATIANA             10
MIGDALIA            10
MARCIN              10
MORGAN              10
MAGDALENA           10
CECILIA             10
BYRON               10
ALISON              10
MARINA              10
ALANA               10
TERRELL             10
JEANNE              10
JOHANNA             10
JOHNATHAN           10
DEIRDRE             10
MARSHA              10
ANTON               10
MILAGROS            10
SHAMIKA             10
RODOLFO              9
SHEENA               9
RUBY                 9
LESTER               9
LUKE                 9
GARFIELD             9
PERRY                9
MARCELO              9
KAI                  9
ROSARIO              9
JILL                 9
KENYA                9
YASMIN               9
CHANEL               9
ABEL                 9
JOEY                 9
MARCELLA             9
AWILDA               9
MAXIMO               9
DARRIN               9
LUCAS                9
CARRIE               9
EDITH                9
AUSTIN               9
ANTOINE              9
LLOYD                9
GORDON               9
LISETTE              9
DOMINGO              9
LUISA                9
ESTHER               9
JANE                 9
JUDE                 9
GISELLE              9
ETHEL                9
ABDUL                9
ROBERTA              9
DIONNE               9
YAHAIRA              9
ANGELINA             9
EDDY                 9
JAMEL                9
JOY                  9
ELSA                 9
GLENDA               9
CANDACE              9
NILDA                9
BORIS                9
LORENZO              9
FAUSTO               9
ANDERSON             9
ANNIE                9
RAVI                 9
DINO                 9
ANNE                 9
EVA                  9
RORY                 9
LEROY                8
SAUL                 8
EDNA                 8
ANTONIA              8
SASHA                8
MARION               8
RAMONA               8
ERROL                8
FABIAN               8
SAMIR                8
ZORAIDA              8
JACLYN               8
EVETTE               8
CHARISSE             8
CHANTEL              8
THELMA               8
MELODY               8
NAKIA                8
BIANCA               8
RUDOLPH              8
MONA                 8
DEXTER               8
SONYA                8
ROSALIE              8
ELENA                8
KISHA                8
LUKASZ               8
BENITO               8
GAETANO              8
LEAH                 8
LOUISE               8
SHANIQUA             8
EMIL                 8
CAROLINA             8
NIGEL                8
ETHAN                8
NEAL                 8
MOSES                8
ALESSANDRO           8
CARLTON              8
FRANCO               8
AISHA                8
CODY                 8
DERICK               8
PAWEL                8
EDMOND               8
MARJORIE             8
ELISA                8
JULIET               8
IRMA                 8
TRINA                8
CLIFTON              8
NATHAN               8
JUANA                8
SANTO                8
SHAMEEKA             8
CORINNE              8
KRISTA               8
JOHNNIE              8
GABRIELLE            8
ALMA                 8
YURIY                8
EMMA                 8
LETICIA              8
GILBERTO             8
RAJESH               8
LINA                 8
JOCELYN              8
TONI                 8
ARNALDO              8
ROSALYN              8
VERA                 8
SUNIL                7
HUMBERTO             7
JANETTE              7
FREDDIE              7
DANTE                7
DION                 7
ROBINSON             7
DEMETRIOS            7
AMAURY               7
ROSS                 7
IOANNIS              7
MARIELA              7
LEWIS                7
KONSTANTIN           7
LUCY                 7
ELLIOT               7
ADRIANA              7
LEANDRO              7
ENMANUEL             7
BLAKE                7
CEDRIC               7
ABUL                 7
KAYLA                7
ARTUR                7
FATIMA               7
LEONID               7
ILYA                 7
DANE                 7
INDIA                7
JUNE                 7
CLYDE                7
IBRAHIM              7
FRANTZ               7
GERALDO              7
ADNAN                7
ERICKA               7
DAVE                 7
TABITHA              7
SAM                  7
CAITLIN              7
HUBERT               7
SHAUNA               7
JACQUELI             7
KATIE                7
TANESHA              7
PEGGY                7
MADELYN              7
ROLANDO              7
JACKSON              7
LUCILLE              7

In [100]:
smaller_threshold = per_annum_result[per_annum_result['name_count'] > 50].groupby('first_name').agg({'base_salary': np.mean})

In [101]:
smaller_threshold

             base_salary
first_name
ADAM        75698.702290
ALBERT      78571.441176
ALEX        69941.272727
ALEXANDER   70018.183206
ANA         55299.226415
...                  ...
WANDA       58560.779661
WAYNE       79018.000000
WILLIAM     82768.525620
YOLANDA     52259.982759
YVETTE      57987.152542

[163 rows x 1 columns]

In [102]:
smaller_threshold.reset_index()

    first_name   base_salary
0         ADAM  75698.702290
1       ALBERT  78571.441176
2         ALEX  69941.272727
3    ALEXANDER  70018.183206
4          ANA  55299.226415
..         ...           ...
158      WANDA  58560.779661
159      WAYNE  79018.000000
160    WILLIAM  82768.525620
161    YOLANDA  52259.982759
162     YVETTE  57987.152542

[163 rows x 2 columns]

In [103]:
smaller_threshold

             base_salary
first_name
ADAM        75698.702290
ALBERT      78571.441176
ALEX        69941.272727
ALEXANDER   70018.183206
ANA         55299.226415
...                  ...
WANDA       58560.779661
WAYNE       79018.000000
WILLIAM     82768.525620
YOLANDA     52259.982759
YVETTE      57987.152542

[163 rows x 1 columns]

In [104]:
smaller_threshold = smaller_threshold.reset_index()

In [105]:
smaller_threshold.sort_values('base_salary', ascending=False)

    first_name   base_salary
61      GERARD  88386.194030
73        JOHN  86474.392828
40      DENNIS  85329.483051
141      SCOTT  84731.308458
48      EDWARD  83915.837758
..         ...           ...
140     SANDRA  51885.000000
152    TIFFANY  50159.215054
111   MOHAMMAD  49449.460000
112   MOHAMMED  47785.643678
106         MD  39274.549550

[163 rows x 2 columns]

In [106]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(smaller_threshold.sort_values('base_salary', ascending=False))

      first_name   base_salary
61        GERARD  88386.194030
73          JOHN  86474.392828
40        DENNIS  85329.483051
141        SCOTT  84731.308458
48        EDWARD  83915.837758
127        RALPH  83572.382353
45        DONALD  83534.731092
151       THOMAS  83184.541555
124        PETER  83134.871720
153      TIMOTHY  83030.957364
66         JAMES  82976.608295
92      LAWRENCE  82877.458824
160      WILLIAM  82768.525620
121      PATRICK  82352.745455
44      DOMINICK  82047.844828
52          ERIK  81899.177419
86       KENNETH  81771.609244
102         MARK  81708.791165
122         PAUL  81698.752089
132       ROBERT  81677.518232
125       PHILIP  81638.687500
58         FRANK  81593.952055
157      VINCENT  81412.836502
131      RICHARD  81330.996416
60        GEORGE  81298.047619
18         BRIAN  81233.026502
56       FRANCIS  81168.612500
129      RAYMOND  81117.613065
23       CHARLES  80943.653333
29         CRAIG  80738.022727
85         KEITH  80735.493902
147       STEVEN  80544.506203
87         KEVIN  80299.502762
103       MARTIN  80228.953488
138    SALVATORE  80200.107527
146      STEPHEN  79855.007273
98          MARC  79716.830986
95         LOUIS  79291.021277
20          CARL  79157.904762
108      MICHAEL  79116.077986
78        JOSEPH  79048.246994
159        WAYNE  79018.000000
59          GARY  78624.698925
1         ALBERT  78571.441176
53        EUGENE  78537.235294
136       RONALD  78180.416667
35         DAVID  78104.915773
17       BRENDAN  78087.144330
115       NELSON  77639.219178
97        MANUEL  77561.318681
133      ROBERTO  77186.079365
47       DOUGLAS  76785.447059
32        DANIEL  76661.280470
135        ROGER  76642.793103
13        ARTHUR  76593.900000
69       JEFFREY  76582.180952
156       VICTOR  76558.746575
62       GREGORY  76166.297414
64         HENRY  76004.636364
51          ERIC  75832.738971
0           ADAM  75698.702290
77          JOSE  75653.670077
7         ANDREW  75596.163077
142         SEAN  75516.637324
15      BENJAMIN  75314.185185
11       ANTHONY  74938.023018
28   CHRISTOPHER  74862.832808
10        ANGELO  74786.886792
81         JULIO  74604.538462
67         JASON  74556.945402
84      KATHLEEN  74507.530303
80          JUAN  74259.085227
21        CARLOS  73991.457143
96          LUIS  73868.128000
8          ANGEL  73327.287879
101        MARIO  73321.274194
74        JOHNNY  73271.109091
128        RAMON  72893.333333
126       RAFAEL  72791.406977
123        PEDRO  72685.211268
76         JORGE  72442.400000
57     FRANCISCO  72321.098765
63        HECTOR  72276.219178
49         EDWIN  72159.171053
105      MATTHEW  72109.046092
110       MIGUEL  71976.526786
55         FELIX  71748.912281
12       ANTONIO  71163.904110
139       SAMUEL  70624.125000
130      RICARDO  70149.298246
3      ALEXANDER  70018.183206
2           ALEX  69941.272727
19         BRYAN  69504.873563
5          ANDRE  69392.982456
144        SHAWN  69023.500000
34         DANNY  68990.686567
114        NANCY  68709.051282
118         OMAR  68164.905660
27     CHRISTINE  67648.788235
41         DEREK  67595.192308
75      JONATHAN  66893.160156
116     NICHOLAS  66661.490385
104         MARY  66565.181818
72          JOEL  66052.852941
148        SUSAN  66008.121212
33      DANIELLE  65912.823529
42         DIANA  65667.077922
90         LAURA  65396.333333
25     CHRISTIAN  65051.200000
82        JUSTIN  64464.738255
50     ELIZABETH  64156.854839
36          DAWN  63626.694915
107      MELISSA  62938.240741
68          JEAN  62813.056338
70      JENNIFER  62763.043210
137         RYAN  62694.371429
91        LAUREN  62553.206897
71       JESSICA  62468.312977
109     MICHELLE  62359.917241
39        DENISE  62143.256000
38         DEBRA  62000.411765
79        JOSHUA  61895.024691
46         DONNA  61546.090909
155      VANESSA  61182.838235
94          LISA  61114.725926
88      KIMBERLY  60935.600000
83         KAREN  60778.247423
150      THERESA  60674.323077
149        TANYA  60536.055556
43         DIANE  60467.155172
134        ROBIN  59134.535714
9         ANGELA  58818.602740
119       PAMELA  58808.250000
65    JACQUELINE  58616.693878
158        WANDA  58560.779661
143       SHARON  58112.976744
162       YVETTE  57987.152542
99         MARIA  57929.642424
100        MARIE  57885.684211
37       DEBORAH  57576.735294
93         LINDA  56670.012195
22        CARMEN  56491.512821
31       CYNTHIA  56368.080000
54        EVELYN  55962.035714
120     PATRICIA  55866.417476
117       NICOLE  55604.439024
4            ANA  55299.226415
89          KYLE  55281.441176
6         ANDREA  54805.555556
24        CHERYL  54782.473684
26     CHRISTINA  54511.818182
145    STEPHANIE  54406.612613
14       BARBARA  54196.390244
113      MONIQUE  53604.666667
154      VALERIE  52373.633803
161      YOLANDA  52259.982759
16        BRENDA  52077.500000
30       CRYSTAL  51964.542857
140       SANDRA  51885.000000
152      TIFFANY  50159.215054
111     MOHAMMAD  49449.460000
112     MOHAMMED  47785.643678
106           MD  39274.549550

In [107]:
smaller_threshold = smaller_threshold.sort_values('base_salary', ascending=False).reset_index()

In [108]:
smaller_threshold

     index first_name   base_salary
0       61     GERARD  88386.194030
1       73       JOHN  86474.392828
2       40     DENNIS  85329.483051
3      141      SCOTT  84731.308458
4       48     EDWARD  83915.837758
..     ...        ...           ...
158    140     SANDRA  51885.000000
159    152    TIFFANY  50159.215054
160    111   MOHAMMAD  49449.460000
161    112   MOHAMMED  47785.643678
162    106         MD  39274.549550

[163 rows x 3 columns]

In [110]:
annual_result = current_year_result[current_year_result['pay_basis'].str.contains('Annum')]

In [111]:
annual_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.00,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.00,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.00,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.00,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.00,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.00,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.00,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.00,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.00,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.00,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.00,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.00,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.00,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.00,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.00,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.00,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.00,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.00,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.00,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.00,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.00,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.00,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.00,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.00,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.00,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.00,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.00,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.00,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.00,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.00,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.00,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.00,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.00,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.00,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.00,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.00,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.00,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.00,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.00,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.00,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.00,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.00,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.00,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.00,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.00,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.00,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.00,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.00,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.00,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.00,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.00,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.00,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.00,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.00,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.00,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.00,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.00,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.00,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.00,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.00,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.00,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.00,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.00,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.00,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.00,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.00,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.00,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [112]:
annual_result['base_salary'].astype(float)

0         47678.0
1        119959.0
2         39966.0
3        116000.0
5         71500.0
           ...
44826     49311.0
44827     53364.0
44828     49341.0
44829     63118.0
44830     45072.0
Name: base_salary, Length: 337557, dtype: float64

In [113]:
annual_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null object
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: object(17)
memory usage: 46.4+ MB

In [114]:
annual_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null object
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: object(17)
memory usage: 46.4+ MB

In [116]:
annual_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.00,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.00,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.00,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.00,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.00,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.00,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.00,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.00,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.00,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.00,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.00,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.00,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.00,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.00,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.00,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.00,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.00,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.00,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.00,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.00,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.00,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.00,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.00,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.00,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.00,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.00,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.00,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.00,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.00,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.00,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.00,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.00,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.00,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.00,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.00,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.00,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.00,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.00,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.00,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.00,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.00,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.00,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.00,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.00,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.00,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.00,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.00,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.00,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.00,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.00,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.00,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.00,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.00,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.00,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.00,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.00,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.00,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.00,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.00,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.00,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.00,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.00,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.00,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.00,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.00,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.00,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.00,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [117]:
annual_result['base_salary'].astype(float)

0         47678.0
1        119959.0
2         39966.0
3        116000.0
5         71500.0
           ...
44826     49311.0
44827     53364.0
44828     49341.0
44829     63118.0
44830     45072.0
Name: base_salary, Length: 337557, dtype: float64

In [118]:
annual_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null object
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: object(17)
memory usage: 46.4+ MB

In [119]:
annual_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.00,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.00,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.00,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.00,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.00,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.00,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.00,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.00,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.00,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.00,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.00,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.00,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.00,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.00,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.00,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.00,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.00,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.00,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.00,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.00,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.00,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.00,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.00,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.00,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.00,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.00,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.00,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.00,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.00,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.00,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.00,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.00,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.00,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.00,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.00,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.00,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.00,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.00,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.00,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.00,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.00,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.00,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.00,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.00,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.00,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.00,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.00,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.00,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.00,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.00,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.00,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.00,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.00,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.00,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.00,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.00,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.00,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.00,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.00,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.00,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.00,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.00,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.00,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.00,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.00,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.00,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.00,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [120]:
annual_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null object
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: object(17)
memory usage: 46.4+ MB

In [123]:
annual_result.reset_index()

,index,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.00,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.00,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.00,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.00,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
4,5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
5,6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.00,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
6,8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.00,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
7,9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.00,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
8,10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.00,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
9,11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.00,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
10,12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.00,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
11,13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.00,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
12,14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.00,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
13,16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.00,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
14,17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.00,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
15,19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.00,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
16,20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.00,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
17,24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.00,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
18,25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.00,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
19,26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.00,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
20,27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.00,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
21,28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.00,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
22,29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.00,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
23,30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.00,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
24,31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
25,32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.00,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
26,33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.00,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
27,34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.00,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
28,35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.00,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
29,36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.00,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
30,37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.00,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
31,38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.00,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
32,39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
33,40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.00,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.00,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337522,44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.00,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
337523,44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.00,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
337524,44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.00,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
337525,44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.00,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
337526,44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.00,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
337527,44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.00,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
337528,44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.00,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
337529,44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.00,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
337530,44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.00,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
337531,44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.00,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
337532,44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.00,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
337533,44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.00,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
337534,44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.00,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
337535,44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.00,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
337536,44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.00,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
337537,44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.00,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
337538,44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.00,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
337539,44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.00,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
337540,44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.00,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
337541,44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.00,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
337542,44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.00,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
337543,44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.00,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
337544,44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.00,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
337545,44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.00,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
337546,44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.00,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
337547,44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.00,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
337548,44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.00,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
337549,44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.00,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
337550,44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.00,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
337551,44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.00,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
337552,44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.00,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
337553,44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.00,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
337554,44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.00,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
337555,44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.00,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
337556,44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.00,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [125]:
annual_result['base_salary'].astype(float)

0         47678.0
1        119959.0
2         39966.0
3        116000.0
5         71500.0
           ...
44826     49311.0
44827     53364.0
44828     49341.0
44829     63118.0
44830     45072.0
Name: base_salary, Length: 337557, dtype: float64

In [127]:
annual_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null object
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: object(17)
memory usage: 46.4+ MB

In [128]:
per_annum_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56772 entries, 101 to 14937
Data columns (total 18 columns):
agency_name                   56772 non-null object
agency_start_date             56772 non-null object
base_salary                   56772 non-null float64
first_name                    56772 non-null object
fiscal_year                   56772 non-null object
last_name                     56772 non-null object
leave_status_as_of_july_31    56772 non-null object
mid_init                      40231 non-null object
ot_hours                      56772 non-null object
pay_basis                     56772 non-null object
payroll_number                0 non-null object
regular_gross_paid            56772 non-null object
regular_hours                 56772 non-null object
title_description             56772 non-null object
total_ot_paid                 56772 non-null object
total_other_pay               56772 non-null object
work_location_borough         56772 non-null object
name_count                    56772 non-null int64
dtypes: float64(1), int64(1), object(16)
memory usage: 8.2+ MB

In [129]:
annual_result['base_salary'].astype('float')

0         47678.0
1        119959.0
2         39966.0
3        116000.0
5         71500.0
           ...
44826     49311.0
44827     53364.0
44828     49341.0
44829     63118.0
44830     45072.0
Name: base_salary, Length: 337557, dtype: float64

In [130]:
annual_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null object
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: object(17)
memory usage: 46.4+ MB

In [132]:
annual_result['base_salary'].astype(number)

NameError: name 'number' is not defined

In [133]:
annual_result['base_salary'] = annual_result['base_salary'].astype(float)

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [134]:
annual_result[:0]

Empty DataFrame
Columns: [agency_name, agency_start_date, base_salary, first_name, fiscal_year, last_name, leave_status_as_of_july_31, mid_init, ot_hours, pay_basis, payroll_number, regular_gross_paid, regular_hours, title_description, total_ot_paid, total_other_pay, work_location_borough]
Index: []

In [137]:
annual_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null float64
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: float64(1), object(16)
memory usage: 46.4+ MB

In [139]:
annual_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [141]:
annual_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [142]:
annual_result['first_name'].value_counts()

MICHAEL      6651
JOHN         4353
JOSEPH       3592
ROBERT       3440
JAMES        3030
             ...
MUTASEM         1
JOSINALDA       1
JOANIA          1
FATOU           1
TRISALENE       1
Name: first_name, Length: 41360, dtype: int64

In [146]:
annual_result['name_count'] = annual_result['first_name'].value_counts()

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [148]:
per_annum_result['name_count'].map(per_annum_result['first_name'].value_counts())

101     NaN
453     NaN
479     NaN
505     NaN
531     NaN
         ..
14933   NaN
14934   NaN
14935   NaN
14936   NaN
14937   NaN
Name: name_count, Length: 56772, dtype: float64

In [149]:
annual_result['name_count'].map(annual_result['first_name'].value_counts())

0       NaN
1       NaN
2       NaN
3       NaN
5       NaN
         ..
44826   NaN
44827   NaN
44828   NaN
44829   NaN
44830   NaN
Name: name_count, Length: 337557, dtype: float64

In [150]:
annual_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN,NaN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN,NaN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN,NaN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN,NaN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN,NaN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN,NaN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN,NaN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN,NaN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN

In [151]:
annual_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN,NaN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN,NaN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN,NaN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN,NaN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN,NaN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN,NaN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN,NaN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN,NaN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN

In [152]:
per_annum_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
101,POLICE DEPARTMENT,2014-07-09T00:00:00.000,44521.0,MARGARET,2016,ABREU,ACTIVE,NaN,366.70,per Annum,NaN,44097.46,2091.42,POLICE OFFICER,11627.59,6760.00,MANHATTAN,41
453,POLICE DEPARTMENT,2005-04-25T00:00:00.000,37307.0,MAYRA,2016,ABREU,CEASED,I,0.00,per Annum,NaN,739.88,0.00,TRAFFIC ENFORCEMENT AGENT,81.07,27.17,MANHATTAN,14
479,POLICE DEPARTMENT,1997-12-08T00:00:00.000,90822.0,JOHN,2016,ACCONI,ACTIVE,NaN,450.50,per Annum,NaN,89919.65,2091.42,P.O. DA DET GR3,33510.92,17532.71,QUEENS,1227
505,POLICE DEPARTMENT,2007-07-18T00:00:00.000,78026.0,DANNY,2016,ACOSTA,ACTIVE,M,304.58,per Annum,NaN,83453.96,2091.42,POLICE OFFICER,21301.30,17879.42,BRONX,67
531,POLICE DEPARTMENT,2000-03-01T00:00:00.000,84652.0,TOMAS,2016,ACOSTA JR,ACTIVE,NaN,42.75,per Annum,NaN,88667.72,2091.42,SERGEANT,5871.65,17316.94,MANHATTAN,12
632,POLICE DEPARTMENT,1999-07-07T00:00:00.000,78026.0,VICTOR,2016,ADAMES,ACTIVE,NaN,187.35,per Annum,NaN,84324.25,2091.42,POLICE OFFICER,12941.59,20471.56,QUEENS,146
760,POLICE DEPARTMENT,1998-12-20T00:00:00.000,39929.0,ELLA,2016,ADAMS,ACTIVE,M,68.50,per Annum,NaN,46117.00,2091.42,SCHOOL SAFETY AGENT,2313.66,1533.08,MANHATTAN,5
838,POLICE DEPARTMENT,1993-08-30T00:00:00.000,88151.0,PAUL,2016,ADAMS JR,CEASED,E,0.00,per Annum,NaN,0.00,0.00,P.O. DA DET GR3,0.00,97.79,MANHATTAN,359
864,POLICE DEPARTMENT,1991-10-24T00:00:00.000,48566.0,EMMANUEL,2016,ADEDOKUN,ACTIVE,NaN,0.00,per Annum,NaN,48042.47,1830.00,BOOKKEEPER,0.00,4747.86,BROOKLYN,36
940,POLICE DEPARTMENT,2000-03-01T00:00:00.000,103585.0,BORIS,2016,ADLER,ACTIVE,NaN,148.02,per Annum,NaN,103257.15,2091.42,SERGEANT,15389.70,21884.59,BROOKLYN,9
991,POLICE DEPARTMENT,2015-07-08T00:00:00.000,42819.0,CRAIG,2016,ADLER,ACTIVE,P,56.95,per Annum,NaN,39777.33,2028.57,POLICE OFFICER,1375.15,3326.03,BROOKLYN,88
1117,POLICE DEPARTMENT,2015-06-01T00:00:00.000,133250.0,JEFF,2016,ADLER,ACTIVE,S,0.00,per Annum,NaN,131836.81,1830.00,ASSISTANT DEPUTY COMMISSIONER,0.00,0.00,MANHATTAN,15
1143,POLICE DEPARTMENT,1998-07-01T00:00:00.000,78026.0,MICAH,2016,ADLER,CEASED,J,0.00,per Annum,NaN,2817.17,0.00,POLICE OFFICER,52.96,534.23,MANHATTAN,1
1169,POLICE DEPARTMENT,1995-04-30T00:00:00.000,118902.0,MICHAEL,2016,ADLER,ACTIVE,NaN,642.42,per Annum,NaN,116553.46,2091.42,LIEUTENANT,62296.54,14757.13,BRONX,2026
1297,POLICE DEPARTMENT,2005-01-10T00:00:00.000,103585.0,NICOT,2016,ADME,ACTIVE,NaN,330.77,per Annum,NaN,90639.84,2091.42,SERGEANT,22381.82,13749.69,MANHATTAN,1
1323,POLICE DEPARTMENT,1999-08-27T00:00:00.000,39882.0,UDDIN,2016,AFSAR,ACTIVE,NaN,56.50,per Annum,NaN,46071.15,2091.42,SCHOOL SAFETY AGENT,1607.15,1608.45,BROOKLYN,1
1349,POLICE DEPARTMENT,2003-07-01T00:00:00.000,78026.0,MOHSIN,2016,AFTAB,CEASED,NaN,0.00,per Annum,NaN,3110.54,0.00,POLICE OFFICER,53.56,600.54,MANHATTAN,4
1375,POLICE DEPARTMENT,2006-01-09T00:00:00.000,118902.0,ASHRAF,2016,AHMED,ACTIVE,K,387.00,per Annum,NaN,108209.99,2091.42,LIEUTENANT,32023.73,21590.53,BROOKLYN,2
1501,POLICE DEPARTMENT,2007-03-26T00:00:00.000,37867.0,ASIF,2016,AHMED,CEASED,NaN,0.00,per Annum,NaN,2808.86,0.00,TRAFFIC ENFORCEMENT AGENT,659.60,1742.56,MANHATTAN,4
1788,POLICE DEPARTMENT,2000-09-29T00:00:00.000,118902.0,THOMAS,2016,AILMAN,ACTIVE,W,50.75,per Annum,NaN,116553.46,2091.42,LIEUTENANT,4662.49,25278.57,BROOKLYN,746
2307,POLICE DEPARTMENT,1995-06-30T00:00:00.000,78026.0,FRANK,2016,AIMONE,ACTIVE,NaN,85.92,per Annum,NaN,84324.25,2091.42,POLICE OFFICER,8946.31,16754.76,MANHATTAN,292
3632,POLICE DEPARTMENT,2012-01-09T00:00:00.000,54341.0,TASLIMA,2016,AKHTER,ACTIVE,NaN,105.25,per Annum,NaN,56904.15,2091.42,POLICE OFFICER,5673.94,3680.02,BROOKLYN,2
3684,POLICE DEPARTMENT,2005-01-10T00:00:00.000,119647.0,WAHEED,2016,AKHTER,ACTIVE,NaN,81.33,per Annum,NaN,114477.95,2091.42,CAPTAIN,6628.06,18344.88,MANHATTAN,1
3840,POLICE DEPARTMENT,1993-08-30T00:00:00.000,90822.0,KEVIN,2016,ALANIS,ACTIVE,NaN,283.58,per Annum,NaN,92083.72,2091.42,P.O. DET SPEC,20400.12,17220.46,MANHATTAN,543
3968,POLICE DEPARTMENT,2013-07-09T00:00:00.000,49760.0,AMAR,2016,ABBAS,ACTIVE,NaN,291.17,per Annum,NaN,48146.21,2091.42,POLICE OFFICER,12268.05,7553.83,BROOKLYN,3
3994,POLICE DEPARTMENT,1999-06-07T00:00:00.000,48127.0,IRIS,2016,AADIL,ACTIVE,D,11.25,per Annum,NaN,31789.04,1311.17,POLICE COMMUNICATIONS TECHNICIAN,327.78,7005.08,BROOKLYN,28
4020,POLICE DEPARTMENT,2004-02-23T00:00:00.000,35676.0,MILAGROS,2016,ALANIS,CEASED,NaN,0.00,per Annum,NaN,1725.00,0.00,SCHOOL SAFETY AGENT,0.00,0.00,MANHATTAN,10
4072,POLICE DEPARTMENT,2004-01-20T00:00:00.000,90822.0,LORI,2016,AANONSEN,ACTIVE,L,552.58,per Annum,NaN,89919.65,2091.42,P.O. DA DET GR3,39617.22,11397.66,MANHATTAN,18
4098,POLICE DEPARTMENT,1981-01-26T00:00:00.000,114837.0,WALTER,2016,AANONSEN,CEASED,J,0.00,per Annum,NaN,0.00,0.00,LIEUTENANT,0.00,262.78,MANHATTAN,46
4174,POLICE DEPARTMENT,2015-10-07T00:00:00.000,42819.0,ABDELHADI,2016,AANOUZ,ACTIVE,NaN,40.50,per Annum,NaN,29131.04,1468.57,POLICE OFFICER,1096.43,2192.58,BRONX,1
4250,POLICE DEPARTMENT,2001-07-02T00:00:00.000,78026.0,GARY,2016,AARONSON,ACTIVE,W,43.25,per Annum,NaN,84324.25,2091.42,POLICE OFFICER,3349.56,12723.91,QUEENS,93
4276,POLICE DEPARTMENT,2005-07-11T00:00:00.000,78026.0,DONTE,2016,ALARCON,ACTIVE,S,81.77,per Annum,NaN,84324.25,2091.42,POLICE OFFICER,7518.97,13016.27,BRONX,3
4302,POLICE DEPARTMENT,2006-07-10T00:00:00.000,78026.0,JACOB,2016,AARONSON,ACTIVE,J,311.75,per Annum,NaN,83933.75,2091.42,POLICE OFFICER,22310.25,17192.16,MANHATTAN,18
4328,POLICE DEPARTMENT,1993-09-01T00:00:00.000,89033.0,ROBERT,2016,AASHEIM,CEASED,H,0.00,per Annum,NaN,0.00,0.00,P.O. DET SPEC,0.00,102.71,MANHATTAN,905
4354,POLICE DEPARTMENT,1991-04-30T00:00:00.000,102054.0,THOMAS,2016,AASHEIM,CEASED,R,493.75,per Annum,NaN,89050.27,1737.17,POLICE OFFICER D/A DETECTIVE 2ND GR,44604.07,20234.09,MANHATTAN,746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14900,POLICE DEPARTMENT,2003-10-01T00:00:00.000,46358.0,CHERIE,2016,TONEY,ACTIVE,N,367.25,per Annum,NaN,43018.09,2091.42,ASSOCIATE TRAFFIC ENFORCEMENT AGENT,11988.50,2592.02,BROOKLYN,3
14901,POLICE DEPARTMENT,1990-12-11T00:00:00.000,45785.0,KATHY,2016,TONEY,ACTIVE,NaN,0.00,per Annum,NaN,45289.12,1830.00,SENIOR POLICE ADMINISTRATIVE AIDE,0.00,5677.65,QUEENS,16
14902,POLICE DEPARTMENT,2015-03-31T00:00:00.000,33400.0,PHILLIP,2016,TONEY,ACTIVE,P,422.50,per Annum,NaN,31764.53,2091.42,TRAFFIC ENFORCEMENT AGENT,8353.28,2244.67,MANHATTAN,31
14903,POLICE DEPARTMENT,2001-04-27T00:00:00.000,48127.0,DREMECHE,2016,TONEY-HOLLEY,ACTIVE,S,7.00,per Annum,NaN,45443.35,1756.53,POLICE COMMUNICATIONS TECHNICIAN,215.35,7426.76,BROOKLYN,1
14904,POLICE DEPARTMENT,2011-07-06T00:00:00.000,57747.0,CHI HO,2016,TONG,ACTIVE,NaN,362.17,per Annum,NaN,59085.02,2091.42,POLICE OFFICER,15787.90,8171.37,MANHATTAN,1
14905,POLICE DEPARTMENT,2007-01-10T00:00:00.000,78026.0,CHUNG,2016,TONG,ACTIVE,Y,67.25,per Annum,NaN,83718.54,2091.42,POLICE OFFICER,7778.80,11228.13,BROOKLYN,4
14906,POLICE DEPARTMENT,2013-07-08T00:00:00.000,45443.0,KIN HANG,2016,TONG,ACTIVE,NaN,4.00,per Annum,NaN,44069.67,1830.00,PHOTOGRAPHER,74.62,3062.96,MANHATTAN,1
14907,POLICE DEPARTMENT,2001-07-02T00:00:00.000,103585.0,SAMMY,2016,TONG,ACTIVE,K,47.75,per Annum,NaN,102802.37,2091.42,SERGEANT,4467.20,17420.55,BROOKLYN,12
14908,POLICE DEPARTMENT,2010-01-11T00:00:00.000,84248.0,YAN LOK TIMOTH,2016,TONG,ON LEAVE,NaN,0.67,per Annum,NaN,27360.18,2091.42,SERGEANT,322.27,14630.91,MANHATTAN,1
14909,POLICE DEPARTMENT,2016-01-06T00:00:00.000,42819.0,DILLON,2016,TONNE,ACTIVE,NaN,0.00,per Annum,NaN,18484.76,988.57,POLICE OFFICER,0.00,0.00,MANHATTAN,4
14911,POLICE DEPARTMENT,1990-10-15T00:00:00.000,78026.0,DANIEL,2016,TONNESSEN,CEASED,L,63.90,per Annum,NaN,73878.24,1702.87,POLICE OFFICER,5746.77,20193.92,MANHATTAN,681
14912,POLICE DEPARTMENT,2001-07-02T00:00:00.000,78026.0,ROBERT,2016,TONRY,CEASED,V,0.00,per Annum,NaN,4049.63,0.00,POLICE OFFICER,5.06,366.49,MANHATTAN,905
14913,POLICE DEPARTMENT,2003-07-01T00:00:00.000,90822.0,SUK,2016,TOO,ACTIVE,H,261.77,per Annum,NaN,93255.15,2091.42,P.O. DET SPEC,19027.08,13879.42,MANHATTAN,2
14914,POLICE DEPARTMENT,2005-06-13T00:00:00.000,39868.0,NICOLE,2016,TOODLE,ACTIVE,NaN,680.00,per Annum,NaN,45198.39,2027.42,SCHOOL SAFETY AGENT,19742.92,1020.77,MANHATTAN,123
14915,POLICE DEPARTMENT,1981-07-13T00:00:00.000,115985.0,ROBERT,2016,TOOHEY,CEASED,J,0.00,per Annum,NaN,1076.67,0.00,SERGEANT D/A SPECIAL ASSIGNMENT,0.00,467.30,MANHATTAN,905
14916,POLICE DEPARTMENT,2015-01-07T00:00:00.000,42819.0,DANIEL,2016,TOOMA,ACTIVE,J,144.75,per Annum,NaN,42955.90,2091.42,POLICE OFFICER,4948.28,5186.15,BRONX,681
14917,POLICE DEPARTMENT,1982-06-24T00:00:00.000,46021.0,SHARON,2016,TOOMER,ACTIVE,NaN,409.75,per Annum,NaN,45522.56,1830.00,SENIOR POLICE ADMINISTRATIVE AIDE,13183.14,4889.50,MANHATTAN,86
14918,POLICE DEPARTMENT,1995-04-02T00:00:00.000,78026.0,MICHAEL,2016,TOOMEY,CEASED,A,0.00,per Annum,NaN,3914.98,0.00,POLICE OFFICER,1256.57,776.65,MANHATTAN,2026
14919,POLICE DEPARTMENT,1995-06-30T00:00:00.000,78026.0,KARL,2016,TOONE,ACTIVE,R,47.83,per Annum,NaN,84223.28,2091.42,POLICE OFFICER,3545.10,16499.74,BRONX,18
14920,POLICE DEPARTMENT,1994-01-18T00:00:00.000,115985.0,MICHAEL,2016,TOONE,CEASED,A,0.00,per Annum,NaN,29579.47,0.00,POLICE OFFICER D/A DETECTIVE 1ST GR,0.00,3229.70,MANHATTAN,2026
14921,POLICE DEPARTMENT,2005-07-11T00:00:00.000,84480.0,SUKHDEEP,2016,TOOR,ACTIVE,S,141.40,per Annum,NaN,89464.89,2091.42,SERGEANT,10843.25,20299.71,BRONX,1
14922,POLICE DEPARTMENT,2015-07-08T00:00:00.000,42819.0,RIGERS,2016,TOPI,ACTIVE,NaN,66.83,per Annum,NaN,39777.33,2028.57,POLICE OFFICER,2237.84,2830.92,BROOKLYN,1
14923,POLICE DEPARTMENT,2015-07-08T00:00:00.000,42819.0,TENZIN,2016,TOPJOR,ACTIVE,NaN,94.25,per Annum,NaN,44371.20,2091.42,POLICE OFFICER,2798.94,3651.97,MANHATTAN,3
14924,POLICE DEPARTMENT,2015-12-22T00:00:00.000,33400.0,JANET,2016,TOPPIN,ACTIVE,M,0.00,per Annum,NaN,15359.30,1070.00,TRAFFIC ENFORCEMENT AGENT,0.00,1203.22,MANHATTAN,47
14925,POLICE DEPARTMENT,2007-07-18T00:00:00.000,87791.0,BRETT,2016,TOPPING,ACTIVE,R,317.73,per Annum,NaN,91835.98,2091.42,P.O. DA DET GR3,24526.32,12345.70,QUEENS,31
14926,POLICE DEPARTMENT,2007-07-09T00:00:00.000,87204.0,MICHAEL,2016,TOPPING,ACTIVE,NaN,64.80,per Annum,NaN,88740.35,2091.42,P.O. DA DET GR3,7610.90,14254.06,BROOKLYN,2026
14927,POLICE DEPARTMENT,2016-01-06T00:00:00.000,42819.0,PIOTR,2016,TORBA,ACTIVE,K,0.00,per Annum,NaN,18484.76,988.57,POLICE OFFICER,0.00,0.00,MANHATTAN,4
14928,POLICE DEPARTMENT,2012-01-09T00:00:00.000,49760.0,JAMES,2016,TORBORG,CEASED,D,0.00,per Annum,NaN,5915.58,0.00,POLICE OFFICER,253.23,402.17,MANHATTAN,868
14929,POLICE DEPARTMENT,1995-04-30T00:00:00.000,118902.0,JAMES,2016,TORCHI,ACTIVE,NaN,263.95,per Annum,NaN,116553.46,2091.42,LIEUTENANT,22429.36,19315.56,MANHATTAN,868
14931,POLICE DEPARTMENT,2003-07-01T00:00:00.000,90822.0,WAYNE,2016,TORELLI,ACTIVE,J,144.65,per Annum,NaN,89919.65,2091.42,P.O. DA DET GR3,9880.55,13605.57,MANHATTAN,56
14933,POLICE DEPARTMENT,2012-02-28T00:00:00.000,36115.0,AHIANA,2016,TORIBIO,ACTIVE,NaN,196.00,per Annum,NaN,26466.53,1380.42,TRAFFIC ENFORCEMENT AGENT,6633.03,1734.72,MANHATTAN,1
14934,POLICE DEPARTMENT,2007-07-09T00:00:00.000,78026.0,ANDRES,2016,TORIBIO,ACTIVE,H,261.47,per Annum,NaN,83466.58,2091.42,POLICE OFFICER,22505.09,8946.71,BROOKLYN,25
14935,POLICE DEPARTMENT,2015-01-07T00:00:00.000,42819.0,BARTY,2016,TORIBIO,ACTIVE,Y,169.30,per Annum,NaN,42955.90,2091.42,POLICE OFFICER,5368.71,5780.48,BROOKLYN,1
14936,POLICE DEPARTMENT,2002-07-22T00:00:00.000,78026.0,JOSE,2016,TORIBIO,ACTIVE,M,125.75,per Annum,NaN,84324.25,2091.42,POLICE OFFICER,10398.84,11701.59,MANHATTAN,391
14937,POLICE DEPARTMENT,2009-01-14T00:00:00.000,87204.0,ROBERTO,2016,TORIBIO,ACTIVE,NaN,354.17,per Annum,NaN,88465.91,2091.42,P.O. DA DET GR3,24347.57,13621.51,BROOKLYN,63

In [154]:
per_annum_result[:1]

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
101,POLICE DEPARTMENT,2014-07-09T00:00:00.000,44521.0,MARGARET,2016,ABREU,ACTIVE,NaN,366.70,per Annum,NaN,44097.46,2091.42,POLICE OFFICER,11627.59,6760.00,MANHATTAN,41

In [155]:
annual_result[:1]

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN

In [156]:
annual_result['name_count'].map(annual_result['first_name'].value_counts())

0       NaN
1       NaN
2       NaN
3       NaN
5       NaN
         ..
44826   NaN
44827   NaN
44828   NaN
44829   NaN
44830   NaN
Name: name_count, Length: 337557, dtype: float64

In [157]:
annual_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN,NaN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN,NaN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN,NaN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN,NaN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN,NaN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN,NaN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN,NaN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN,NaN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN

In [158]:
new_result = annual_result = current_year_result[current_year_result['pay_basis'].str.contains('Annum')]

In [159]:
new_result = current_year_result[current_year_result['pay_basis'].str.contains('Annum')]

In [160]:
new_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.00,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.00,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.00,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.00,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.00,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.00,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.00,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.00,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.00,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.00,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.00,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.00,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.00,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.00,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.00,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.00,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.00,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.00,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.00,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.00,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.00,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.00,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.00,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.00,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.00,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.00,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.00,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.00,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.00,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.00,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.00,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.00,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.00,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.00,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.00,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.00,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.00,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.00,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.00,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.00,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.00,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.00,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.00,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.00,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.00,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.00,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.00,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.00,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.00,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.00,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.00,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.00,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.00,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.00,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.00,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.00,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.00,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.00,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.00,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.00,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.00,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.00,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.00,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.00,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.00,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.00,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.00,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [161]:
new_result['base_salary'].astype(float)

0         47678.0
1        119959.0
2         39966.0
3        116000.0
5         71500.0
           ...
44826     49311.0
44827     53364.0
44828     49341.0
44829     63118.0
44830     45072.0
Name: base_salary, Length: 337557, dtype: float64

In [165]:
new_result['first_name'].value_counts()

MICHAEL      6651
JOHN         4353
JOSEPH       3592
ROBERT       3440
JAMES        3030
             ...
MUTASEM         1
JOSINALDA       1
JOANIA          1
FATOU           1
TRISALENE       1
Name: first_name, Length: 41360, dtype: int64

In [167]:
new_result['base_salary']

0         47678.00
1        119959.00
2         39966.00
3        116000.00
5         71500.00
           ...
44826     49311.00
44827     53364.00
44828     49341.00
44829     63118.00
44830     45072.00
Name: base_salary, Length: 337557, dtype: object

In [168]:
new_result['base_salary'].astype(float)

0         47678.0
1        119959.0
2         39966.0
3        116000.0
5         71500.0
           ...
44826     49311.0
44827     53364.0
44828     49341.0
44829     63118.0
44830     45072.0
Name: base_salary, Length: 337557, dtype: float64

In [169]:
new_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.00,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.00,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.00,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.00,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.00,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.00,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.00,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.00,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.00,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.00,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.00,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.00,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.00,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.00,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.00,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.00,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.00,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.00,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.00,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.00,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.00,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.00,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.00,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.00,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.00,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.00,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.00,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.00,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.00,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.00,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.00,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.00,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.00,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.00,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.00,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.00,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.00,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.00,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.00,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.00,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.00,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.00,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.00,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.00,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.00,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.00,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.00,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.00,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.00,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.00,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.00,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.00,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.00,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.00,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.00,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.00,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.00,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.00,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.00,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.00,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.00,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.00,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.00,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.00,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.00,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.00,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.00,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.00,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [170]:
new_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null object
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: object(17)
memory usage: 46.4+ MB

In [171]:
new_result[:1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 17 columns):
agency_name                   1 non-null object
agency_start_date             1 non-null object
base_salary                   1 non-null object
first_name                    1 non-null object
fiscal_year                   1 non-null object
last_name                     1 non-null object
leave_status_as_of_july_31    1 non-null object
mid_init                      1 non-null object
ot_hours                      1 non-null object
pay_basis                     1 non-null object
payroll_number                0 non-null object
regular_gross_paid            1 non-null object
regular_hours                 1 non-null object
title_description             1 non-null object
total_ot_paid                 1 non-null object
total_other_pay               1 non-null object
work_location_borough         1 non-null object
dtypes: object(17)
memory usage: 144.0+ bytes

In [172]:
new_result['base_salary'] = new_result['base_salary'].astype(float)

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [173]:
new_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 17 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null float64
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
dtypes: float64(1), object(16)
memory usage: 46.4+ MB

In [177]:
new_result.apply(lambda row: new_result['first_name'].value_counts())

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
MICHAEL,6651,6651,6651,6651,6651,6651,6651,6651,6651,6651,6651,6651,6651,6651,6651,6651,6651
JOHN,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353
JOSEPH,3592,3592,3592,3592,3592,3592,3592,3592,3592,3592,3592,3592,3592,3592,3592,3592,3592
ROBERT,3440,3440,3440,3440,3440,3440,3440,3440,3440,3440,3440,3440,3440,3440,3440,3440,3440
JAMES,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030,3030
CHRISTOPHER,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706
DAVID,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628
ANTHONY,2602,2602,2602,2602,2602,2602,2602,2602,2602,2602,2602,2602,2602,2602,2602,2602,2602
THOMAS,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422
MARIA,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332
DANIEL,2262,2262,2262,2262,2262,2262,2262,2262,2262,2262,2262,2262,2262,2262,2262,2262,2262
JENNIFER,2244,2244,2244,2244,2244,2244,2244,2244,2244,2244,2244,2244,2244,2244,2244,2244,2244
WILLIAM,2223,2223,2223,2223,2223,2223,2223,2223,2223,2223,2223,2223,2223,2223,2223,2223,2223
RICHARD,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
KEVIN,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829
BRIAN,1768,1768,1768,1768,1768,1768,1768,1768,1768,1768,1768,1768,1768,1768,1768,1768,1768
LISA,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715
MATTHEW,1642,1642,1642,1642,1642,1642,1642,1642,1642,1642,1642,1642,1642,1642,1642,1642,1642
ELIZABETH,1633,1633,1633,1633,1633,1633,1633,1633,1633,1633,1633,1633,1633,1633,1633,1633,1633
MICHELLE,1499,1499,1499,1499,1499,1499,1499,1499,1499,1499,1499,1499,1499,1499,1499,1499,1499
STEVEN,1484,1484,1484,1484,1484,1484,1484,1484,1484,1484,1484,1484,1484,1484,1484,1484,1484
PATRICIA,1482,1482,1482,1482,1482,1482,1482,1482,1482,1482,1482,1482,1482,1482,1482,1482,1482
JESSICA,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448
NICOLE,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429
PAUL,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365
PETER,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338
JOSE,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338,1338
ANDREW,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222
JASON,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189
KAREN,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187,1187
MARY,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185,1185
MELISSA,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179,1179
EDWARD,1159,1159,1159,1159,1159,1159,1159,1159,1159,1159,1159,1159,1159,1159,1159,1159,1159
STEPHANIE,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150
SUSAN,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NITIA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
VALDIE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
EVANGELIS,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
RUZICK,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
RAID,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MINKYUNG,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
PELAGIE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
SHANAQUA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
LAN PING,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
YOVANA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MYANKA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
KERRY LYNN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
JANEINE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
JATINDER PAUL,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MECHELL,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MYELISHA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
AKRIEL,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
BARBE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
FAIROZE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
KANNY,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ANGELIC,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
YUH FEN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
NICKETRIA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
RINVILLE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
WASEEM,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
DILCY,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MCALBERT,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
TAMAKA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
YANICKE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
T'PRING,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MUTASEM,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
JOSINALDA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
JOANIA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
FATOU,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
TRISALENE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [178]:
new_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN

In [180]:
new_result['name_count'] = new_result['first_name'].value_counts()

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [181]:
new_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN,NaN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN,NaN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN,NaN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN,NaN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN,NaN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN,NaN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN,NaN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN,NaN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN

In [182]:
new_result[:0]

Empty DataFrame
Columns: [agency_name, agency_start_date, base_salary, first_name, fiscal_year, last_name, leave_status_as_of_july_31, mid_init, ot_hours, pay_basis, payroll_number, regular_gross_paid, regular_hours, title_description, total_ot_paid, total_other_pay, work_location_borough, name_count]
Index: []

In [183]:
new_result['first_name']

0        RAHASHEEM
1         MARGARET
2           ANDREA
3         JONATHAN
5         JENNIFER
           ...
44826     VIOLETTA
44827         ELLA
44828         ILIA
44829     HUI ZHEN
44830    JIN CHANG
Name: first_name, Length: 337557, dtype: object

In [184]:
new_result['name_count'].map(new_result['first_name'].value_counts())

0       NaN
1       NaN
2       NaN
3       NaN
5       NaN
         ..
44826   NaN
44827   NaN
44828   NaN
44829   NaN
44830   NaN
Name: name_count, Length: 337557, dtype: float64

In [185]:
new_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN,NaN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN,NaN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN,NaN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN,NaN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN,NaN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN,NaN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN,NaN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN,NaN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN

In [186]:
new_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337557 entries, 0 to 44830
Data columns (total 18 columns):
agency_name                   337557 non-null object
agency_start_date             337557 non-null object
base_salary                   337557 non-null float64
first_name                    337256 non-null object
fiscal_year                   337557 non-null object
last_name                     337256 non-null object
leave_status_as_of_july_31    337557 non-null object
mid_init                      207937 non-null object
ot_hours                      337557 non-null object
pay_basis                     337557 non-null object
payroll_number                0 non-null object
regular_gross_paid            337557 non-null object
regular_hours                 337557 non-null object
title_description             337555 non-null object
total_ot_paid                 337557 non-null object
total_other_pay               337557 non-null object
work_location_borough         337551 non-null object
name_count                    0 non-null float64
dtypes: float64(2), object(16)
memory usage: 58.9+ MB

new_result.value_counts()

In [190]:
new_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN,NaN
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN,NaN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN,NaN
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN,NaN
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN,NaN
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN,NaN
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN,NaN
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN,NaN
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN

In [192]:
new_result['names'] = new_result['first_name'].map(new_result['first_name'].value_counts())

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [193]:
new_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count,names
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN,1.0
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN,664.0
2,DISTRICT ATTORNEY-MANHATTAN,2011-10-11T00:00:00.000,39966.0,ANDREA,2016,ABOUNAOUM,ON LEAVE,L,1.00,per Annum,NaN,27452.62,1181.68,COMMUNITY ASSOCIATE ...,21.34,33.00,MANHATTAN,NaN,767.0
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN,958.0
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,2244.0
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN,614.0
8,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,41000.0,MATTHEW,2016,ACOCELLA,CEASED,J,0.00,per Annum,NaN,9507.15,349.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN,1642.0
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN,214.0
10,DISTRICT ATTORNEY-MANHATTAN,2013-04-22T00:00:00.000,38869.0,KATHERINE,2016,ADAMS,CEASED,J,0.00,per Annum,NaN,6073.13,200.70,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN,550.0
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN,1.0
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN,1.0
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN,1.0
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN,2.0
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN,3.0
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,332.0
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN,2262.0
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN,334.0
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN,883.0
25,DISTRICT ATTORNEY-MANHATTAN,2001-08-06T00:00:00.000,59945.0,NaN,2016,NaN,CEASED,NaN,0.00,per Annum,NaN,7412.58,0.00,RACKETS INVESTIGATOR,13.01,340.12,MANHATTAN,NaN,NaN
26,DISTRICT ATTORNEY-MANHATTAN,2010-08-16T00:00:00.000,45985.0,ABEER,2016,ALKHAFAJEE,CEASED,K,1.00,per Annum,NaN,4661.03,38.10,COMMUNITY ASSOCIATE ...,169.90,94.40,MANHATTAN,NaN,5.0
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN,3.0
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN,14.0
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN,3440.0
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN,170.0
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,64.0
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN,529.0
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,22.0
34,DISTRICT ATTORNEY-MANHATTAN,2012-06-18T00:00:00.000,57239.0,MARY,2016,ALTONJI,CEASED,C,7.50,per Annum,NaN,19642.29,557.00,COMMUNITY ASSOCIATE ...,416.82,8.25,MANHATTAN,NaN,1185.0
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN,10.0
36,DISTRICT ATTORNEY-MANHATTAN,2014-11-17T00:00:00.000,50458.0,DENISE,2016,ALVAREZ,CEASED,NaN,0.00,per Annum,NaN,47113.19,1688.87,COMMUNITY ASSOCIATE ...,0.00,8.25,MANHATTAN,NaN,1014.0
37,DISTRICT ATTORNEY-MANHATTAN,2014-03-10T00:00:00.000,37541.0,STEPHANIE,2016,ALVAREZ,CEASED,M,12.00,per Annum,NaN,9361.24,381.00,COMMUNITY ASSOCIATE ...,904.56,96.69,MANHATTAN,NaN,1150.0
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN,242.0
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN,2602.0
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,99.0
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN,187.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN,420.0
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN,2.0
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN,297.0
44798,TEACHERS RETIREMENT SYSTEM,2006-02-27T00:00:00.000,33310.0,KIWANA,2016,TURNBULL,CEASED,A,0.00,per Annum,NaN,2335.53,43.97,OFFICE MACHINE AIDE ...,0.00,0.00,MANHATTAN,NaN,2.0
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN,1.0
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN,2.0
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN,652.0
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN,24.0
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN,2.0
44804,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.0,MARY,2016,WALL,CEASED,NaN,0.00,per Annum,NaN,104432.66,1035.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN,1185.0
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN,8.0
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN,1.0
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN,1.0
44808,TEACHERS RETIREMENT SYSTEM,2006-10-30T00:00:00.000,64501.0,ALEXANDER,2016,WHITE,CEASED,R,0.00,per Annum,NaN,825.17,0.00,STAFF ANALYST ...,0.00,0.00,MANHATTAN,NaN,529.0
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN,133.0
44811,TEACHERS RETIREMENT SYSTEM,2014-08-18T00:00:00.000,141177.0,DUNSTAN,2016,WILLIAMS,CEASED,B,0.00,per Annum,NaN,15755.35,69.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN,2.0
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN,1022.0
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN,373.0
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN,44.0
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN,4353.0
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN,100.0
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN,28.0
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN,1.0
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN,221.0
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN,4.0
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN,1.0
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN,107.0
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN,3.0
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN,2628.0
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN,529.0
44826,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,49311.0,VIOLETTA,2016,YUNATAN,ON LEAVE,NaN,0.00,per Annum,NaN,18426.76,608.75,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,436.84,MANHATTAN,NaN,12.0
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN,47.0
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN,9.0
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN,2.0
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN,1.0

In [194]:
one_thousand_names = new_result[new_result['names'] > 1000].groupby('first_name').agg({'base_salary': np.mean})

In [195]:
one_thousand_names

              base_salary
first_name
ANDREW       73440.928805
ANTHONY      71582.223674
BRIAN        76864.623869
CHARLES      75331.491107
CHRISTINE    71959.736305
CHRISTOPHER  71080.935329
DANIEL       73693.187798
DAVID        75562.576104
DENISE       69728.427022
EDWARD       79730.264021
ELIZABETH    70415.977906
ERIC         73892.912489
FRANK        79330.364380
JACQUELINE   71920.171233
JAMES        78929.190815
JASON        68808.021026
JENNIFER     70827.824866
JESSICA      65743.987569
JOHN         81136.492019
JOSE         67551.411091
JOSEPH       76384.649677
KAREN        74819.175232
KEVIN        75523.586659
LINDA        71572.297769
LISA         73552.718367
MARIA        66426.256432
MARK         80263.748887
MARY         73821.583122
MATTHEW      71912.917174
MELISSA      68315.916879
MICHAEL      76139.607052
MICHELLE     68687.500480
NICOLE       66070.962211
PATRICIA     71509.483131
PATRICK      78211.406072
PAUL         79421.229304
PETER        79225.489537
RICHARD      78711.066733
ROBERT       78974.925581
STEPHANIE    63643.552174
STEPHEN      79148.482213
STEVEN       78171.449461
SUSAN        80804.437168
THOMAS       80644.044178
WILLIAM      77737.339631

In [196]:
one_thousand_names.sort_values('base_salary', ascending=False)

              base_salary
first_name
JOHN         81136.492019
SUSAN        80804.437168
THOMAS       80644.044178
MARK         80263.748887
EDWARD       79730.264021
PAUL         79421.229304
FRANK        79330.364380
PETER        79225.489537
STEPHEN      79148.482213
ROBERT       78974.925581
JAMES        78929.190815
RICHARD      78711.066733
PATRICK      78211.406072
STEVEN       78171.449461
WILLIAM      77737.339631
BRIAN        76864.623869
JOSEPH       76384.649677
MICHAEL      76139.607052
DAVID        75562.576104
KEVIN        75523.586659
CHARLES      75331.491107
KAREN        74819.175232
ERIC         73892.912489
MARY         73821.583122
DANIEL       73693.187798
LISA         73552.718367
ANDREW       73440.928805
CHRISTINE    71959.736305
JACQUELINE   71920.171233
MATTHEW      71912.917174
ANTHONY      71582.223674
LINDA        71572.297769
PATRICIA     71509.483131
CHRISTOPHER  71080.935329
JENNIFER     70827.824866
ELIZABETH    70415.977906
DENISE       69728.427022
JASON        68808.021026
MICHELLE     68687.500480
MELISSA      68315.916879
JOSE         67551.411091
MARIA        66426.256432
NICOLE       66070.962211
JESSICA      65743.987569
STEPHANIE    63643.552174

In [197]:
new_result[new_result['names'] > 2000].groupby('first_name').agg({'base_salary': np.mean}).sort_values('base_salary', ascending=False)

              base_salary
first_name
JOHN         81136.492019
THOMAS       80644.044178
ROBERT       78974.925581
JAMES        78929.190815
RICHARD      78711.066733
WILLIAM      77737.339631
JOSEPH       76384.649677
MICHAEL      76139.607052
DAVID        75562.576104
DANIEL       73693.187798
ANTHONY      71582.223674
CHRISTOPHER  71080.935329
JENNIFER     70827.824866
MARIA        66426.256432

In [198]:
new_result[new_result['names'] > 500].groupby('first_name').agg({'base_salary': np.mean}).sort_values('base_salary', ascending=False)

             base_salary
first_name
SCOTT       81604.527190
JOHN        81136.492019
SUSAN       80804.437168
THOMAS      80644.044178
MARK        80263.748887
...                  ...
AMANDA      61379.182965
CARMEN      60876.200262
SAMANTHA    60611.046211
ANA         60441.706731
TIFFANY     55697.417457

[107 rows x 1 columns]

In [199]:
active_result = new_result[new_result['leave_status_as_of_july_31'].str.contains('ACTIVE')]

In [200]:
active_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count,names
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN,1.0
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN,664.0
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN,958.0
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,2244.0
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN,614.0
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN,214.0
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN,1.0
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN,1.0
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN,1.0
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN,2.0
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN,3.0
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,332.0
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN,2262.0
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN,334.0
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN,883.0
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN,3.0
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN,14.0
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN,3440.0
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN,170.0
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,64.0
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN,529.0
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,22.0
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN,10.0
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN,242.0
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN,2602.0
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,99.0
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN,187.0
43,DISTRICT ATTORNEY-MANHATTAN,2015-08-31T00:00:00.000,46817.0,WILLIAM,2016,ANDREWES,ACTIVE,T,0.00,per Annum,NaN,36699.13,1530.00,COMMUNITY ASSOCIATE ...,0.00,950.12,MANHATTAN,NaN,2223.0
44,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,65000.0,DARIA,2016,ANDRYUSHCHENKO,ACTIVE,A,0.00,per Annum,NaN,65833.38,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,28.0
45,DISTRICT ATTORNEY-MANHATTAN,2008-09-02T00:00:00.000,82000.0,LAUREN,2016,ANGELO,ACTIVE,NaN,0.00,per Annum,NaN,66293.62,1494.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1312.50,MANHATTAN,NaN,878.0
46,DISTRICT ATTORNEY-MANHATTAN,2015-09-08T00:00:00.000,62500.0,DOMINIQUE,2016,ANGLADE,ACTIVE,M,0.00,per Annum,NaN,48775.09,1488.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,107.0
47,DISTRICT ATTORNEY-MANHATTAN,1989-08-21T00:00:00.000,151750.0,CHRISTINA,2016,ANTE,ACTIVE,F,0.00,per Annum,NaN,150567.36,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,895.0
50,DISTRICT ATTORNEY-MANHATTAN,2014-05-27T00:00:00.000,45888.0,CANDEY,2016,APONTE,ACTIVE,L,15.25,per Annum,NaN,43271.69,1830.00,COMMUNITY ASSOCIATE ...,380.73,49.50,MANHATTAN,NaN,1.0
51,DISTRICT ATTORNEY-MANHATTAN,1999-09-07T00:00:00.000,138500.0,TANYA,2016,APPARICIO,ACTIVE,C,0.00,per Annum,NaN,137294.94,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,328.0
52,DISTRICT ATTORNEY-MANHATTAN,2015-04-06T00:00:00.000,46817.0,JENNIFER,2016,ARAUJO,ACTIVE,D,73.75,per Annum,NaN,46016.79,1830.00,COMMUNITY ASSOCIATE ...,2312.70,665.50,MANHATTAN,NaN,2244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44789,TEACHERS RETIREMENT SYSTEM,2000-01-10T00:00:00.000,63550.0,VARGHESE,2016,THOMAS,ACTIVE,NaN,204.25,per Annum,NaN,62861.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,8262.02,5607.86,MANHATTAN,NaN,10.0
44790,TEACHERS RETIREMENT SYSTEM,1999-07-06T00:00:00.000,58877.0,SARAM,2016,TITUS,ACTIVE,NaN,0.00,per Annum,NaN,58203.25,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN,1.0
44792,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,57113.0,ROSA ELENA,2016,TORRES,ACTIVE,NaN,0.00,per Annum,NaN,56479.05,1830.00,CLERICAL ASSOCIATE,49.09,4424.50,MANHATTAN,NaN,1.0
44793,TEACHERS RETIREMENT SYSTEM,2005-12-19T00:00:00.000,80438.0,CHRISTOPHER,2016,TOY,ACTIVE,R,0.00,per Annum,NaN,79574.15,1830.00,COMPUTER SPECIALIST ...,0.00,4529.16,MANHATTAN,NaN,2706.0
44794,TEACHERS RETIREMENT SYSTEM,2014-12-01T00:00:00.000,60000.0,DANIELLE,2016,TRAYLOR,ACTIVE,N,0.00,per Annum,NaN,58432.93,1830.00,AGENCY ATTORNEY ...,0.00,864.91,MANHATTAN,NaN,920.0
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN,420.0
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN,2.0
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN,297.0
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN,1.0
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN,2.0
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN,652.0
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN,24.0
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN,2.0
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN,8.0
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN,1.0
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN,1.0
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN,133.0
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN,1022.0
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN,373.0
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN,44.0
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN,4353.0
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN,100.0
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN,28.0
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN,1.0
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN,221.0
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN,4.0
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN,1.0
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN,107.0
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN,3.0
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN,2628.0
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN,529.0
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN,47.0
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN,9.0
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN,2.0
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN,1.0

In [201]:
active_result[active_result['names'] > 1000].groupby('first_name').agg({'base_salary': np.mean}).sort_values('base_salary', ascending=False)

              base_salary
first_name
JOHN         80926.594391
MARK         80531.804348
THOMAS       80485.427174
PETER        80013.413284
PAUL         79916.308040
SUSAN        79786.041710
EDWARD       79458.508621
STEPHEN      79336.526252
FRANK        79308.574755
JAMES        78864.604031
ROBERT       78674.212221
RICHARD      78313.301971
STEVEN       78060.895462
PATRICK      78005.728351
WILLIAM      77665.683362
BRIAN        77284.066535
JOSEPH       76210.662361
MICHAEL      76196.167158
DAVID        75597.114206
CHARLES      75477.330357
ERIC         75451.769815
KEVIN        75135.679896
KAREN        74132.740019
DANIEL       74045.570208
LISA         73773.233073
ANDREW       73621.106833
MARY         72733.274590
MATTHEW      72474.622893
CHRISTINE    72317.635294
JACQUELINE   72227.775168
CHRISTOPHER  71745.732174
JENNIFER     71490.955589
ANTHONY      71305.188536
PATRICIA     70208.448276
JASON        69989.315996
ELIZABETH    69938.927489
LINDA        68945.119658
MELISSA      68840.625000
MICHELLE     68725.009167
DENISE       68539.606977
JOSE         67705.563771
NICOLE       66781.845490
JESSICA      66221.514526
MARIA        65540.526342
STEPHANIE    63754.136364

In [204]:
active_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count,names
0,DISTRICT ATTORNEY-MANHATTAN,2003-07-14T00:00:00.000,47678.0,RAHASHEEM,2016,ABA'AHMID,ACTIVE,E,2.25,per Annum,NaN,47166.03,1830.00,COMMUNITY ASSOCIATE ...,57.28,0.00,MANHATTAN,NaN,1.0
1,DISTRICT ATTORNEY-MANHATTAN,1995-06-12T00:00:00.000,119959.0,MARGARET,2016,ABENSUR,ACTIVE,NaN,0.00,per Annum,NaN,119042.50,1831.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN,NaN,664.0
3,DISTRICT ATTORNEY-MANHATTAN,2014-12-01T00:00:00.000,116000.0,JONATHAN,2016,ABRAHAM,ACTIVE,J,0.00,per Annum,NaN,115104.57,1831.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN,958.0
5,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,JENNIFER,2016,ABREU,ACTIVE,NaN,0.00,per Annum,NaN,71967.34,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,2244.0
6,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,88000.0,JUAN,2016,ABREU,ACTIVE,D,0.00,per Annum,NaN,87614.01,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,750.00,MANHATTAN,NaN,614.0
9,DISTRICT ATTORNEY-MANHATTAN,1978-05-31T00:00:00.000,66035.0,RITA,2016,ACOSTA,ACTIVE,E,0.00,per Annum,NaN,64357.12,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3824.72,MANHATTAN,NaN,214.0
11,DISTRICT ATTORNEY-MANHATTAN,2014-08-25T00:00:00.000,42075.0,NEERESHA,2016,ADAMS,ACTIVE,NaN,0.00,per Annum,NaN,39895.79,1830.00,COMMUNITY ASSOCIATE ...,0.00,74.25,MANHATTAN,NaN,1.0
12,DISTRICT ATTORNEY-MANHATTAN,2014-01-13T00:00:00.000,66625.0,OYINDAMOLA,2016,ADEGBORO,ACTIVE,F,0.00,per Annum,NaN,65909.63,1830.00,COMMUNITY COORDINATOR ...,0.00,33.00,MANHATTAN,NaN,1.0
13,DISTRICT ATTORNEY-MANHATTAN,2005-03-28T00:00:00.000,112592.0,SANCHITA,2016,AGGARWAL,ACTIVE,J,0.00,per Annum,NaN,111806.82,1831.00,PRINCIPAL ACCOUNTANT INVESTIGATOR ...,0.00,500.00,MANHATTAN,NaN,1.0
14,DISTRICT ATTORNEY-MANHATTAN,2009-11-09T00:00:00.000,52548.0,YAMIRA,2016,AGUILAR,ACTIVE,NaN,716.25,per Annum,NaN,51890.77,1830.00,COMMUNITY ASSOCIATE ...,25943.55,747.93,MANHATTAN,NaN,2.0
16,DISTRICT ATTORNEY-MANHATTAN,2014-04-28T00:00:00.000,43299.0,ARTEMIS,2016,AHMETAJ,ACTIVE,NaN,51.75,per Annum,NaN,40052.01,1830.00,COMMUNITY ASSISTANT ...,1413.40,526.11,MANHATTAN,NaN,3.0
17,DISTRICT ATTORNEY-MANHATTAN,2004-09-07T00:00:00.000,102500.0,HELEN,2016,AHN,ACTIVE,H,0.00,per Annum,NaN,59023.02,1076.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,332.0
19,DISTRICT ATTORNEY-MANHATTAN,2007-01-19T00:00:00.000,40299.0,DANIEL,2016,ALCANTARA,ACTIVE,NaN,0.00,per Annum,NaN,39866.21,1830.00,COMMUNITY ASSOCIATE ...,0.00,0.00,MANHATTAN,NaN,2262.0
20,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,78000.0,ERIN,2016,ALEXANDER,ACTIVE,L,0.00,per Annum,NaN,64498.36,1509.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1750.00,MANHATTAN,NaN,334.0
24,DISTRICT ATTORNEY-MANHATTAN,2015-06-08T00:00:00.000,53366.0,JEFFREY,2016,AL-KAABAH II,ACTIVE,I,276.50,per Annum,NaN,46271.84,1829.75,COMMUNITY ASSOCIATE ...,7757.06,755.84,MANHATTAN,NaN,883.0
27,DISTRICT ATTORNEY-MANHATTAN,2008-01-14T00:00:00.000,36154.0,SHAIMAA,2016,ALKHAFAJEE,ACTIVE,NaN,0.00,per Annum,NaN,35765.73,1830.00,COMMUNITY ASSISTANT ...,0.00,0.00,MANHATTAN,NaN,3.0
28,DISTRICT ATTORNEY-MANHATTAN,2014-10-20T00:00:00.000,65600.0,BENNETT,2016,ALLEN,ACTIVE,L,0.00,per Annum,NaN,64895.59,1830.00,COMMUNITY COORDINATOR ...,0.00,99.50,MANHATTAN,NaN,14.0
29,DISTRICT ATTORNEY-MANHATTAN,1980-01-21T00:00:00.000,56017.0,ROBERT,2016,ALLEN,ACTIVE,K,0.00,per Annum,NaN,55411.18,1830.00,CLERICAL ASSOCIATE,0.00,4424.50,MANHATTAN,NaN,3440.0
30,DISTRICT ATTORNEY-MANHATTAN,2015-09-28T00:00:00.000,37541.0,MARISOL,2016,ALMONTE-ALMANZA,ACTIVE,NaN,0.75,per Annum,NaN,26422.22,1383.00,COMMUNITY ASSOCIATE ...,15.41,24.75,MANHATTAN,NaN,170.0
31,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,AHMED,2016,ALMUDALLAL,ACTIVE,NaN,0.00,per Annum,NaN,71525.45,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,64.0
32,DISTRICT ATTORNEY-MANHATTAN,2006-09-11T00:00:00.000,105189.0,ALEXANDER,2016,ALPEROVICH,ACTIVE,NaN,0.00,per Annum,NaN,104059.31,1830.00,COMMUNITY COORDINATOR ...,0.00,1000.00,MANHATTAN,NaN,529.0
33,DISTRICT ATTORNEY-MANHATTAN,2009-09-08T00:00:00.000,88500.0,TAMI,2016,ALPERT,ACTIVE,J,0.00,per Annum,NaN,88581.46,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,22.0
35,DISTRICT ATTORNEY-MANHATTAN,2007-03-26T00:00:00.000,70403.0,FARID,2016,ALVARADO,ACTIVE,R,0.00,per Annum,NaN,64375.36,1830.00,COMMUNITY COORDINATOR ...,0.00,10.75,MANHATTAN,NaN,10.0
38,DISTRICT ATTORNEY-MANHATTAN,2013-11-04T00:00:00.000,39841.0,ARLENE,2016,AMADOR,ACTIVE,D,31.25,per Annum,NaN,39413.06,1830.00,COMMUNITY ASSOCIATE ...,760.06,49.50,MANHATTAN,NaN,242.0
39,DISTRICT ATTORNEY-MANHATTAN,2012-09-04T00:00:00.000,71500.0,ANTHONY,2016,AMINOFF,ACTIVE,T,0.00,per Annum,NaN,71668.08,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,500.00,MANHATTAN,NaN,2602.0
40,DISTRICT ATTORNEY-MANHATTAN,2007-09-04T00:00:00.000,87000.0,TATIANA,2016,AMLIN,ACTIVE,NaN,0.00,per Annum,NaN,86719.37,1831.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,99.0
42,DISTRICT ATTORNEY-MANHATTAN,1988-09-11T00:00:00.000,38492.0,ANTOINETTE,2016,ANCRUM,ACTIVE,NaN,177.50,per Annum,NaN,38074.40,1830.00,COMMUNITY ASSOCIATE ...,4599.16,5349.08,MANHATTAN,NaN,187.0
43,DISTRICT ATTORNEY-MANHATTAN,2015-08-31T00:00:00.000,46817.0,WILLIAM,2016,ANDREWES,ACTIVE,T,0.00,per Annum,NaN,36699.13,1530.00,COMMUNITY ASSOCIATE ...,0.00,950.12,MANHATTAN,NaN,2223.0
44,DISTRICT ATTORNEY-MANHATTAN,2014-09-02T00:00:00.000,65000.0,DARIA,2016,ANDRYUSHCHENKO,ACTIVE,A,0.00,per Annum,NaN,65833.38,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,28.0
45,DISTRICT ATTORNEY-MANHATTAN,2008-09-02T00:00:00.000,82000.0,LAUREN,2016,ANGELO,ACTIVE,NaN,0.00,per Annum,NaN,66293.62,1494.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,1312.50,MANHATTAN,NaN,878.0
46,DISTRICT ATTORNEY-MANHATTAN,2015-09-08T00:00:00.000,62500.0,DOMINIQUE,2016,ANGLADE,ACTIVE,M,0.00,per Annum,NaN,48775.09,1488.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,107.0
47,DISTRICT ATTORNEY-MANHATTAN,1989-08-21T00:00:00.000,151750.0,CHRISTINA,2016,ANTE,ACTIVE,F,0.00,per Annum,NaN,150567.36,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,895.0
50,DISTRICT ATTORNEY-MANHATTAN,2014-05-27T00:00:00.000,45888.0,CANDEY,2016,APONTE,ACTIVE,L,15.25,per Annum,NaN,43271.69,1830.00,COMMUNITY ASSOCIATE ...,380.73,49.50,MANHATTAN,NaN,1.0
51,DISTRICT ATTORNEY-MANHATTAN,1999-09-07T00:00:00.000,138500.0,TANYA,2016,APPARICIO,ACTIVE,C,0.00,per Annum,NaN,137294.94,1830.00,ASSISTANT DISTRICT ATTORNEY ...,0.00,0.00,MANHATTAN,NaN,328.0
52,DISTRICT ATTORNEY-MANHATTAN,2015-04-06T00:00:00.000,46817.0,JENNIFER,2016,ARAUJO,ACTIVE,D,73.75,per Annum,NaN,46016.79,1830.00,COMMUNITY ASSOCIATE ...,2312.70,665.50,MANHATTAN,NaN,2244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44789,TEACHERS RETIREMENT SYSTEM,2000-01-10T00:00:00.000,63550.0,VARGHESE,2016,THOMAS,ACTIVE,NaN,204.25,per Annum,NaN,62861.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,8262.02,5607.86,MANHATTAN,NaN,10.0
44790,TEACHERS RETIREMENT SYSTEM,1999-07-06T00:00:00.000,58877.0,SARAM,2016,TITUS,ACTIVE,NaN,0.00,per Annum,NaN,58203.25,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN,1.0
44792,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,57113.0,ROSA ELENA,2016,TORRES,ACTIVE,NaN,0.00,per Annum,NaN,56479.05,1830.00,CLERICAL ASSOCIATE,49.09,4424.50,MANHATTAN,NaN,1.0
44793,TEACHERS RETIREMENT SYSTEM,2005-12-19T00:00:00.000,80438.0,CHRISTOPHER,2016,TOY,ACTIVE,R,0.00,per Annum,NaN,79574.15,1830.00,COMPUTER SPECIALIST ...,0.00,4529.16,MANHATTAN,NaN,2706.0
44794,TEACHERS RETIREMENT SYSTEM,2014-12-01T00:00:00.000,60000.0,DANIELLE,2016,TRAYLOR,ACTIVE,N,0.00,per Annum,NaN,58432.93,1830.00,AGENCY ATTORNEY ...,0.00,864.91,MANHATTAN,NaN,920.0
44795,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,63157.0,JOAN,2016,TRIEU,ACTIVE,C,28.75,per Annum,NaN,62453.61,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,1146.60,7770.26,MANHATTAN,NaN,420.0
44796,TEACHERS RETIREMENT SYSTEM,2009-01-26T00:00:00.000,101419.0,KA KI,2016,TSE,ACTIVE,NaN,0.00,per Annum,NaN,100343.48,1830.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,13500.00,MANHATTAN,NaN,2.0
44797,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,123773.0,ALEX,2016,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,122443.96,1830.00,COMPUTER SPECIALIST ...,0.00,4487.91,MANHATTAN,NaN,297.0
44799,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,145000.0,RAJESHKUMAR,2016,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,94289.65,1285.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN,NaN,1.0
44800,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,45072.0,NENITA,2016,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,44393.56,1830.00,BOOKKEEPER ...,0.00,16.50,MANHATTAN,NaN,2.0
44801,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,82174.0,RAYMOND,2016,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,86051.54,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,3634.11,MANHATTAN,NaN,652.0
44802,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,67385.0,YEVGENIYA,2016,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,66617.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8049.85,MANHATTAN,NaN,24.0
44803,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,53281.0,NIASHA,2016,WALKER,ACTIVE,C,0.00,per Annum,NaN,52708.72,1830.00,CLERICAL ASSOCIATE,0.00,3728.97,MANHATTAN,NaN,2.0
44805,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,53130.0,DENZIL,2016,WALLACE,ACTIVE,L,0.00,per Annum,NaN,52559.53,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1092.30,MANHATTAN,NaN,8.0
44806,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,61540.0,SHELLIANN,2016,WALTERS-LUCES,ACTIVE,M,145.00,per Annum,NaN,60879.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,3946.13,1823.77,MANHATTAN,NaN,1.0
44807,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,57210.0,SWADINE,2016,WELCH,ACTIVE,S,0.00,per Annum,NaN,56595.73,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN,1.0
44810,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,146945.0,JEANNE,2016,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,145386.72,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,4000.00,MANHATTAN,NaN,133.0
44812,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,49311.0,JACQUELINE,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2692.32,MANHATTAN,NaN,1022.0
44813,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,69246.0,SONIA,2016,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,68502.33,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN,NaN,373.0
44814,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,64609.0,HILLARY,2016,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,63915.36,1830.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,635.06,MANHATTAN,NaN,44.0
44815,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,54313.0,JOHN,2016,WILSON,ACTIVE,C,0.00,per Annum,NaN,53729.78,1830.00,COMPUTER ASSOCIATE ...,0.00,4857.12,MANHATTAN,NaN,4353.0
44816,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,53305.0,CONSTANCE,2016,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,52720.48,1830.00,ACCOUNTANT ...,0.00,5337.69,MANHATTAN,NaN,100.0
44817,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,53364.0,JING,2016,WU,ACTIVE,H,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2823.58,MANHATTAN,NaN,28.0
44818,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,51686.0,YAN JUAN,2016,WU,ACTIVE,NaN,0.00,per Annum,NaN,48844.70,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1170.71,MANHATTAN,NaN,1.0
44819,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,49282.0,JILL,2016,WURM,ACTIVE,I,10.50,per Annum,NaN,52927.66,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,310.32,1031.64,MANHATTAN,NaN,221.0
44820,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,110546.0,BING,2016,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,109373.81,1830.00,COMPUTER SYSTEMS MANAGER ...,0.00,8343.50,MANHATTAN,NaN,4.0
44821,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,49311.0,BORISLAV,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN,1.0
44822,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,59441.0,SVETLANA,2016,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,58770.34,1830.00,ACCOUNTANT ...,0.00,5974.20,MANHATTAN,NaN,107.0
44823,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,59894.0,IRAM,2016,YEATES,ACTIVE,S,0.00,per Annum,NaN,59250.86,1830.00,COMPUTER ASSOCIATE ...,0.00,4596.16,MANHATTAN,NaN,3.0
44824,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,73577.0,DAVID,2016,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,75740.92,1830.00,ASSOCIATE STAFF ANALYST ...,0.00,4692.83,MANHATTAN,NaN,2628.0
44825,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,49311.0,ALEXANDER,2016,YUKHVIDOV,ACTIVE,V,0.00,per Annum,NaN,48775.18,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,3436.04,MANHATTAN,NaN,529.0
44827,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,53364.0,ELLA,2016,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,52784.74,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2963.83,MANHATTAN,NaN,47.0
44828,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,49341.0,ILIA,2016,ZAYAS,ACTIVE,M,0.00,per Annum,NaN,48082.55,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1858.09,MANHATTAN,NaN,9.0
44829,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,63118.0,HUI ZHEN,2016,ZHOU,ACTIVE,NaN,0.00,per Annum,NaN,62413.76,1830.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4901.03,MANHATTAN,NaN,2.0
44830,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,45072.0,JIN CHANG,2016,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,44588.18,1830.00,BOOKKEEPER ...,0.00,3088.42,MANHATTAN,NaN,1.0

In [205]:
annual_result['regular_gross_paid'].astype(float)

0         47166.03
1        119042.50
2         27452.62
3        115104.57
5         71967.34
           ...
44826     18426.76
44827     52784.74
44828     48082.55
44829     62413.76
44830     44588.18
Name: regular_gross_paid, Length: 337557, dtype: float64

In [207]:
active_result['regular_gross_paid'].astype(float)

0         47166.03
1        119042.50
3        115104.57
5         71967.34
6         87614.01
           ...
44825     48775.18
44827     52784.74
44828     48082.55
44829     62413.76
44830     44588.18
Name: regular_gross_paid, Length: 285152, dtype: float64

In [209]:
active_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285152 entries, 0 to 44830
Data columns (total 19 columns):
agency_name                   285152 non-null object
agency_start_date             285152 non-null object
base_salary                   285152 non-null float64
first_name                    284954 non-null object
fiscal_year                   285152 non-null object
last_name                     284954 non-null object
leave_status_as_of_july_31    285152 non-null object
mid_init                      174797 non-null object
ot_hours                      285152 non-null object
pay_basis                     285152 non-null object
payroll_number                0 non-null object
regular_gross_paid            285152 non-null object
regular_hours                 285152 non-null object
title_description             285151 non-null object
total_ot_paid                 285152 non-null object
total_other_pay               285152 non-null object
work_location_borough         285148 non-null object
name_count                    0 non-null float64
names                         284954 non-null float64
dtypes: float64(3), object(16)
memory usage: 43.5+ MB

In [210]:
active_result['regular_gross_paid'] = active_result['regular_gross_paid'].astype(float)

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [211]:
active_result[active_result['names'] > 1000].groupby('first_name').agg({'regular_gross_paid': np.mean}).sort_values('regular_gross_paid', ascending=False)

             regular_gross_paid
first_name
JOHN               80433.301227
THOMAS             80101.865394
MARK               79480.644609
PAUL               79227.079928
PETER              79183.151725
EDWARD             79075.737134
FRANK              78572.591397
STEPHEN            78414.240842
ROBERT             78279.138280
JAMES              78083.661762
RICHARD            77824.834832
PATRICK            77510.418790
SUSAN              77346.033931
BRIAN              77252.460883
STEVEN             76943.785097
WILLIAM            76922.204876
JOSEPH             75400.187531
MICHAEL            75372.994250
CHARLES            74660.700625
DAVID              74385.293946
KEVIN              74222.568881
ERIC               73983.654072
DANIEL             72659.993677
ANDREW             71682.821482
KAREN              71534.325063
LISA               71014.893548
CHRISTOPHER        70708.591100
MATTHEW            70586.351713
MARY               70336.451066
ANTHONY            70215.012615
JACQUELINE         69394.553188
JASON              68966.214426
CHRISTINE          68710.387733
PATRICIA           68145.745878
JENNIFER           67821.606188
JOSE               67421.609085
LINDA              67126.764054
ELIZABETH          66979.308250
DENISE             66617.387500
MICHELLE           65567.882131
MELISSA            64992.472853
MARIA              63616.924140
NICOLE             62877.486118
JESSICA            61715.550107
STEPHANIE          59784.235682

In [212]:
active_result[active_result['names'] > 500].groupby('first_name').agg({'regular_gross_paid': np.mean}).sort_values('regular_gross_paid', ascending=False)

            regular_gross_paid
first_name
SCOTT             81500.977034
JOHN              80433.301227
THOMAS            80101.865394
MARK              79480.644609
PAUL              79227.079928
...                        ...
ANA               58249.879909
CARMEN            58080.686297
SAMANTHA          57113.789597
AMANDA            56059.203850
TIFFANY           52504.570275

[107 rows x 1 columns]

In [33]:
updated_data = current_year_result[current_year_result['pay_basis'].str.contains('Annum')]

In [34]:
updated_data

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
16058,ADMIN FOR CHILDREN'S SVCS,2007-02-18T00:00:00.000,49350.00,RHONDA,2016,DUNN,CEASED,NaN,0.00,per Annum,NaN,41299.67,1466.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3214.70,MANHATTAN
16059,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,69838.00,PHYLLIS,2016,EVANS,CEASED,NaN,0.00,per Annum,NaN,40086.17,930.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,2125.78,MANHATTAN
16060,ADMIN FOR CHILDREN'S SVCS,1998-06-01T00:00:00.000,49321.00,JEANINE,2016,RAY,ACTIVE,NaN,0.00,per Annum,NaN,48062.77,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1604.55,QUEENS
16061,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49389.00,DENISE,2016,SMITH,ACTIVE,M,0.00,per Annum,NaN,48129.53,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3849.47,MANHATTAN
16062,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49576.00,DAWN,2016,TRACEY,ACTIVE,M,7.00,per Annum,NaN,48034.05,1819.50,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3802.73,MANHATTAN
16063,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,49508.00,AUDREY,2016,BARRENTINE,ACTIVE,NaN,0.00,per Annum,NaN,46886.11,1684.75,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,3717.47,MANHATTAN
16064,ADMIN FOR CHILDREN'S SVCS,2002-10-21T00:00:00.000,55144.00,CHERYL,2016,BRATHWAITE,ACTIVE,E,0.00,per Annum,NaN,53758.15,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,678.42,MANHATTAN
16065,ADMIN FOR CHILDREN'S SVCS,2004-07-26T00:00:00.000,49321.00,CALVIN,2016,BUNCH,ACTIVE,NaN,0.00,per Annum,NaN,48062.77,1830.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,1598.42,MANHATTAN
16066,ADMIN FOR CHILDREN'S SVCS,2016-03-21T00:00:00.000,45874.00,TERESA,2016,AARON,ACTIVE,NaN,31.75,per Annum,NaN,10528.44,515.00,CHILD PROTECTIVE SPECIALIST ...,257.37,43.54,BRONX
16067,ADMIN FOR CHILDREN'S SVCS,2008-02-11T00:00:00.000,53126.00,MODUPE,2016,ABDUL,ACTIVE,NaN,36.50,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,2006.23,3723.20,BROOKLYN
16068,ADMIN FOR CHILDREN'S SVCS,2009-08-10T00:00:00.000,54858.00,KHADIJA,2016,ABDUL MAJID,CEASED,A,0.00,per Annum,NaN,58.07,0.00,COMMUNITY COORDINATOR ...,24.57,178.77,BRONX
16069,ADMIN FOR CHILDREN'S SVCS,2014-10-20T00:00:00.000,53126.00,ABDUL AZIZ,2016,ABDUL RAHMAN,ACTIVE,I,208.75,per Annum,NaN,46525.88,1711.00,CHILD PROTECTIVE SPECIALIST ...,6721.58,637.98,MANHATTAN
16070,ADMIN FOR CHILDREN'S SVCS,2013-02-04T00:00:00.000,43116.00,MONSURAT,2016,ABDULGANIYU,ACTIVE,A,293.50,per Annum,NaN,41993.34,1802.00,JUVENILE COUNSELOR ...,9168.39,953.13,BRONX
16071,ADMIN FOR CHILDREN'S SVCS,2015-10-19T00:00:00.000,66000.00,NADIYAH,2016,ABDULLAH,ACTIVE,S,1.25,per Annum,NaN,42043.44,1260.75,CHILD AND FAMILY SPECIALIST ...,45.15,107.25,MANHATTAN
16072,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43116.00,AZIZA,2016,ABDUL-WAHHAB,ON LEAVE,S,135.00,per Annum,NaN,41588.50,1689.75,JUVENILE COUNSELOR ...,5115.59,4040.53,BROOKLYN
16073,ADMIN FOR CHILDREN'S SVCS,1998-12-14T00:00:00.000,53126.00,KHALIL,2016,ABDUS-SHAHID,ACTIVE,NaN,281.50,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,9908.27,7332.36,MANHATTAN
16074,ADMIN FOR CHILDREN'S SVCS,2001-04-30T00:00:00.000,65896.00,KERLINE,2016,ABELLARD-ROSEAU,ACTIVE,NaN,0.00,per Annum,NaN,69255.96,1830.00,STAFF ANALYST ...,0.00,6394.31,MANHATTAN
16075,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,80823.00,COMFORT,2016,ABENGOWE,ACTIVE,U,130.75,per Annum,NaN,79955.18,1830.00,CHILD AND FAMILY SPECIALIST ...,6382.19,346.54,QUEENS
16076,ADMIN FOR CHILDREN'S SVCS,1997-02-02T00:00:00.000,95173.00,JEANINE,2016,ABERNATHY,ACTIVE,E,0.00,per Annum,NaN,94167.63,1830.00,DIRECTOR OF FIELD OPERATIONS ...,0.00,0.00,BRONX
16077,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56900.00,NARRESH,2016,ABICHANDANI,ACTIVE,NaN,85.00,per Annum,NaN,56284.69,1830.00,CHILD PROTECTIVE SPECIALIST ...,3457.86,4296.48,QUEENS
16078,ADMIN FOR CHILDREN'S SVCS,2016-04-25T00:00:00.000,100116.00,KEREN,2016,ABINA,ACTIVE,NaN,0.00,per Annum,NaN,13403.50,340.00,ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES ...,0.00,0.00,MANHATTAN
16079,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,53714.00,VICENTE,2016,ABOLENCIA,ACTIVE,NaN,0.00,per Annum,NaN,53132.72,1830.00,CHILD WELFARE SPECIALIST ...,30.95,4133.74,MANHATTAN
16080,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,72041.00,ABRAHAM,2016,ABRAHAM,ACTIVE,T,114.50,per Annum,NaN,71263.06,1830.00,CHILD WELFARE SPECIALIST ...,4220.59,4133.74,QUEENS
16081,ADMIN FOR CHILDREN'S SVCS,2007-06-04T00:00:00.000,53126.00,FENISE,2016,ABRAHAM,ACTIVE,NaN,85.25,per Annum,NaN,40841.08,1502.00,CHILD PROTECTIVE SPECIALIST ...,3383.83,2533.71,BRONX
16082,ADMIN FOR CHILDREN'S SVCS,2014-12-01T00:00:00.000,57005.00,VAYOLA,2016,ABRAHAM,ACTIVE,K,0.00,per Annum,NaN,56184.66,1830.00,AGENCY ATTORNEY ...,0.00,1130.91,BROOKLYN
16083,ADMIN FOR CHILDREN'S SVCS,2009-05-18T00:00:00.000,53126.00,ZULY,2016,ABRAHAM,ACTIVE,E,39.00,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,1200.36,2420.76,BRONX
16084,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,80823.00,ALTHEA,2016,ABRAHAMS,ACTIVE,NaN,0.00,per Annum,NaN,79955.18,1830.00,CHILD AND FAMILY SPECIALIST ...,0.00,116.00,QUEENS
16085,ADMIN FOR CHILDREN'S SVCS,2015-02-09T00:00:00.000,49820.00,BRANDON,2016,ABREU,ACTIVE,J,444.25,per Annum,NaN,48695.44,1830.00,CHILD PROTECTIVE SPECIALIST ...,15820.93,440.43,RICHMOND
16086,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,53126.00,MELISSA,2016,ABSALON,ACTIVE,NaN,179.50,per Annum,NaN,52555.43,1829.77,CHILD PROTECTIVE SPECIALIST ...,5362.52,2240.85,MANHATTAN
16087,ADMIN FOR CHILDREN'S SVCS,2007-06-04T00:00:00.000,53126.00,MAHA,2016,ABULABAN,ACTIVE,A,211.75,per Annum,NaN,52555.43,1830.00,CHILD PROTECTIVE SPECIALIST ...,6822.07,3707.20,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38044,DEPT OF ED PARA PROFESSIONALS,2008-09-02T00:00:00.000,28650.00,SUSANNE,2016,ZIRINO,ACTIVE,T,0.00,per Annum,NaN,24443.01,0.00,ANNUAL ED PARA ...,0.00,5.62,MANHATTAN
38045,DEPT OF ED PARA PROFESSIONALS,2013-04-29T00:00:00.000,32766.00,JANELLE,2016,ZIRPOLI,ACTIVE,M,0.00,per Annum,NaN,28002.98,0.00,ANNUAL ED PARA ...,0.00,8.24,MANHATTAN
38046,DEPT OF ED PARA PROFESSIONALS,2014-09-05T00:00:00.000,28650.00,ANDROULLA,2016,ZISIS,ACTIVE,S,0.00,per Annum,NaN,20698.81,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38047,DEPT OF ED PARA PROFESSIONALS,2013-12-09T00:00:00.000,27684.00,FRANK,2016,ZITO,CEASED,NaN,0.00,per Annum,NaN,5152.30,0.00,ANNUAL ED PARA ...,0.00,2.74,MANHATTAN
38048,DEPT OF ED PARA PROFESSIONALS,2012-03-19T00:00:00.000,32766.00,JACQUELINE,2016,ZITO,ACTIVE,NaN,0.00,per Annum,NaN,31894.40,0.00,ANNUAL ED PARA ...,0.00,3.93,MANHATTAN
38049,DEPT OF ED PARA PROFESSIONALS,2012-03-28T00:00:00.000,28650.00,KELLY,2016,ZITO,ACTIVE,A,0.00,per Annum,NaN,21360.43,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38050,DEPT OF ED PARA PROFESSIONALS,1989-01-03T00:00:00.000,36127.00,NOREEN,2016,ZITO,CEASED,P,0.00,per Annum,NaN,2456.93,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38051,DEPT OF ED PARA PROFESSIONALS,1999-12-06T00:00:00.000,24157.00,NICOLE ANN,2016,ZITTEL,ACTIVE,A,0.00,per Annum,NaN,29324.25,0.00,TEACHER AIDE ...,53.94,0.00,MANHATTAN
38052,DEPT OF ED PARA PROFESSIONALS,1997-03-12T00:00:00.000,30376.00,TRINA,2016,ZOGLIO,ACTIVE,NaN,0.00,per Annum,NaN,29522.68,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38053,DEPT OF ED PARA PROFESSIONALS,2015-09-09T00:00:00.000,23614.00,EVITA,2016,ZOGU,ACTIVE,NaN,0.00,per Annum,NaN,17560.34,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38055,DEPT OF ED PARA PROFESSIONALS,2015-03-18T00:00:00.000,28650.00,YANARY,2016,ZOQUIER,ACTIVE,NaN,0.00,per Annum,NaN,21294.25,0.00,ANNUAL ED PARA ...,0.00,539.59,MANHATTAN
38056,DEPT OF ED PARA PROFESSIONALS,2014-01-07T00:00:00.000,37565.00,SENIZ,2016,ZORALI,ACTIVE,NaN,0.00,per Annum,NaN,32498.06,0.00,ANNUAL ED PARA ...,0.00,0.61,MANHATTAN
38058,DEPT OF ED PARA PROFESSIONALS,1999-05-14T00:00:00.000,39291.00,CARMEN,2016,ZORRILLA,ACTIVE,NaN,0.00,per Annum,NaN,53034.48,0.00,ANNUAL ED PARA ...,757.58,0.01,MANHATTAN
38059,DEPT OF ED PARA PROFESSIONALS,2004-02-13T00:00:00.000,38108.00,TERESA,2016,ZUARDO,ACTIVE,NaN,0.00,per Annum,NaN,43528.02,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38060,DEPT OF ED PARA PROFESSIONALS,1999-09-08T00:00:00.000,39291.00,GRIGORI,2016,ZUBKIN,ACTIVE,M,0.00,per Annum,NaN,44883.42,0.00,ANNUAL ED PARA ...,19.64,0.00,MANHATTAN
38062,DEPT OF ED PARA PROFESSIONALS,2008-11-17T00:00:00.000,38108.00,JOSHUA,2016,ZUCKERBERG,ACTIVE,D,0.00,per Annum,NaN,36741.14,0.00,ANNUAL ED PARA ...,0.00,0.01,MANHATTAN
38063,DEPT OF ED PARA PROFESSIONALS,1986-11-10T00:00:00.000,35915.00,RANDI,2016,ZUCKERBERG,CEASED,B,0.00,per Annum,NaN,9640.33,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38064,DEPT OF ED PARA PROFESSIONALS,1992-06-05T00:00:00.000,34862.00,MADELINE,2016,ZUCKERBROW,CEASED,M,0.00,per Annum,NaN,22.99,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38066,DEPT OF ED PARA PROFESSIONALS,2000-01-19T00:00:00.000,39291.00,JULIE,2016,ZUKOFF,ACTIVE,NaN,0.00,per Annum,NaN,37936.06,0.00,ANNUAL ED PARA ...,0.00,0.04,MANHATTAN
38067,DEPT OF ED PARA PROFESSIONALS,2005-03-09T00:00:00.000,33309.00,LINA,2016,ZULLO,ACTIVE,NaN,0.00,per Annum,NaN,32373.12,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38068,DEPT OF ED PARA PROFESSIONALS,1991-09-11T00:00:00.000,39291.00,MARY,2016,ZUMMO,ACTIVE,NaN,0.00,per Annum,NaN,38139.02,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38070,DEPT OF ED PARA PROFESSIONALS,2010-07-01T00:00:00.000,32766.00,CHRISTINE,2016,ZUNNO,ACTIVE,NaN,0.00,per Annum,NaN,31845.20,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38071,DEPT OF ED PARA PROFESSIONALS,2012-04-03T00:00:00.000,32766.00,NICHOLAS,2016,ZUVIC,ACTIVE,A,0.00,per Annum,NaN,33426.91,0.00,ANNUAL ED PARA ...,76.41,0.00,MANHATTAN
38072,DEPT OF ED PARA PROFESSIONALS,2013-05-06T00:00:00.000,23614.00,DANIELLE,2016,ZUVICH,ACTIVE,D,0.00,per Annum,NaN,22927.66,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38073,DEPT OF ED PARA PROFESSIONALS,2005-01-12T00:00:00.000,33309.00,VINKA,2016,ZUZIC,ACTIVE,NaN,0.00,per Annum,NaN,35918.52,0.00,ANNUAL ED PARA ...,8.68,0.00,MANHATTAN
38074,DEPT OF ED PARA PROFESSIONALS,2008-05-22T00:00:00.000,37565.00,INESSA,2016,ZVEROVICH,ACTIVE,I,0.00,per Annum,NaN,36509.24,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38075,DEPT OF ED PARA PROFESSIONALS,2013-12-28T00:00:00.000,37565.00,MOHAMED,2016,ZYADA,ACTIVE,NaN,0.00,per Annum,NaN,37681.23,0.00,ANNUAL ED PARA ...,98.35,0.00,MANHATTAN
38076,DEPT OF ED PARA PROFESSIONALS,2005-03-17T00:00:00.000,38108.00,KEZE,2016,ZYLO,ACTIVE,NaN,0.00,per Annum,NaN,37037.12,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN
38077,DEPT OF ED PARA PROFESSIONALS,2013-12-30T00:00:00.000,28650.00,ANNA,2016,ZYSK,ACTIVE,M,0.00,per Annum,NaN,24163.95,0.00,ANNUAL ED PARA ...,0.00,16.30,MANHATTAN
38078,DEPT OF ED PARA PROFESSIONALS,2007-05-30T00:00:00.000,32766.00,NASIMA,2016,ZZAMAN,ACTIVE,NaN,0.00,per Annum,NaN,31845.20,0.00,ANNUAL ED PARA ...,0.00,0.00,MANHATTAN